<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>AngelsGlobal | AG 跨境天使平台</title>
		<meta name="description" content="跨境天使平台（AngelsGlobal,简称AG）成功通过微demo组织了硅谷和中国的创业者通过微信平台对接两地投资人，并且成功帮助若干创业团队融资到位">	

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="/static/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="/static/fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="/static/plugins/rs-plugin/css/settings.css" media="screen" rel="stylesheet">
		<link href="/static/plugins/rs-plugin/css/extralayers.css" media="screen" rel="stylesheet">
		<link href="/static/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="/static/css/animations.css" rel="stylesheet">
		<link href="/static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">

		<!-- core CSS file -->
		<link href="/static/css/style.css" rel="stylesheet">
        
         <!-- Favicons -->
        <link rel="shortcut icon" href="/static/images/favicon.png">


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	
	<body class="front no-trans">
                <input type="hidden" id="userid" value="{{ luserid }}" data-lprofimg="{{ lprofimg }}" data-lusrname = "{{ lusername }}"/>
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
           {% if not user.is_authenticated %}
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-sm-6">
                        </div>
                        <div class="col-xs-10 col-sm-6">

                            <!-- header-top-second start -->
                            <!-- ================ -->
                            <div class="clearfix" id="header-top-second">

                                <!-- header top dropdowns start -->
                                <!-- ================ -->
                                <div class="header-top-dropdown">

                                    <div class="btn-group dropdown">
                                        <button id="loginbtn" class="btn" type="button"><i class="fa fa-sign-in"></i>登录</button>
                                    </div>


                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn" id="registerbtn"><i class="fa fa-user"></i>注册</button>
                                    </div>


                                    <!-- Modal end-->
                                    <div class="btn-group dropdown">
                                        <button class="btn" type="button" ng-click="vm.english()"><i class="fa fa-globe"></i>English</button>
                                    </div>

                                </div>
                                <!--  header top dropdowns end -->

                            </div>
                            <!-- header-top-second end -->

                        </div>
                    </div>
                </div>
            </div>
           {% else %}
			<!-- header-top start  -->
			<!-- ================ -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-sm-6">
							
						</div>
						<div class="col-xs-10 col-sm-6">

							<!-- header-top-second start -->
							<!-- ================ -->
							<div id="header-top-second"  class="clearfix">
                            
								<!-- header top dropdowns start -->
								<!-- ================ -->
								<div class="header-top-dropdown">
                                     <div class="btn-group dropdown">
                                     <button type="button"  onclick="window.location.href='/agglobal/emails'" class="btn pad4 dropdown-toggle">   &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o count-email"></i><span class="label label-blue count-info">{{ totalemails }}</span>
                                     </button>
									</div>

                                    
                                  
                                    

                                    
                                    
                                    
                                    <div class="btn-group dropdown">
										<button type="button" class="btn pad4 dropdown-toggle" data-toggle="dropdown"><img class="signIn-img" alt="" src="{{ lprofimg }}">  <span class="sign-down">&nbsp;&nbsp;{{ lusername }}</span></button>
                                        
                                    <ul class="dropdown-menu dropdown-menu-right pad0 dropdown-animation  sign-down-list">
											<li>
												<table class="table table-hover bottom0">
													<thead>
														<tr>
															<th class="th2"></th>
														</tr>
													</thead>
													<tbody>
											 {% if lusertype == 'u' %}
									          {% if lcompanies %}<tr>
															<td class="down-list"><a href="" data-toggle="modal" data-target="#editStartups"><i class="fa fa-wrench"></i> 管理项目</a></td>
														</tr>
											  {% else %} <tr>
															<td class="down-list"><a href="/agglobal/create_startup"><i class="fa fa-wrench"></i> 创建项目</a></td>
														</tr>
                                              {% endif %}
											  {% endif %}
											  {% if lusertype == 'u' %}
														{% if lcompanies %}
														<tr>
															<td class="down-list"><a href="" type="button" data-toggle="modal" data-target="#bp" ><i class="fa fa-upload"></i> 上传商业计划书</a></td>
														</tr>
														{% else %}
															<td class="down-list"><a href="/agglobal/submitBp" type="button" ><i class="fa fa-upload"></i> 上传商业计划书</a></td>
                                                        {% endif %}
												{% endif %}
															                                               <!-- Modal start -->
                                                <div class="modal fade" id="bp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog modal-md">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">选择项目</h4>
                                                         </div>
                                                         <div class="modal-body">
                                                            <div class="row">
                                                               <div class="col-md-12">
                                                                  <!-- bp start -->
                                                                  <div class="col-md-10 col-md-offset-1">
                                                                     <div class="sidebar">
                                                                        <div class="block clearfix">
                                                                           请选择您要上传或更新商业计划书旳项目:<br>
                                                                           <div class="separator-2"></div>
                                                                           <nav>
                                                                              <ul class="nav nav-pills nav-stacked">
                                                                                 {% for comp in lcompanies %}
                                                                                 <li><a href="/agglobal/submitBp?companyid={{ comp.company_id }}">{{ comp.project_name }}</a></li>
                                                                                 {% endfor %}
                                                                              </ul>
                                                                           </nav>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <!-- bp end -->
                                                               </div>
                                                            </div>
                                                            <!-- row end-->
                                                            <!-- main-container end -->
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <!-- Modal end-->
														<tr>{% if lusertype == 'u' %}
															<td class="down-list"><a href="/agglobal/viewUserProfile/{{ luserid }}"><i class="fa fa-user"></i> 个人主页</a></td>
														    {% elif lusertype == 'i' %}
														    <td class="down-list"><a href="/agglobal/viewInvProfile/{{ luserid }}"><i class="fa fa-user"></i> 个人主页</a></td>
                                                            {% endif %}
														</tr>
                                                        <tr>
															<td class="down-list"><a href="/agglobal/settings/"><i class="fa fa-cog"></i> 管理账号</a></td>
														</tr>
                                                        <tr>
															<td class="down-list"><a href="/agglobal/logout"><i class="fa fa-power-off"></i> 退出</a></td>
														</tr>
														
													</tbody>
												</table>
												
											</li>
										</ul>    
                                        	
									</div>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                    
                                    
									<div class="btn-group dropdown">
										<button type="button" class="btn"><i class="fa fa-globe"></i> English</button>	
									</div>

								</div>
								<!--  header top dropdowns end -->

							</div>
							<!-- header-top-second end -->

						</div>
					</div>
				</div>
			</div>
			<!-- header-top end -->
            {% endif %}
			<!-- header start  -->
			<header class="header fixed clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-3">

							<!-- header-left start -->
							<!-- ================ -->
							<div class="header-left clearfix">

								<!-- logo -->
								<div class="logo">
									<a href="/agglobal/home"><img id="logo" src="/static/images/logo.png" alt="AngelsGlobal"></a>
								</div>

								

							</div>
							<!-- header-left end -->

						</div>
						<div class="col-md-9">

							<!-- header-right start -->
							<!-- ================ -->
							<div class="header-right clearfix">

								<!-- main-navigation start -->
								<!-- ================ -->
								<div class="main-navigation animated">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<ul class="nav navbar-nav navbar-right">
													<li class="active">
														<a href="/agglobal/home">首 页</a>
													</li>
																										
													<li><a href="/agglobal/startups/">创业项目</a></li>
                                                    <li><a href="/agglobal/investors/">投资人</a></li>
													
													
													<li class="dropdown">
														<a href="event.html" class="dropdown-toggle" data-toggle="dropdown">AG Home</a>
														<ul class="dropdown-menu">
															<li><a href="/static/event.html">We Demo</a></li>
															<li><a href="/static/event.html">We School</a></li>
															<li><a href="/static/event.html">AG Events</a></li>
															<li><a href="/static/event.html">AG Alumni</a></li>
								
														</ul>
													</li>
												</ul>
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->

							</div>
							<!-- header-right end -->

						</div>
					</div>
				</div>
			</header>
			<!-- header end -->


  			<!-- ================ -->

            
            {% block sectionbody %}{% endblock %}

                
			<!-- profile end -->

	
                <!-- Modal start -->
                                                <div class="modal fade" id="editStartups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog modal-md">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">选择项目</h4>
                                                         </div>
                                                         <div class="modal-body">
                                                            <div class="row">
                                                               <div class="col-md-12">
                                                                  <!-- bp start -->
                                                                  <div class="col-md-10 col-md-offset-1">
                                                                     <div class="sidebar">
                                                                        <div class="block clearfix">
                                                                           <a href="/agglobal/create_startup"><i class="fa fa-pencil"></i> 创建新的项目
                                                                          </a><br><br>
                                                                           请选择您要更改的项目:<br>
                                                                           <div class="separator-2"></div>
                                                                           <nav>
                                                                              <ul class="nav nav-pills nav-stacked">
                                                                                 {% for comp in lcompanies %}
                                                                                 <li><a href="/agglobal/viewStartup/{{ comp.company_id }}">{{ comp.project_name }}</a></li>
                                                                                 {% endfor %}
                                                                              </ul>
                                                                           </nav>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <!-- bp end -->
                                                               </div>
                                                            </div>

                                                            <!-- row end-->
                                                            <!-- main-container end -->
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
               <!-- Modal end-->
    
  			<!-- footer  -->
			<!-- ================ -->
            <footer id="footer">
            
				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>Copyright © 2015  <a target="_blank" href="#">AngelsGlobal</a>. All Rights Reserved</p>
							</div>
							<div class="col-md-6">
								<nav class="navbar navbar-default" role="navigation">
									  
									<div class="collapse navbar-collapse" >
										<ul class="nav navbar-nav">
											<li><a href="/static/Layout.html">联系我们</a></li>
											<li><a href="＃">关于我们</a></li>
											<li><a href="＃">招聘信息</a></li>
											<li><a href="/static/portfolio-3col.html">AG创业咖啡</a></li>
										</ul>
                                        
                                        
                                        
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->

		</div>
		<!-- page-wrapper end -->
        

			<!-- JavaScript files -->
            
		<!-- Jquery and Bootstap core js files -->
				<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

         <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>



		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

        <script>
        $('#loginbtn').on('click', function(event){
            window.location="/static/Layout.html?promptlogin=true"
        });
        $('#registerbtn').on('click', function(event){
            window.location="/static/Layout.html?promptregister=true"
        });

        </script>

       {% block extrascript %}
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>

		<script type="text/javascript" src="/static/js/email_user.js"></script>
		<script type="text/javascript" src="/static/plugins/moment.min.js"></script>
        {% endblock %}
	</body>
</html>
