{% extends "agglobal/base.html" %}

{% block sectionbody %}
                <input type="hidden" id="companyid" value="{{ companyid }}"/>


            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">Business plan review</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->

<!-- main start -->
           
            <section class="bg-bp pad">
               
				<div class="container">
                       
                      <div class="top30">
                          <div class="photo">
                           <a href="#"><img alt="" src="{{ lprofimg }}"></a>
                          </div>
                          <div class="text">
                                <div class="name font20">
                                    <a id="project_name" href="#"></a>
                                </div>
                                <div class="comment">
                                    创始人：<span id="founder_name"></span><br>
                                    融资金额：<span id="budg"></span>
                                </div>
                          </div>
                     </div>
                     <p>
                     <p>
               </p>
                <a id="pdf_fullscreen" href="" target="_blank">全屏阅读</a>
                <div class="a">
   <iframe src=""  frameborder="0" allowfullscreen class="full-screen">
     </iframe>
    </div>
     	
				</div>
			</section>
            
<!-- main end -->

			
            <!-- review start -->
            
            <div class="section bg-bp">
				<div class="container">
                
                 <h2>您的评论</h2>
							<div class="separator-2"></div>
                            
                      <div class="row">
                        <div class="col-md-3">
                        <p>
                            <div class="row">
                                 <div class="col-xs-5 text-right">
                                      商业模式： 
                                 </div>
                                 <div class="col-xs-7">
                                     <div id="star-1" class="rate-start text-left"></div> <div id="ratingScore1" class="rate-score text-left"></div> 
                                 </div>
                            </div>
                              
                            <div class="row">
                                 <div class="col-xs-5 text-right">
                                      可扩张性： 
                                 </div>
                                 <div class="col-xs-7">
                                     <div id="star-2" class="rate-start text-left"></div> <div id="ratingScore2" class="rate-score text-left"></div> 
                                 </div>
                            </div>
                            
                            <div class="row">
                                 <div class="col-xs-5 text-right">
                                      创新性： 
                                 </div>
                                 <div class="col-xs-7">
                                     <div id="star-3" class="rate-start text-left"></div> <div id="ratingScore3" class="rate-score text-left"></div> 
                                 </div>
                            </div>
                            
                            
                            <div class="row">
                                 <div class="col-xs-5 text-right">
                                      项目团队： 
                                 </div>
                                 <div class="col-xs-7">
                                     <div id="star-4" class="rate-start text-left"></div> <div id="ratingScore4" class="rate-score text-left"></div> 
                                 </div>
                            </div>
                        
                        </div>
                        
                        <div class="col-md-9">
                          <form >
									<textarea id="review-text" class="form-control" rows="8"></textarea>
										
								   
                                <div class="form-group">
									<button id="rating-submit" type="submit" class="btn btn-default">提交</button>
								</div>
                          </form>
                        
                        </div>
                             
					  </div>

					  <div id="reviews"></div>
                      <!--row end-->
                    <!--              <hr>

                                <div class="row" id="reviewList">
                                   <div class="col-md-1 col-sm-2 col-xs-3">
                                     <a href="#"><img class="post-img" alt="" src="images/user_example.jpg"></a><br><a href="#">+关注</a>
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-9 text-left">
                                        <span class="post-title">王一鸣</span> <br>
                                         <span class="post-date">2015.05</span><p><p>

                                          有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人

                                   </div>
                                </div>

                                                 <hr>

                                                 <div class="row" id="reviewList">
                                                     <div class="col-md-1 col-sm-2 col-xs-3">
                                                       <a href="#"><img class="post-img" alt="" src="images/user_example.jpg"></a><br><a href="#">+关注</a>
                                                      </div>
                                                      <div class="col-md-11 col-sm-10 col-xs-9 text-left">
                                                          <span class="post-title">王一鸣</span> <br>
                                                           <span class="post-date">2015.05</span><p><p>

                                                            有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人

                                                     </div>
                                                  </div>

                                                  <hr>

                                                   <div class="row" id="reviewList">
                                                     <div class="col-md-1 col-sm-2 col-xs-3">
                                                       <a href="#"><img class="post-img" alt="" src="images/user_example.jpg"></a><br><a href="#">+关注</a>
                                                      </div>
                                                      <div class="col-md-11 col-sm-10 col-xs-9 text-left">
                                                          <span class="post-title">王一鸣</span> <br>
                                                           <span class="post-date">2015.05</span><p><p>

                                                            有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人

                                                     </div>
                                                  </div>

                                                  <hr>

                                                   <div class="row" id="reviewList">
                                                     <div class="col-md-1 col-sm-2 col-xs-3">
                                                       <a href="#"><img class="post-img" alt="" src="images/user_example.jpg"></a><br><a href="#">+关注</a>
                                                      </div>
                                                      <div class="col-md-11 col-sm-10 col-xs-9 text-left">
                                                          <span class="post-title">王一鸣</span> <br>
                                                           <span class="post-date">2015.05</span><p><p>

                                                            有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人,有丰富的TMT研究经验，做一个与创业者共同成长的投资人

                                                     </div>
                                                  </div> -->
                      
                      <hr>
                      
                      
                      <p></p>  
                      <a id="see-all" href="＃" class="view_all">查看全部  >></a>
                      
                         
                    
				</div>
               
			</div>
            <!-- review end  -->
            
 {% endblock %}
            
       {% block extrascript %}
     <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>


		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

        <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>


        <!-- Rating javascript -->
		<script type="text/javascript" src="/static/plugins/raty/jquery.raty.js"></script>



         <!-- Rating JS -->
<script>
  $.fn.raty.defaults.path = '/static/plugins/raty/images';

  $(function() {
  	bmRate = 0;
   exRate = 0;
   inRate = 0;
   prRate = 0;


$('#rating-submit').on('click',function (event){
    event.preventDefault();
    var msgToSend = {
        "companyid": $('#companyid').val(),
    	"business_model": bmRate.text(),
    	"expandibility": exRate.text(),
    	"innovativeness": inRate.text(),
    	"projectteam": prRate.text(),
    	"usercomment": $('#review-text').val()
    };
    $.ajax({
        url: '/agglobal/postbp_rating/',
        data: JSON.stringify(msgToSend),
        dataType: 'json',
        type: 'POST',
        crossDomain: true,
        success: function(msgs) {
            alert("成功提交评语！");
        	//$('#review-text').val('');
            //console.log('success');
        },
        error: function(err) {
            console.log(err);
        }
    });

});

$('#see-all').on('click', function(event){
    event.preventDefault();
    $.ajax({
        url: '/agglobal/queryall_bpreviews/' + $('#companyid').val(),
        //crossDomain: true,
        //data: session,
        type: 'GET',
        dataType:'json',
        success: function(res) {
            $.each(res.data ,function (index, data){
                $('#reviews').append("<hr><div class='row' id='reviewList'><div class='col-md-1 col-sm-2 col-xs-3'><a href='#'><img class='post-img' alt='' src='"+data.profileimg+"'></a><br></div><div class='col-md-11 col-sm-10 col-xs-9 text-left'><span class='post-title'>"+data.username+"</span> <br><span class='post-date'></span><p><p>" +data.usercomment+"</div></div>");
            });
            $('#see-all').css('display','none');
        }
    });
});

$(document).ready(function(){
    var companyId = $('#companyid').val();
    $.ajax({
        url: '/agglobal/query_bp/' + companyId,
        //crossDomain: true,
        //data: session,
        type: 'GET',
        dataType:'json',
        success: function(res) {
        	$('#project_name').append(res.data.project_name);
        	$('#founder_name').append(res.data.member);
        	$('#budg').append(res.data.investment_budget);
        	$('iframe').attr('src',res.data.business_plan);
        	$('#pdf_fullscreen').attr('href',res.data.business_plan);
            $('#ratingScore1').text(res.data.business_model);
            $('#ratingScore2').text(res.data.expandibility);
            $('#ratingScore3').text(res.data.innovativeness);
            $('#ratingScore4').text(res.data.projectteam);
            $('#review-text').val(res.data.usercomment);
            $('#star-1').raty({
                score: res.data.business_model,
                click: function(score, evt) {

                    bmRate = $('#ratingScore1').text(score);
                }
            });

            $('#star-2').raty({
                score: res.data.expandibility,
                click: function(score, evt) {

                    exRate = $('#ratingScore2').text(score);
                }
            });

            $('#star-3').raty({
                score: res.data.innovativeness,
                click: function(score, evt) {

                    inRate = $('#ratingScore3').text(score);
                }
            });


            $('#star-4').raty({
                score: res.data.projectteam,
                click: function(score, evt) {

                    prRate = $('#ratingScore4').text(score);
                }
            });
//             dic_obj["business_model"] = bprel_obj.business_model
//             dic_obj["expandibility"] = bprel_obj.expandibility
//             dic_obj["innovativeness"] = bprel_obj.innovativeness
//             dic_obj["projectteam"] = bprel_obj.projectteam
//             dic_obj["usercomment"] = bprel_obj.usercomment
        	//res.data.business_model
        	//res.data.expandibility
        	//res.data.innovativeness
        	//res.data.projectteam
        	//res.data.usercomment
        },
        error: function() { alert('连接数据库失败！');  }
	});

   });
})
</script>
        {% endblock %}

