{% extends "agglobal/base.html" %}

{% block sectionbody %}

			<!-- main-container start -->
			<!-- ================ -->
            
            <div class="main col-md-4 col-md-offset-4">
                        	
                               <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                               	<form id="upload-pdf" enctype="multipart/form-data" method="post" name="fileinfo">
                                     <input type="hidden" id="companyid" value="{{ companyid }}"/>

										<a id="select-file" href="#"><i class="fa fa-upload"></i></a>
									<div class="fileUpload">	
										<input type="file" class="upload" accept="application/pdf" />
									</div>
										<h2>上传商业计划书</h2>
										<p>只接受pdf格式旳商业计划书，word，ppt或其他格式请先转成pdf文件。谢谢合作。</p>
                                  <p id="chosen-file" style="color:red;"></p>      
                                  <div id="submit-file" class=" btn btn-default">

                                       <span>提交</span>
                                       
                                  </div> 
                                  </form>
                               </div>
              </div>
{% endblock %}
            
           
{% block extrascript %}

        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $.ajax({
			         url: '/agglobal/queryallcompany_user/',
			         type: 'GET',
			         dataType: 'json',
			         success: function (json) {
			           if (!json.data || (json.data.length == 0)) {
			            alert("You need to create a startup first before submit bp");
			            $('#submit-file').attr('disabled','disabled');
			           }

			           for (var i = 0; i < json.data.length; i ++) {

			           }
			         },
			         error: function (jqXHR, textStatus, errorThrown){
			         	console.log(jqXHR);
			         	console.log(textStatus);
			         	console.log(errorThrown);
			         }

                });
            });
			$('#select-file').click(function (e){
				e.preventDefault();
				$('#upload-pdf .upload').trigger('click');
			});
        	$('#upload-pdf input').change(function (e){
        		$('#chosen-file').html('已选择'+$('#upload-pdf .upload').prop('files')[0].name);
        	});
        	$('#submit-file').on('click',function (e){
        		e.preventDefault()
    			var formData = new FormData();
			   formData.append("companyid", $('#companyid').val());
			   formData.append($('#upload-pdf .upload').prop('files')[0].name, $('#upload-pdf .upload').prop('files')[0]);
			    $.ajax({
			         url: '/agglobal/file_upload4/',
			         type: 'POST',
			         crossDomain: true,
			         data: formData,
			         dataType: 'json',
			         //cache: false,
			         contentType: false,
			         enctype: "multipart/form-data",
			         processData: false,
			         success: function (json) {
			           console.log(json);
			           window.location.href  = "/agglobal/bpupload_success/"
			         },
			         error: function (jqXHR, textStatus, errorThrown){
			         	console.log(jqXHR);
			         	console.log(textStatus);
			         	console.log(errorThrown);
			         }
			    });
        	})


			
        </script>
        
{% endblock %}

