
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">






        <!-- page-info start-->
        <div class="page-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 page-info">
                        <h1 class="h1-page-title">新建项目</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-info end -->


        <!-- page-intro start-->
        <!-- ================ -->
        <div class="page-intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home pr-10"></i><a href="index.html">主页</a></li>
                            <li class="active">新建项目</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-intro end -->







        <!-- main-container start -->

        <!-- ================ -->
        <section class="main-container" ng-controller="CreateStartup1Ctrl as vm">

            <div class="container">
                <div class="row">
                    <div class="main col-md-12">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class=" object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                            <div class="form-size-statup center-block">
                                <form class="form-horizontal" role="form">

                                    <div class="form-group has-feedback">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-8">
                                        </div>
                                    </div>


                                    <div class="form-group has-feedback">
                                        <label for="inputName" class="col-sm-3 control-label">项目名称 <span class="text-danger small">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="vm.model.project_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                         <label for="inputUserName" class="col-sm-3 control-label"> <span class="text-danger small">*</span></label>                                                                      
                                        <div class="col-sm-8">
                                            <button ngf-select ng-model="vm.model.company_logo" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, null)">公司Logo </button>
                                        </div>
                                    </div>


                                    <div class="form-group has-feedback">
                                        <label for="inputUserName" class="col-sm-3 control-label">所属行业 <span class="text-danger small">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="vm.model.industry">
                                                <option value="互联网">互联网</option>
                                                <option value="软件">软件</option>
                                                <option value="金融">金融</option>
                                                <option value="房地产">房地产</option>
                                                <option value="其他">其他</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="l" class="col-sm-3 control-label">所在地区 <span class="text-danger small">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="Text2" ng-model="vm.model.location" required>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputStep" class="col-sm-3 control-label" >融资阶段<span class="text-danger small">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="vm.model.invested_status">
                                                <option>天使轮</option>
                                                <option>Pre A</option>
                                                <option>A 轮</option>
                                                <option>B 轮</option>
                                                <option>B 轮以后</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputStep" class="col-sm-3 control-label">融资金额<span class="text-danger small">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="vm.model.investment_budget">
                                                <option>&lt;= ￥50万</option>
                                                <option>&lt;= ￥200万</option>
                                                <option>&lt;= ￥500万</option>
                                                <option>&lt;= ￥3000万</option>
                                                <option>&gt;￥3000 万</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="l" class="col-sm-3 control-label">公司网址</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="Text3" required ng-model="vm.model.company_site">
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="l" class="col-sm-3 control-label">一句话介绍</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="Text4" required ng-model="vm.model.introduction">
                                        </div>
                                    </div>


                                    <div class="form-group has-feedback">
                                        <label class="col-sm-3 control-label">产品图片</label>
                                        <div class="col-sm-8">

                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <img ng-src="{{vm.product_img1}}" src="images/team-member-1.jpg" class="userimg">
                                                    <button ngf-select ng-model="vm.model.product_img1" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, vm.product_img1)">Choose File</button>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <img ng-src="{{vm.product_img2}}" src="images/team-member-1.jpg" class="userimg">
                                                    <button ngf-select ng-model="vm.model.product_img2" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, vm.product_img1)">Choose File</button>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <img ng-src="{{vm.product_img3}}" src="images/team-member-1.jpg" class="userimg">
                                                    <button ngf-select ng-model="vm.model.product_img3" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, vm.product_img1)">Choose File</button>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <img ng-src="{{vm.product_img4}}" src="images/team-member-1.jpg" class="userimg">
                                                    <button ngf-select ng-model="vm.model.product_img4" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, vm.product_img1)">Choose File</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="form-group has-feedback">
                                        <label class="col-sm-3 control-label">提交商业计划书</label>
                                        <div class="col-sm-8">
                                            <button ngf-select ng-model="vm.model.business_plan" ngf-multiple="multiple"  ngf-change="vm.fileSelected($files)">Choose File</button>
                                        </div>
                                    </div>



                                    <div class="form-group has-feedback">
                                        <label class="col-sm-3 control-label">公司简介</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" rows="8" ng-model="vm.model.description"></textarea>
                                            
                                            <span ng-bind="vm.countOf(vm.model.description) + '/1000'"></span>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-8">
                                            <button type="submit" class="btn btn-default" ng-click="vm.next()">下一步</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- main end -->

                </div>
            </div>
        </section>

        <!-- main-container end -->

    </div>
    <!-- page-wrapper end -->


    <!-- JavaScript files -->

    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
<!--    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>


    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/jquery.appear.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>



