{% extends "agglobal/base.html" %}

{% block sectionbody %}
            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">Email</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


            <section class="section clearfix">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
                                
                                <div class="sidebar">
										<div class="side product-item vertical-divider-right">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">收件箱</a></li>
													<li><a href="#h2tab2" role="tab" data-toggle="tab">发件箱</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab1">
														
														<p>
                            <div id="msg-wrapper">
                                                       
                                                       <!-- Email list start -->     
                              
                               <!--    <table class="table table-hover email">						
                               <tbody>
									 <tr class="new-email">
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr class="new-email">
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example2.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr class="new-email">
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                   <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                    <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                   <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验，做一个</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                    <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">有丰富的TMT研究经验</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                   <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">有丰富的TMT研究经验，做一个</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr> 
                                 </tbody> 
							</table>
                                  
                            
                            <div class="clearfix"></div>

							
							<ul class="pagination">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li>
							</ul> -->
							<!-- pagination end -->             
                                                       
                                                        
                                                        </div>
                                                        </p>
														
													</div>
													
													<div class="tab-pane fade" id="h2tab2">

											<div id="sent-msg-wrapper">
                                                        <!-- <table class="table table-hover email">
                                  <tbody>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（8）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">我：有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（3）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">我：有丰富的TMT研究经验</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（2）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">我：有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                   <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="email_content.html">我：有丰富的TMT研究经验，做一个</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                    <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（11）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">我：有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（3）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">我：有丰富的TMT研究经验</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
									<tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣（2）</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">我：有丰富的TMT研究经验，做一个与创业者共同成长的投资人...</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                   <tr>
										<td><div class="pull-left"><a href="＃"><img class="email-img" src="images/user_example.jpg" alt="photo"></a></div> 
                                        <div class=" pull-left"><b>王一鸣</b><br><span class="post-date">2015-06-05 13:31</span></div> </td>
										<td><a href="＃">我：有丰富的TMT研究经验，做一个</a></td>
										<td><a href="＃" class="btn-delete"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    
                                    
                                    
                                 </tbody>   
							</table> -->
														
	                         <!-- <div class="clearfix"></div> -->

							<!-- pagination start -->
							<!-- <ul class="pagination">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li>
							</ul> -->
							<!-- pagination end -->             
                                                       </div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                
                                </div>

								<!-- follow start -->
<!-- 								<aside class="col-md-3">
									<div class="sidebar">
										<div class="block clearfix">
									<h3 class="title">用户中心</h3>
									<div class="separator-2"></div>
									<nav>
										<ul class="nav nav-pills nav-stacked">
											
											<li><a href="#">个人主页</a></li>
											<li><a href="#">项目管理</a></li>
											<li><a href="">上传商业计划书</a></li>
                                            <li><a href="#">管理账号</a></li>
										</ul>
									</nav>
								</div>
									</div>
								</aside> -->
								<!-- follow end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
                
			<!-- profile end -->




    
{% endblock %}
    
    
{% block extrascript %}


		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Moment.js -->
		<script type="text/javascript" src="/static/plugins/moment.min.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>

		<script type="text/javascript" src="/static/js/email_user.js"></script>
{% endblock %}
