{% extends "agglobal/base.html" %}

{% block sectionbody %}
            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">投资人</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


			<!-- ================ -->
 	<!-- slider start -->
			<!-- ================ -->
			<section class="top-gap bg-purple">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">

                                <div id="owl-demo" class="">


										<div class="item">
                                           <span class="default-bg badge-blue  pull-left">认证</span>
											<img class="investor-slider-img circle has-badge" src="/media/iiii@iiii.com_user_example.jpg" alt="photo">
                                             <h3>王建名</h3>
                                             <span class="ag-bule">天使基金 创始合伙人</span>
                                             <p>
											<p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
											<a href="/agglobal/viewInvProfile/102" class="btn-default btn">详细信息</a>
										</div>


                                       <div class="item">
                                          <span class="default-bg badge-blue  pull-left">认证</span>
											<img class="investor-slider-img circle has-badge" src="/media/liuwei@gmail.com_investor-2.jpg" alt="photo">
                                             <h3>吕微</h3>
                                             <span class="ag-bule">天使基金 创始合伙人</span>
                                             <p>
											<p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
											<a href="/agglobal/viewInvProfile/156" class="btn-default btn">详细信息</a>
									  </div>

                                      <div class="item">
                                           <span class="default-bg badge-blue  pull-left">认证</span>
											<img class="investor-slider-img circle has-badge" src="/media/wangquhu@gmail.com_investor-1.jpg" alt="photo">
                                             <h3>王秋虎</h3>
                                             <span class="ag-bule">天使基金 创始合伙人</span>
                                             <p>
											<p class="gap30">王秋虎先生于2010年加入开物投资任合伙人.。王先生曾先后投资珠海越亚、恒丰特导...</p>
											<a href="/agglobal/viewInvProfile/158" class="btn-default btn">详细信息</a>
									  </div>

                                      <div class="item">

											<img class="investor-slider-img circle" src="/media/liwei@gmail.com_investor-3.jpg" alt="photo">
                                             <h3>李威</h3>
                                             <span class="ag-bule">天使基金 创始合伙人</span>
                                             <p>
											<p class="gap30">李威先生在投资领域具有丰富的从业经验，加入顺为基金之前，李威先生曾在航天产业投...</p>
											<a href="/agglobal/viewInvProfile/159" class="btn-default btn">详细信息</a>
									  </div>
								</div>
							</div>
						</div> <!-- row end -->


					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- slider end -->


			<!-- main start -->
			<!-- ================ -->
			
            <section class="top-gap">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							
							<div class="sorting-filters">
								<div class="form-inline">
									<div class="form-group">
										<label>投资领域</label>
										<select class="form-control" id="investment_field">
											<option selected="selected" value="">全部</option>
											<option>互联网</option>
											<option>金融</option>
											<option>房地产</option>
                                            <option>其他</option>
										</select>
									</div>
                                    
									<div class="form-group">
										<label>投资轮次</label>
										<select class="form-control" id="investment_status">
											<option selected="selected" value="">全部</option>
											<option value="investment_angel_status">天使轮</option>
                                            <option value="investment_pre_a_status">Pre A</option>
											<option value="investment_a_status">A 轮</option>
                                            <option value="investment_b_status">B 轮</option>
                                            <option value="investment_b_after_status">B 轮以后</option>
										</select>
									</div>
                                    
                                    <div class="form-group">
										<label>单个项目投资金额</label>
										<select class="form-control" id="investment_budget">
											<option selected="selected" value="">全部</option>
											<option><= ￥50万</option>
                                            <option><= ￥200万</option>
											<option><= ￥500万</option>
                                            <option><= ￥3000万</option>
                                            <option>>￥3000 万</option>
										</select>
									</div>
                                    
                                    
									<div class="form-group" >
										<label>投资地域</label>
										<select class="form-control" id="investment_location">
											<option selected="selected" value="">全部</option>
											<option>美国</option>
                                            <option>中国</option>
                                            <option>欧洲</option>
                                            <option>其他</option>
										</select>
									</div>
                                    
                                  
                                    
                                    <div class="form-group">
                                    
                                    <button type="submit" id="search_investor" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
									</div>
                                    
                                    <div class="checkbox">
												<label>
													<input type="checkbox" id="ag_approve"> AG认证投资人
												</label>
									</div>	
                                                                      
								</div>
							</div>
                            
                            
                            <!-- investor list start -->
                            
                        <div class="widget">
					
					       <div>
                            <table class="table table-hover">
								<thead>
									<tr class="widget-head">
										<td width="55%">投资人</td>
										<td>投资领域</td>
										<td>投资轮次</td>
										<td>单个项目投资金额</td>
                                        <td>投资地域</td>
									</tr>
								</thead>
								<tbody id="result">
									
								</tbody>
								<tfoot>
                                  <tr>
                                     <td colspan="5">
                                       <div class="page_btn">
                                            <span class="page_box">
                                                 <a class="prev">上一页</a><span class="num"><span class="current_page">1</span><span style="padding:0 3px;">/</span><span class="total"></span></span><a class="next">下一页</a>
                                             </span>
                                        <div>

                                     </td>
                                  </tr>
                                </tfoot>
							</table>
                          </div>
                       </div>
                            
                            <!-- investor list end -->
                            
							
							<div class="clearfix"></div>


						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
            
{% endblock %}

{% block extrascript %}
           
        <script type="text/javascript" src="/static/js/investor.js"></script>
                         
        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>
        
        <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>


    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>

{% endblock %}
