{% extends "agglobal/base.html" %}

{% block sectionbody %}


			<!-- main-container start -->
			<!-- ================ -->
	      
            <section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6 col-md-offset-3">
                       
                        <div class="col-sm-12 text-center">
                            
											<div class=" object-non-visible text-center" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                               <div class="icon-bg"><i class="fa fa-check"></i></div>
												
												<h2>恭喜您，您已经更换密码</h2>
												<p>页面5秒后跳转，或点击 <a href="/static/Layout.html">回到首页面</a>。</p>
												<a href="/static/Layout.html" class="btn btn-default">项目主页</a>
											</div>
										</div>
                        
                      
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
             
			<!-- main-container end -->
{% endblock %}
