{% extends "agglobal/base.html" %}

{% block sectionbody %}

            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">User profile</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


			<!-- profile start -->
			<!-- ================ -->
 <section class="main-container">

				<div class="container">
					
                    
                    <div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<div class="row light-gray-bg">
								<div class="col-md-3 text-center">
									<!-- Nav tabs -->						
                                        <img src="{{ data.profile_img  }}" class="userimg circle top30">
								 </div>
								
								<aside class="col-md-9">

                                
									<h1 class="font30">{{ data.last_name }}  &nbsp;
                                    </h1>
                                    

                                    <span class="font18">{{ data.profession }} （{{ data.company_name }}）</span> <br>
                                    <span class="color-light-gray">{{ data.city }}，{{ data.country }}</span><p><p>
                                    <span class="color-light-gray">所属行业：</span>{{ data.industry }}<br>
                                    <span class="color-light-gray">毕业院校：</span>{{ data.company_name }}<br>
                                    {{ data.introduction }}
                                    <br>
                                  
                                    <!--a href="/static/Layout.html?111" class="btn btn-default btn-sm">
                                         <i class="fa fa-user-plus"></i> 创建项目
                                    </a>
                                    <a href="#" class="btn btn-white btn-sm">
                                         <i class="fa fa-envelope-o"></i> 提交商业计划书
                                    </a-->
                                   <a href="#" class="btn btn-default btn-sm" onclick="followup()">
                                         <i class="fa fa-user-plus"></i> 关注
                                    </a>
                                    <a type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#sendMessage"><i class="fa fa-envelope-o"></i> 私信</a>  &nbsp;  &nbsp; {% if likestatus == 'F' %}
                                    <a onclick="like()" style="cursor:pointer"> <i class="fa fa-thumbs-o-up font14" id="like">赞</i></a> <span class="font20 ag-bule" id="like_total"> {{ totallike }}</span>
                                          {% else %}
                                    <a onclick="like()" style="cursor:pointer"> <i class="fa fa-thumbs-o-up font14" id="like">取消赞</i></a> <span class="font20 ag-bule" id="like_total"> {{ totallike }}</span>
                                          {% endif %}
                                    </aside>
							</div>  <!-- frist part end -->
	                    
                        </div>
						<!-- main end -->

					</div>
				</div>
			</section>   
            
            
            <section class="section clearfix">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
                                
                                
                                
                                <div class="sidebar">
										<div class="side product-item vertical-divider-right">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">个人基本情况</a></li>
													<li><a href="#h2tab2" role="tab" data-toggle="tab">动态</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab1">
														<h3 class="title">个人简介
                                                        &nbsp;
                                                        </h3>
														<p><span href="#" data-pk="{{ data.user }}" id="pprofile">{{ data.personal_profile }}</span></p>
														<h3>创业经历
                                                        &nbsp;
                                                        </h3>
                                                        
                                          
														<p>
                                                        <div>
                                                       
                                                       <!-- timeline start -->     
                            <table class="table table-hover project-list">
								<tbody>   {% for bus_exp in data.business_experiences %}
									<tr>
										<td width="120px"><img src="/static/images/logos/1.jpg"></td>
                                        <td><span class="font18">{{ bus_exp.company_name }}</span> <br>
                                        <span class="color-light-gray">{{ bus_exp.description }}</span>   <p><br>
                                        <span class="ag-bule">{{ bus_exp.start_year }}.{{ bus_exp.start_month }} - {{ bus_exp.end_year }}.{{ bus_exp.end_month }} （{{ bus_exp.location }}）</span>
                                        </td>
									</tr> {% endfor %}
								</tbody>
							</table>  
                                                       
                                                       
                                                        <!-- timeline end -->                  
                                                       
                                                       
                                                       
                                                       
                                                        
                                                        
                                                        </div>
                                                        </p>
														
													</div>
													
													<div class="tab-pane fade" id="h2tab2">
														
                                                        <h4 class="title">我参与的</h4>
														<p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
														
	
													</div>
												</div>
											</div>
										</div>
									</div>
                                
                                </div>

								<!-- follow start -->
								<aside class="col-md-3">
									<div class="sidebar">
										<div class="side product-item">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab3" role="tab" data-toggle="tab">关注</a></li>
													<li><a href="#h2tab4" role="tab" data-toggle="tab">粉丝</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab3">
														<div class="follow">                                
														</div>                                      				
													</div> <!-- h2tab3 end -->
													
													<div class="tab-pane fade" id="h2tab4">
														<div class="follow">
                                                        </div>														
													</div> <!-- h2tab4 end -->
												</div>
											</div>

										</div>
									</div>
								</aside>
								<!-- follow end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
                
			<!-- profile end -->

	
    
    
    
                                      <!-- Modal start -->
                                    <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">发送私信</h4>
										</div>
										<div class="modal-body">
							            <div class="row">
                                            <div class="main col-md-10 col-md-offset-1">
								           <form>
                                            Hi {{ data.last_name }}，
                                             <div> <textarea id="my-msg" class="form-control" rows="8" autofocus></textarea></div>
                                            <button id="message-submit" data-receiver="{{ data.user }}" data-sender="{{ luserid }}" type="submit" class="btn btn-default">发送</button>
                                             </form>
                                            </div>
			                             </div> <!-- row end -->
                                       </div>

									</div>
								</div>
							</div><!-- Modal end-->
    
{% endblock %}

{% block extrascript %}
        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>
        
         <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>


    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>
<!-- Moment.js -->
                <script type="text/javascript" src="/static/plugins/moment.min.js"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
		<script type="text/javascript" src="/static/js/editprofile.js"></script>
		<script type="text/javascript" src="/static/js/profile_user.js"></script>
		<script type="text/javascript" src="/static/js/email_user.js"></script>
{% endblock %}