{% extends "agglobal/base.html" %}

{% block sectionbody %}

<input id="cuserid" value="{{ data.user }}" type="hidden"/>

            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">User profile edit</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


			<!-- profile start -->
			<!-- ================ -->
 <section class="main-container">

				<div class="container">
					
                    
                    <div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<div class="row light-gray-bg">
								<div class="col-md-3">
									<!-- Nav tabs -->						
                                     <div> <img src="{{ data.profile_img }}" class="userimg circle top30" id="profileImg"></div>
									<label>选择照片</label>
									<input type="file" id="uploadProfileImg" value="选择照片">
									<p class="help-block">上传照片（jpg, gif, png）必须小于1m.</p> 
								 </div>
								
								<aside class="col-md-9">

                                
									<h1 class="font30">{{ data.last_name }}  &nbsp;
                                    <a href="#" type="button" class="font20" data-toggle="modal" data-target="#edit1">  <i class="fa fa-pencil"></i></a>
                                    </h1>
                                    
                                    
                                      <!-- Modal start -->
                                    <div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">基本信息</h4>
										</div>
										<div class="modal-body">
											
                                          
							        <div class="row">
                                    
                                    <form class="form-wrapper" method="post" role="form" id="">
                                    <div class="form-group col-md-12">
                             
                             
                              
                           <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									         <input type="text" class="form-control" id="last_name" placeholder="姓名*" required value="{{ data.last_name }}">
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
                                            <select class="form-control" id="industry">
                                                {% if data.industry == '所属行业*'  %}<option selected>所属行业*</option> {% else %}<option>所属行业*</option>{% endif %}
                                                {% if data.industry == '互联网'  %}<option selected>互联网</option> {% else %}<option>互联网</option>{% endif %}
                                                {% if data.industry == '医药'  %}<option selected>医药</option> {% else %}<option>医药</option>{% endif %}
                                                {% if data.industry == '教育'  %}<option selected>教育</option> {% else %}<option>教育</option>{% endif %}
                                                {% if data.industry == '教育'  %}<option selected>教育</option> {% else %}<option>教育</option>{% endif %}
                                            </select>
                                        </div>   
									</div>
							 </div>
                             
                             
                            <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									<select class="form-control" id="country">
                                        {% if data.country == '国家*'  %}<option selected>国家*</option> {% else %}<option>国家*</option>{% endif %}
                                        {% if data.country == '美国'  %}<option selected>美国</option> {% else %}<option>美国</option>{% endif %}
                                        {% if data.country == '中国'  %}<option selected>中国</option> {% else %}<option>中国</option>{% endif %}
                                        {% if data.country == '其他'  %}<option selected>其他</option> {% else %}<option>其他</option>{% endif %}
							        </select>
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
									         <input type="text" class="form-control" id="city" placeholder="所在城市*" required value="{{ data.city }}">
                                        </div>
									</div>
							 </div>
                            
                             
                             
                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									 <input type="text" class="form-control" id="company_name" placeholder="毕业院校（含在读）" required value="{{ data.company_name }}">
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
									         <input type="text" class="form-control" id="profession" placeholder="专业*" required value="{{ data.profession }}">
                                        </div>
									</div>
							    </div>
                             
                              
								<div class="form-group">
									
									<textarea class="form-control" rows="3" placeholder="一句话介绍*" id="introduction">{{ data.introduction }}</textarea>
								</div>
                                
                                <div class="form-group text-right">											
											<button type="submit" class="btn btn-group btn-default" id="edit1save">保存修改</button>
								</div>    
                             
                              
                             </div>
                               </form>    
                            
							</div><!-- row end-->
                                            
                                            
                                            
										</div>
										
									</div>
								</div>
							</div><!-- Modal end-->                           
                                    
                                    
                                    
                                    
                                    <span class="font18">{{ data.profession }} （{{ data.company_name }}）</span> <br>
                                    <span class="color-light-gray">{{ data.city }}，{{ data.country }}</span><p><p>
                                    <span class="color-light-gray">所属行业：</span>{{ data.industry }}<br>
                                    <span class="color-light-gray">毕业院校：</span>{{ data.company_name }}<br>
                                    {{ data.introduction }}<br>
                                             {% if lcompanies %}
									 <a href="" type="button" data-toggle="modal" data-target="#editStartups" class="btn btn-default btn-sm">
                                         <i class="fa fa-envelope-o"></i> 管理项目
                                    </a>
											  {% else %}
                                    <a href="/agglobal/create_startup" class="btn btn-default btn-sm">
                                         <i class="fa fa-user-plus"></i> 创建项目
                                    </a>     {% endif %}

                                             {% if lcompanies %}
									 <a href="" type="button" data-toggle="modal" data-target="#bp" class="btn btn-white btn-sm">
                                         <i class="fa fa-envelope-o"></i> 提交商业计划书
                                    </a>
											  {% else %}
                                    <a href="/agglobal/submitBp" class="btn btn-white btn-sm">
                                         <i class="fa fa-envelope-o"></i> 提交商业计划书
                                    </a>      {% endif %}
<!-- Modal start -->
                                              <div class="modal fade" id="bp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog modal-md">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">选择项目</h4>
                                                         </div>
                                                         <div class="modal-body">
                                                            <div class="row">
                                                               <div class="col-md-12">
                                                                  <!-- bp start -->
                                                                  <div class="col-md-10 col-md-offset-1">
                                                                     <div class="sidebar">
                                                                        <div class="block clearfix">
                                                                           请选择您要上传或更新商业计划书旳项目:<br>
                                                                           <div class="separator-2"></div>
                                                                           <nav>
                                                                              <ul class="nav nav-pills nav-stacked">
                                                                                 {% for comp in lcompanies %}
                                                                                 <li><a href="/agglobal/submitBp?companyid={{ comp.company_id }}">{{ comp.project_name }}</a></li>
                                                                                 {% endfor %}
                                                                              </ul>
                                                                           </nav>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <!-- bp end -->
                                                               </div>
                                                            </div>
                                                            <!-- row end-->
                                                            <!-- main-container end -->
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <!-- Modal end-->&nbsp;
								</aside>
							</div>  <!-- frist part end -->
	                    
                        </div>
						<!-- main end -->

					</div>
				</div>
			</section>   
            
            
            <section class="section clearfix">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
                                
                                
                                
                                <div class="sidebar">
										<div class="side product-item vertical-divider-right">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">个人基本情况</a></li>
													<li><a href="#h2tab2" role="tab" data-toggle="tab">动态</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab1">
														<h3 class="title">个人简介
                                                        &nbsp;
                                    <a href="#" class="font18" id="edit2">  <i class="fa fa-pencil"></i></a>
                                                        </h3>
														<p><span href="#" data-type="textarea" data-pk="{{ data.user }}" id="pprofile">{{ data.personal_profile }}</span></p>
														<h3>创业经历
                                                        &nbsp;
                                     <a type="button" class="font18" data-toggle="modal" data-target="#edit3">  <i class="fa fa-pencil"></i></a>
                                                        </h3>
                                                        
                                          
                                          
                                           <!-- Modal start -->
                                    <div class="modal fade" id="edit3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">创业经历</h4>
										</div>
										<div class="modal-body">
											
                                          
							        <div class="row">
                                    
                                    <form class="form-wrapper" method="post" role="form" id="inv_exps_form">
                                    <div class="form-group col-md-12">

                              {% for bus_exp in data.business_experiences %}
                              <div class="usr_exp_class" id="{{ bus_exp.id }}">
                             <div class="row">
									<div class="col-md-4">
										<div class="form-group">
									         <input type="text" class="form-control" id="company_name{{ bus_exp.id }}" placeholder="公司（项目）名称" value="{{ bus_exp.company_name }}">
                                        </div>
                                    </div>
									<div class="col-md-4">
										<div class="form-group">
									         <input type="text" class="form-control" id="job_title{{ bus_exp.id }}" placeholder="职位" value="{{ bus_exp.job_title }}">
                                        </div>
									</div>
                                    <div class="col-md-4">
										<div class="form-group">
									         <input type="text" class="form-control" id="location{{ bus_exp.id }}" placeholder="所在地" value="{{ bus_exp.location }}">
                                        </div>
									</div>
                             </div>

                             <div class="row">
                             
                             
									<div class="col-md-4">
										<div class="form-group">
                                             
									         <div class="form-inline">
                                             <label for="startDate">开始日期</label>
                                                      <select id="start_year{{ bus_exp.id }}">
                                              {%  if bus_exp.start_year == '2015' %}<option selected>2015</option> {% else %} <option>2015</option> {% endif %}
                                              {%  if bus_exp.start_year == '2014' %}<option selected>2014</option> {% else %} <option>2014</option> {% endif %}
                                              {%  if bus_exp.start_year == '2013' %}<option selected>2013</option> {% else %} <option>2013</option> {% endif %}
                                              {%  if bus_exp.start_year == '2012' %}<option selected>2012</option> {% else %} <option>2012</option> {% endif %}
                                              {%  if bus_exp.start_year == '2011' %}<option selected>2011</option> {% else %} <option>2011</option> {% endif %}
                                              {%  if bus_exp.start_year == '2010' %}<option selected>2010</option> {% else %} <option>2010</option> {% endif %}
                                              {%  if bus_exp.start_year == '2009' %}<option selected>2009</option> {% else %} <option>2009</option> {% endif %}
                                              {%  if bus_exp.start_year == '2008' %}<option selected>2008</option> {% else %} <option>2008</option> {% endif %}
                                              {%  if bus_exp.start_year == '2007' %}<option selected>2007</option> {% else %} <option>2007</option> {% endif %}
                                                    </select>
                                                    
                                                    <select id="start_month{{ bus_exp.id }}">
                                              {%  if bus_exp.start_month == '1' %}<option selected>1</option> {% else %} <option>1</option> {% endif %}
                                              {%  if bus_exp.start_month == '2' %}<option selected>2</option> {% else %} <option>2</option> {% endif %}
                                              {%  if bus_exp.start_month == '3' %}<option selected>3</option> {% else %} <option>3</option> {% endif %}
                                              {%  if bus_exp.start_month == '4' %}<option selected>4</option> {% else %} <option>4</option> {% endif %}
                                              {%  if bus_exp.start_month == '5' %}<option selected>5</option> {% else %} <option>5</option> {% endif %}
                                              {%  if bus_exp.start_month == '6' %}<option selected>6</option> {% else %} <option>6</option> {% endif %}
                                              {%  if bus_exp.start_month == '7' %}<option selected>7</option> {% else %} <option>7</option> {% endif %}
                                              {%  if bus_exp.start_month == '8' %}<option selected>8</option> {% else %} <option>8</option> {% endif %}
                                              {%  if bus_exp.start_month == '9' %}<option selected>9</option> {% else %} <option>9</option> {% endif %}
                                              {%  if bus_exp.start_month == '10' %}<option selected>10</option> {% else %} <option>10</option> {% endif %}
                                              {%  if bus_exp.start_month == '11' %}<option selected>11</option> {% else %} <option>11</option> {% endif %}
                                              {%  if bus_exp.start_month == '12' %}<option selected>12</option> {% else %} <option>12</option> {% endif %}
                                                    </select>
									       </div>
                                        </div>
                                   
								</div>
									<div class="col-md-4">
										<div class="form-group">                            
                                            
                                             <div class="form-inline">
                                              <label for="endDate">结束日期</label>
                                                     <select id="end_year{{ bus_exp.id }}">
                                              {%  if bus_exp.end_year == '2015' %}<option selected>2015</option> {% else %} <option>2015</option> {% endif %}
                                              {%  if bus_exp.end_year == '2014' %}<option selected>2014</option> {% else %} <option>2014</option> {% endif %}
                                              {%  if bus_exp.end_year == '2013' %}<option selected>2013</option> {% else %} <option>2013</option> {% endif %}
                                              {%  if bus_exp.end_year == '2012' %}<option selected>2012</option> {% else %} <option>2012</option> {% endif %}
                                              {%  if bus_exp.end_year == '2011' %}<option selected>2011</option> {% else %} <option>2011</option> {% endif %}
                                              {%  if bus_exp.end_year == '2010' %}<option selected>2010</option> {% else %} <option>2010</option> {% endif %}
                                              {%  if bus_exp.end_year == '2009' %}<option selected>2009</option> {% else %} <option>2009</option> {% endif %}
                                              {%  if bus_exp.end_year == '2008' %}<option selected>2008</option> {% else %} <option>2008</option> {% endif %}
                                              {%  if bus_exp.end_year == '2007' %}<option selected>2007</option> {% else %} <option>2007</option> {% endif %}
                                                    </select>
                                                    
                                                    <select id="end_month{{ bus_exp.id }}">
                                              {%  if bus_exp.end_month == '1' %}<option selected>1</option> {% else %} <option>1</option> {% endif %}
                                              {%  if bus_exp.end_month == '2' %}<option selected>2</option> {% else %} <option>2</option> {% endif %}
                                              {%  if bus_exp.end_month == '3' %}<option selected>3</option> {% else %} <option>3</option> {% endif %}
                                              {%  if bus_exp.end_month == '4' %}<option selected>4</option> {% else %} <option>4</option> {% endif %}
                                              {%  if bus_exp.end_month == '5' %}<option selected>5</option> {% else %} <option>5</option> {% endif %}
                                              {%  if bus_exp.end_month == '6' %}<option selected>6</option> {% else %} <option>6</option> {% endif %}
                                              {%  if bus_exp.end_month == '7' %}<option selected>7</option> {% else %} <option>7</option> {% endif %}
                                              {%  if bus_exp.end_month == '8' %}<option selected>8</option> {% else %} <option>8</option> {% endif %}
                                              {%  if bus_exp.end_month == '9' %}<option selected>9</option> {% else %} <option>9</option> {% endif %}
                                              {%  if bus_exp.end_month == '10' %}<option selected>10</option> {% else %} <option>10</option> {% endif %}
                                              {%  if bus_exp.end_month == '11' %}<option selected>11</option> {% else %} <option>11</option> {% endif %}
                                              {%  if bus_exp.end_month == '12' %}<option selected>12</option> {% else %} <option>12</option> {% endif %}
                                                    </select>
									       </div>  
                                        </div>
									</div>
							 </div>

                                <div class="form-group">
									
									<textarea id="description{{ bus_exp.id }}" class="form-control" rows="8" placeholder="简单介绍">{{ bus_exp.description }}</textarea>
								</div>
                               <div class="form-group">

									<input type="file" id="attach_file{{ bus_exp.id }}" class="company_files_logo">
									<p class="help-block">上传LOGO</p>
								</div></div>
                               {% endfor %}

                                <a href="#" id="addmoreusrexp"> + 更多经历  </a>
                                <p>

                                <div class="form-group text-right">
											<button type="submit" class="btn btn-group btn-default" id="uedit3save">保存修改</button>
								</div>    
                             
                              
                             </div>
                               </form>    
                            
							</div><!-- row end-->
                                            
                                            
                                            
										</div>
										
									</div>
								</div>
							</div><!-- Modal end-->                           
                                                                                                                    
                                                        
                                                        
                                                        
                                                        
                                                        
														<p>
                                                        <div>
                                                       
                                                       <!-- timeline start -->     
                            <table class="table table-hover project-list">
								<tbody>   {% for bus_exp in data.business_experiences %}
									<tr>
										<td width="120px"><img src="{{ bus_exp.attached_file }}"></td>
                                        <td><span class="font18">{{ bus_exp.company_name }}</span> <br>
                                        <span class="color-light-gray">{{ bus_exp.description }}</span>   <p><br>
                                        <span class="ag-bule">{{ bus_exp.start_year }}.{{ bus_exp.start_month }} - {{ bus_exp.end_year }}.{{ bus_exp.end_month }} （{{ bus_exp.location }}）</span>
                                        </td>
									</tr> {% endfor %}
								</tbody>
							</table>  
                                                       
                                                       
                                                        <!-- timeline end -->                  
                                                       
                                                       
                                                       
                                                       
                                                        
                                                        
                                                        </div>
                                                        </p>
														
													</div>
													
													<div class="tab-pane fade" id="h2tab2">
														
                                                        <h4 class="title">我参与的</h4>
														<p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
														
	
													</div>
												</div>
											</div>
										</div>
									</div>
                                
                                </div>

								<!-- follow start -->
								<aside class="col-md-3">									<div class="sidebar">
										<div class="side product-item">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab3" role="tab" data-toggle="tab">关注</a></li>
													<li><a href="#h2tab4" role="tab" data-toggle="tab">粉丝</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab3">
														<div class="follow">
														</div>
													</div> <!-- h2tab3 end -->

													<div class="tab-pane fade" id="h2tab4">
														<div class="follow">
                                                        </div>
													</div> <!-- h2tab4 end -->
												</div>
											</div>

										</div>
									</div>
								</aside>
								<!-- follow end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
                
			<!-- profile end -->
{% endblock %}

{% block extrascript %}

         <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>


    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
        <!-- bootstrap editable plugins -->
        <link href="/static/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="/static/bootstrap3-editable/js/bootstrap-editable.js"></script><!-- addon javascript -->
		<script type="text/javascript" src="/static/js/editprofile.js"></script>
{% endblock %}