{% extends "agglobal/base.html" %}

{% block sectionbody %}

            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">Investor profile edit</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


			<!-- profile start -->
			<!-- ================ -->
 <section class="main-container">
    <div class="alert alert-danger fade in" style="display:none" id="errorbox">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong>
    </div>
				<div class="container">
					
                    
                    <div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<div class="row light-gray-bg">
								<div class="col-md-3">
									<!-- Nav tabs -->					
                                     <div> <img src="{{ data.profile_img }}" class="userimg circle top30" id="profileImg"></div>
									<label>选择照片</label>
									<input type="file" id="uploadProfileImg" value="选择照片">
									<p class="help-block">上传照片（jpg, gif, png）必须小于1m.</p> 
								 </div>
								
								<aside class="col-md-9">
                               
									<h1 class="font30">{{ data.last_name }}  {% if data.certified %} <span class="label label-success vertical-top-5 font14">认证</span> {% endif %}
                                    <a href="#" type="button" class="font20" data-toggle="modal" data-target="#edit1">  <i class="fa fa-pencil"></i></a>
                                    </h1>
                                    
                                    
                                    
         <!-- Modal start -->
                                    <div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">基本信息</h4>
										</div>
										<div class="modal-body">
											
                                          
							        <div class="row">
                                    
                                    <form class="form-wrapper" method="post" role="form" id="">
                                    <div class="form-group col-md-12">
                             
                             
                              
                             <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									         <input type="text" class="form-control" id="last_name" placeholder="姓名*" required value="{{ data.last_name }}">
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
									         <div class="form-group">
                             
                                               <select id="industryofconcern" class="form-control">
                                                {% if data.industryofconcern == '关注行业*'  %}<option selected>关注行业*</option> {% else %}<option>关注行业*</option>{% endif %}
                                                {% if data.industryofconcern == '互联网' %}<option selected>互联网</option> {% else %}<option>互联网</option>{% endif %}
                                                {% if data.industryofconcern == '金融' %}<option selected>金融</option> {% else %}<option>金融</option>{% endif %}
                                                {% if data.industryofconcern == '房地产' %}<option selected>房地产</option> {% else %}<option>房地产</option>{% endif %}
                                                {% if data.industryofconcern == '其他' %}<option selected>其他</option> {% else %}<option>其他</option>{% endif %}
                                             </select>
                                           </div>
                                        </div>
									</div>
							 </div>
                             
                             
                             <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									<select id="country" class="form-control">
                                        {%  if data.country == '国家*' %}<option selected>国家*</option> {% else %} <option>国家*</option> {% endif %}
                                        {%  if data.country == '美国' %}<option selected>美国</option> {% else %} <option>美国</option> {% endif %}
                                        {%  if data.country == '中国' %}<option selected>中国</option> {% else %} <option>中国</option> {% endif %}
                                        {%  if data.country == '其他' %}<option selected>其他</option> {% else %} <option>其他</option> {% endif %}
							        </select>   
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
									         <input id="city" type="text" class="form-control" id="location" placeholder="所在城市*" required value="{{ data.city }}">
                                        </div>
									</div>
							 </div>
                             
                             
                            
                             
                             
                               <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									 <input type="text" class="form-control" id="company_name" placeholder="所属机构*" required value="{{ data.company_name }}">
                                        </div>
                                   
								</div>
									<div class="col-md-6">
										<div class="form-group">
									         <input type="text" class="form-control" id="profession" value="{{ data.profession }}" placeholder="职位*" required>
                                        </div>
									</div>
							 </div>
                             
                              
								<div class="form-group">
									
									<textarea id="introduction" class="form-control" rows="3" placeholder="一句话介绍*">{{ data.introduction }} </textarea>
								</div>
                                
                                <div class="form-group text-right">											
											<button id="edit1save" type="submit" data-pk="{{ data.user }}" class="btn btn-group btn-default">保存修改</button>
								</div>    
                             
                              
                             </div>
                               </form>    
                            
							</div><!-- row end-->
                                            
                                            
                                            
										</div>
										
									</div>
								</div>
							</div><!-- Modal end-->                           
                                    
                                    
                                    
                                    
                                    
                                    <span class="font18">{{ data.profession }} （{{ data.company_name }}）</span> <br>
                                    <span class="color-light-gray">{{ data.city }}, &nbsp; {{ data.country }} &nbsp; |{{ data.investment_field }}</span><p><p>
                                    <span class="color-light-gray">关注行业/领域：</span><span class="ag-bule">{{ data.industryofconcern }}</span><br>
                                    {{ data.introduction }}<br>
                                    
                                  
                                    <a href="#" class="btn btn-default btn-sm"> 
                                         <i class="fa fa-user-plus"></i> 申请认证
                                    </a>
                                     
                                  &nbsp;
                                    
								</aside>
							</div>  <!-- frist part end -->
	                    
                        </div>
						<!-- main end -->

					</div>
				</div>
			</section>   
            
            
            <section class="section clearfix">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
                                
                                <div class="sidebar">
										<div class="side product-item vertical-divider-right">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">个人基本情况</a></li>
													<li><a href="#h2tab2" role="tab" data-toggle="tab">动态</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab1">
														<h3 class="title">个人简介  &nbsp; <a href="#" class="font18" id="edit2">  <i class="fa fa-pencil"></i></a> </h3>
														<p><span href="#" data-pk="{{ data.investor_id }}" id="pprofile">{{ data.personal_profile }}</span></p><p>
														<h3>已投项目  &nbsp; 
                                                       <a type="button" class="font18" data-toggle="modal" data-target="#edit3">  <i class="fa fa-pencil"></i></a>
                                                        </h3>
                                                        
                                                        
       <!-- Modal start -->
                                    <div class="modal fade" id="edit3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">已投项目</h4>
										</div>
										<div class="modal-body">
											
                                          
							        <div class="row">
                                    
                                    <form class="form-wrapper" method="post" role="form" id="inv_exps_form">
                                    <div class="form-group col-md-12">
                             
                             {% for inv_exp in data.investment_experiences %}	<tr>
                              <div id="{{ inv_exp.id }}" class="inv_exp_class">
                              <div  class="row">
                             
                                   <div class="col-md-6">
										<div class="form-group">
                                          <label for="">项目名称</label>
									         <input type="text" class="form-control" id="project_name{{ inv_exp.id }}" placeholder="项目名称" value="{{ inv_exp.project_name }}" placeholder="项目名称*">
                                        </div>
                                    </div>
                             
                             
									
									<div class="col-md-6">
										<div class="form-group">
                                             <label for="">投资轮次</label>
                                              <select class="form-control" id="invested_status{{ inv_exp.id }}">
                                              {%  if inv_exp.invested_status == '天使轮' %}<option selected>天使轮</option> {% else %} <option>天使轮</option> {% endif %}
                                              {%  if inv_exp.invested_status == 'Pre A' %}<option selected>Pre A</option> {% else %} <option>Pre A</option> {% endif %}
                                              {%  if inv_exp.invested_status == 'A 轮' %}<option selected>A 轮</option> {% else %} <option>A 轮</option> {% endif %}
                                              {%  if inv_exp.invested_status == 'B 轮' %}<option selected>B 轮</option> {% else %} <option>B 轮</option> {% endif %}
                                              {%  if inv_exp.invested_status == 'B 轮以后' %}<option selected>B 轮以后</option> {% else %} <option>B 轮以后</option> {% endif %}
                                             </select> 
                                        </div>
									</div>
                                    
                                    
                                    <div class="col-md-12">
										<div class="form-group">
                                             
									                <div class="form-inline">  
                                                    <label for="date">投资日期</label>
                                                    <select id="invest_year{{ inv_exp.id }}">
                                              {%  if inv_exp.invest_year == '2015' %}<option selected>2015</option> {% else %} <option>2015</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2014' %}<option selected>2014</option> {% else %} <option>2014</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2013' %}<option selected>2013</option> {% else %} <option>2013</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2012' %}<option selected>2012</option> {% else %} <option>2012</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2011' %}<option selected>2011</option> {% else %} <option>2011</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2010' %}<option selected>2010</option> {% else %} <option>2010</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2009' %}<option selected>2009</option> {% else %} <option>2009</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2008' %}<option selected>2008</option> {% else %} <option>2008</option> {% endif %}
                                              {%  if inv_exp.invest_year == '2007' %}<option selected>2007</option> {% else %} <option>2007</option> {% endif %}
                                                     </select>
                                                    
                                                    <select id="invest_month{{ inv_exp.id }}">
                                              {%  if inv_exp.invest_month == '1' %}<option selected>1</option> {% else %} <option>1</option> {% endif %}
                                              {%  if inv_exp.invest_month == '2' %}<option selected>2</option> {% else %} <option>2</option> {% endif %}
                                              {%  if inv_exp.invest_month == '3' %}<option selected>3</option> {% else %} <option>3</option> {% endif %}
                                              {%  if inv_exp.invest_month == '4' %}<option selected>4</option> {% else %} <option>4</option> {% endif %}
                                              {%  if inv_exp.invest_month == '5' %}<option selected>5</option> {% else %} <option>5</option> {% endif %}
                                              {%  if inv_exp.invest_month == '6' %}<option selected>6</option> {% else %} <option>6</option> {% endif %}
                                              {%  if inv_exp.invest_month == '7' %}<option selected>7</option> {% else %} <option>7</option> {% endif %}
                                              {%  if inv_exp.invest_month == '8' %}<option selected>8</option> {% else %} <option>8</option> {% endif %}
                                              {%  if inv_exp.invest_month == '9' %}<option selected>9</option> {% else %} <option>9</option> {% endif %}
                                              {%  if inv_exp.invest_month == '10' %}<option selected>10</option> {% else %} <option>10</option> {% endif %}
                                              {%  if inv_exp.invest_month == '11' %}<option selected>11</option> {% else %} <option>11</option> {% endif %}
                                              {%  if inv_exp.invest_month == '12' %}<option selected>12</option> {% else %} <option>12</option> {% endif %}
                                                    </select>  
                                                  </div>
                                        </div>
                                   
								</div>
                                
							 </div>

                               <div class="form-group">
									
									<textarea class="form-control" rows="4" id="project_detail{{ inv_exp.id }}" placeholder="项目介绍*">{{ inv_exp.project_detail }}</textarea>
								</div>
                            
                                <div class="form-group">
									
									<input type="file" id="attach_file{{ inv_exp.id }}" class="company_files_logo">
									<p class="help-block">上传公司LOGO</p>
								</div>
                             </div>
                             {%  endfor %}
                                <a href="#" id="addmoreinvexp"> + 更多经历  </a>
                                <p>
                                <div class="form-group text-right">
											<button id="edit3save" type="submit" class="btn btn-group btn-default">保存修改</button>
								</div>
                             </div>
                               </form>    
                            
							</div><!-- row end-->
                                            
                                            
                                            
										</div>
										
									</div>
								</div>
							</div><!-- Modal end-->                           
                                                                                                      
                                                        
                                                        
														<p>
                                                        <div>
                                                       
                                                       <!-- projects start -->     
                              <table class="table table-hover project-list">
								<tbody>
								{% for inv_exp in data.investment_experiences %}	<tr>
										<td width="120px"><img src="{{ inv_exp.attached_project_file }}"></td>
                                        <td><span class="font18">{{ inv_exp.project_name }}</span> <br>
                                            <span class="color-light-gray">{{ inv_exp.project_detail }}</span><p><br>
                                            <span class="ag-bule">{{ inv_exp.invested_status }} &nbsp;&nbsp;{{ inv_exp.invest_year }}. {{ inv_exp.invest_month }}</span>
                                        </td>
									</tr>{% endfor %}

									
								</tbody>
							</table>  
                                                       
                                     <!-- projects end -->                  
                                                       
                                                       
                                                       
                                                       
                                                        
                                                        
                                                        </div>
                                                        </p>
														
													</div>
													
													<div class="tab-pane fade" id="h2tab2">
														
                                                        <h4 class="title">我参与的</h4>
														<p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
                                                        <p>投资人详细介绍编辑页面</p>
														
	
													</div>
												</div>
											</div>
										</div>
									</div>
                                
                                </div>

								<!-- follow start -->
								<aside class="col-md-3">
                                
                                <div class="sidebar">
										<div class="side product-item">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#plan" role="tab" data-toggle="tab"> 投资计划 </a> </li>  &nbsp; <a type="button" class="font18" data-toggle="modal" data-target="#edit4">  <i class="fa fa-pencil"></i></a>
													
												</ul>
                                                
                                                
                                                
                                                
          <!-- Modal start -->
                                    <div class="modal fade" id="edit4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">投资计划</h4>
										</div>
										<div class="modal-body">
											
                                          
							        <div class="row">
                                    
                                    <form class="form-wrapper" method="post" role="form" id="">
                                    <div class="form-group col-md-12">
                             
                             
                              
                            <div class="row">
									<div class="col-md-4">
										<div class="form-group">
                                             <div class="form-group">
                                               <select class="form-control" id="investment_field">
                                               {%  if data.investment_field == '投资领域' %}<option selected>投资领域</option> {% else %} <option>投资领域</option> {% endif %}
                                               {%  if data.investment_field == '互联网' %}<option selected>互联网</option> {% else %} <option>互联网</option> {% endif %}
                                               {%  if data.investment_field == '金融' %}<option selected>金融</option> {% else %} <option>金融</option> {% endif %}
                                               {%  if data.investment_field == '房地产' %}<option selected>房地产</option> {% else %} <option>房地产</option> {% endif %}
                                               {%  if data.investment_field == '其他' %}<option selected>其他</option> {% else %} <option>其他</option> {% endif %}
                                               </select>
                                           </div>
                                        </div>
                                    </div>
									<div class="col-md-4">
										<div class="form-group">
                                            <select class="form-control" id="investment_location">
                                               {%  if data.investment_location == '投资地域' %}<option selected>投资地域</option> {% else %} <option>投资地域</option> {% endif %}
                                               {%  if data.investment_location == '美国' %}<option selected>美国</option> {% else %} <option>美国</option> {% endif %}
                                               {%  if data.investment_location == '中国' %}<option selected>中国</option> {% else %} <option>中国</option> {% endif %}
                                               {%  if data.investment_location == '欧洲' %}<option selected>欧洲</option> {% else %} <option>欧洲</option> {% endif %}
                                               {%  if data.investment_location == '其他' %}<option selected>其他</option> {% else %} <option>其他</option> {% endif %}
                                             </select>
                                        </div>
									</div>
                                    
                                    <div class="col-md-4">
										<div class="form-group">
									        <select class="form-control" id="investment_budget">
                                               {%  if data.investment_budget == '单个项目金额' %}<option selected>单个项目金额</option> {% else %} <option>单个项目金额</option> {% endif %}
                                               {%  if data.investment_budget == '<= ￥50万' %}<option selected><= ￥50万</option> {% else %} <option><= ￥50万</option> {% endif %}
                                               {%  if data.investment_budget == '<= ￥200万' %}<option selected><= ￥200万</option> {% else %} <option><= ￥200万</option> {% endif %}
                                               {%  if data.investment_budget == '<= ￥500万' %}<option selected><= ￥500万</option> {% else %} <option><= ￥500万</option> {% endif %}
                                               {%  if data.investment_budget == '<= ￥3000万' %}<option selected><= ￥3000万</option> {% else %} <option><= ￥3000万</option> {% endif %}
                                               {%  if data.investment_budget == '>￥3000 万' %}<option selected>>￥3000 万</option> {% else %} <option>>￥3000 万</option> {% endif %}
                                             </select> 
                                        </div>
									</div>
                                    
                                    
                                   
							 </div>
                             
                            
                            
                            <div class="row">
                             
                             
									<div class="col-md-12">
										<div class="form-group">
									       
                                        <label>投资轮次：</label>   
                                        <label class="checkbox-inline">
                                             {% if data.investment_angel_status == 'Y' %}<input type="checkbox" class="investstatus" data-id="investment_angel_status" value="天使轮" checked> 天使轮 {% else %}<input type="checkbox" class="investstatus" data-id="investment_angel_status" value="天使轮"> 天使轮{% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                             {% if data.investment_pre_a_status == 'Y' %}<input type="checkbox"  class="investstatus" data-id="investment_pre_a_status" value="Pre A" checked>  Pre A {% else %}<input type="checkbox" class="investstatus" data-id="investment_pre_a_status" value="Pre A">  Pre A{% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                             {% if data.investment_a_status == 'Y' %}<input type="checkbox" class="investstatus" data-id="investment_a_status" value="A轮" checked>  A轮 {% else %}<input type="checkbox" class="investstatus" data-id="investment_a_status" value="A轮">  A轮{% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                             {% if data.investment_b_status == 'Y' %}<input type="checkbox" class="investstatus" data-id="investment_b_status" value="B轮" checked>  B轮 {% else %}<input type="checkbox" class="investstatus" data-id="investment_b_status" value="B轮">   B轮{% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                             {% if data.investment_b_after_status == 'Y' %}<input type="checkbox" class="investstatus"  data-id="investment_b_after_status" value="B 轮以后" checked> B 轮以后 {% else %}<input type="checkbox" class="investstatus" data-id="investment_b_after_status" value="B 轮以后">  B 轮以后{% endif %}
                                        </label>
                                        </div>
                                     </div>
									
							 </div>
                            
                             
                              
                                
                                <div class="form-group text-right">											
											<button id="edit4save" data-pk="{{ data.user }}" type="submit" class="btn btn-group btn-default">保存修改</button>
								</div>    
                             
                              
                             </div>
                               </form>    
                            
							</div><!-- row end-->
                                            
                                            
                                            
										</div>
										
									</div>
								</div>
							</div><!-- Modal end-->                           
                                                                           
                                                
                                                
                                                
                                                
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="plan">
								<table class="table table-striped">
								
								<tbody>
									<tr>
										<td width="36%" align="right">投资领域:</td>
										<td  align="left">{{ data.investment_field }}</td>
									</tr>
									<tr>
										<td align="right">投资地点:</td>
										<td align="left">{{ data.investment_location }}</td>
									</tr>
									<tr>
										<td align="right">投资轮次:</td>
										<td align="left">
 									{% if data.investment_pre_a_status == 'Y' %} Pre A, &nbsp;{% endif %}
                                                                         
                                                                        {% if data.investment_angel_status == 'Y' %}天使轮, &nbsp;{% endif %}
                                                                        {% if data.investment_a_status == 'Y' %} A轮, &nbsp;{% endif %}
                                                                        {% if data.investment_b_status == 'Y' %} B轮, &nbsp;{% endif %}
									                                                                        									{% if data.investment_b_after_status == 'Y' %}B 轮以后 {% endif %}

										</td>
									</tr>
									<tr>
									  <td align="right">单个项目金额:</td>
									  <td align="left">{{ data.investment_budget }}</td>
								  </tr>
								</tbody>
							</table>
                                      
                                     				
				</div> <!-- h2tab3 end -->
						
												</div>
											</div>
										</div>
									</div>
                                
                                
                                
                                
                                
                                
									<div class="sidebar">
										<div class="side product-item">
											<div class="tabs-style-2">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="active"><a href="#h2tab3" role="tab" data-toggle="tab">关注</a></li>
													<li><a href="#h2tab4" role="tab" data-toggle="tab">粉丝</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content padding-top-clear padding-bottom-clear">
													<div class="tab-pane fade in active" id="h2tab3">
														<div class="follow">
														</div>
													</div> <!-- h2tab3 end -->

													<div class="tab-pane fade" id="h2tab4">
														<div class="follow">
                                                        </div>
													</div> <!-- h2tab4 end -->
												</div>
											</div>

										</div>
									</div>
									</aside>
								<!-- follow end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
                
			<!-- profile end -->
{% endblock %}
	
{% block extrascript %}

        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
        <!-- bootstrap editable plugins -->
        <link href="/static/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="/static/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- addon javascript -->
		<script type="text/javascript" src="/static/js/editprofile.js"></script>
		<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}