{% extends "agglobal/base.html" %}

{% block sectionbody %}
<style>form label.error{color: #FB3A3A; display: inline-block; margin: 4px 0 5px 5px;}</style>

            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">Setting</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


            <section class="main-container">

				<div class="container">
					
                    
                    <div class="row">
                    
                    <h2>账户信息</h2>

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<div class="row light-gray-bg">
								<div class="col-md-3 text-center">
									<!-- Nav tabs -->						
                                        <img src="{{ lprofimg }}" class="userimg circle top30">
								 </div>
								
								<aside class="col-md-9">
									<h1 class="font30">{{ lusername }} </h1>
                                    
                                    <!--span class="font18">合伙人 （天使基金）</span> <br>
                                    <span class="color-light-gray">加州，美国 ｜ 互联网</span><br-->
                                     
                                     账户：{{ luseremail }}  <br><p><p>
                                  
                                    <a href="/agglobal/viewUserProfile/{{ luserid }}" class="btn btn-default btn-sm">
                                         <i class="fa fa-user"></i> 编辑个人主页
                                    </a>
                                   
                                    
								</aside>
							</div>  <!-- frist part end -->
	                    
                        </div>
						<!-- main end -->

					</div>
				</div>
			</section>
            

            
            
            <section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main">
							<div class="form-block center-block">
								<h2 class="title">修改密码</h2>
								<hr>
<div class="alert alert-danger">密码更换有成功，请查对必填选项。</div>
<form class="cmxform" id="passwordForm" method="post" action="">
<fieldset>
<legend>请输入你的更改密码</legend>
<p>
										<label for="cpassword">目前密码</label>
											<input class="form-control" place
holder="" id="cpassword" name="cpassword" type="password" data-rule-cpassword="true">

</p><p>
										<label for="password1">新密码</label>
											<input class="form-control" place
holder="" id="password1" name="password1" type="password" data-rule-password1="true">

</p><p>
										<label for="password2">重复密码</label>
											<input class="form-control" place
holder="" id="password2" name="password2" type="password" data-rule-password2="true">

</p>
</fieldset><input class="submit" type="button" value="提交" id="submitPassword">

</form>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
            
            
{% endblock %}
{% block extrascript %}
        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>
		<script type="text/javascript" src="/static/plugins/jquery.validate.min.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/settings.js"></script>

{% endblock %}
