{% extends "agglobal/base.html" %}

{% block sectionbody %}
            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="/agglobal/home">Home</a></li>
								<li class="active">Startup</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->


             	<!-- slider start -->
			<!-- ================ -->
			<section class="top-gap bg-startup">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								
                                <div id="owl-demo">
								
									
										<div class="item"> 
											<img class="investor-slider-img circle" src="/static/images/project_1.png" alt="logo">
                                             <h3>制胜法宝</h3>
                                             <p>  
											<p class="gap30">"制胜法宝”通过移动技术，采用同城、抢答、推送、专业度匹配等机制，帮助用户高效的找到最专业的律师....</p>
											<a href="startup.html" class="btn-default btn">详细信息</a>
										</div>
									
                                    
                                       <div class="item">
											<img class="investor-slider-img circle" src="/static/images/project_2.png" alt="photo">
                                             <h3>禾赛科技</h3>
                                             <p>  
											<p class="gap30">禾赛科技起源于硅谷圣禾赛市，落户于上海市嘉定区嘉定工业园。禾赛致力于开发超高精度工业级气体分析仪器...</p>
											<a href="startup.html" class="btn-default btn">详细信息</a>
									  </div>
                                      
                                      <div class="item"> 
											<img class="investor-slider-img circle" src="/static/images/project_3.png" alt="photo">
                                             <h3>Vimofits</h3>
                                              <p>  
											<p class="gap30">(安卓或苹果）智能手表上的新一代健身平台。他的独一无二的核心技术可以自动识别运动，自动学习新运动姿势...</p>
											<a href="startup.html" class="btn-default btn">详细信息</a>
									  </div>
                                      
                                      <div class="item"> 
											<img class="investor-slider-img circle" src="/static/images/project_1.png" alt="logo">
                                             <h3>制胜法宝</h3>
                                             <p>  
											<p class="gap30">"制胜法宝”通过移动技术，采用同城、抢答、推送、专业度匹配等机制，帮助用户高效的找到最专业的律师....</p>
											<a href="＃" class="btn-default btn">详细信息</a>
										</div>
									
                                    
                                       <div class="item">
											<img class="investor-slider-img circle" src="/static/images/project_2.png" alt="photo">
                                             <h3>禾赛科技</h3>
                                             <p>  
											<p class="gap30">禾赛科技起源于硅谷圣禾赛市，落户于上海市嘉定区嘉定工业园。禾赛致力于开发超高精度工业级气体分析仪器...</p>
											<a href="＃" class="btn-default btn">详细信息</a>
									  </div>
                                      
                                      <div class="item"> 
											<img class="investor-slider-img circle" src="/static/images/project_3.png" alt="photo">
                                             <h3>Vimofits</h3>
                                              <p>  
											<p class="gap30">(安卓或苹果）智能手表上的新一代健身平台。他的独一无二的核心技术可以自动识别运动，自动学习新运动姿势...</p>
											<a href="＃" class="btn-default btn">详细信息</a>
									  </div>
									
                                    
                                    
								</div>
							</div>
						</div> <!-- row end -->
                       
                        
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- slider end -->
           
           
            
            
           

			<!-- main start -->
			<!-- ================ -->
			
            <section class="top-gap">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							
							<div class="sorting-filters">
								<form class="form-inline">
									<div class="form-group">
										<label>行业</label>
										<select class="form-control" id="industry">
											<option value="" selected="selected">全部</option>
									        <option>互联网</option>
									        <option>软件</option>
									        <option>金融</option>
									        <option>房地产</option>
                                            <option>其他</option>
										</select>
									</div>
                                    
									<div class="form-group">
										<label>融资阶段</label>
										<select class="form-control" id="invested_status">
											
											<option value=""  selected="selected" value="">全部</option>
											<option value="天使轮">天使轮</option>
                                            <option value="Pre A">Pre A</option>
											<option value="A 轮">A 轮</option>
                                            <option value="B 轮">B 轮</option>
                                            <option value="B 轮以后">B 轮以后</option>
										</select>
									</div>
                                    
                                    <div class="form-group">
										<label>融资金额</label>
										<select class="form-control" id="investment_budget">
											<option value=""  selected="selected">全部</option>
											<option><= ￥50万</option>
                                            <option><= ￥200万</option>
											<option><= ￥500万</option>
                                            <option><= ￥3000万</option>
                                            <option>>￥3000 万</option>
										</select>
									</div>
                                    
                                    
									<div class="form-group">
										<label>所在地</label>
										<select class="form-control" id="location">
											<option value="" selected="selected">全部</option>
											<option>美国</option>
                                            <option>中国</option>
                                            <option>欧洲</option>
                                            <option>其他</option>
										</select>
									</div>
                                    
                                     <div class="form-group">
                                    
                                    <button type="submit" id="search_startup" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
									</div>
                                    
                                    
                                    <div class="checkbox">
												<label>
													<input type="checkbox" id="ag_approve"> 有商业计划书
												</label>
									</div>	
								</form>
							</div>
                            
                            
                            <!-- startup list start -->
                            
                            
                            <div class="masonry-grid-fitrows row grid-space-20">

                             
                                <div id="result"></div>
                           							
								
							</div>
                        
                            <!-- startup list end -->
                            
							
							<div class="clearfix"></div>

							<div class="page_btn">
                                            <span class="page_box">
                                                 <a class="prev">上一页</a><span class="num"><span class="current_page">1</span><span style="padding:0 3px;">/</span><span class="total"></span></span><a class="next">下一页</a>
                                             </span>
                                        <div>


                                        <div class="clearfix "></div>
                                        <p><p><p>


						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
            
    {% endblock %}
    {% block extrascript %}
		<!-- page-wrapper end -->

         <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

        <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>



		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
        <script type="text/javascript" src="/static/js/startups.js"></script>


   {% endblock %}
