{% extends "agglobal/base.html" %}

{% block sectionbody %}
	
	<input id="userid" value="{{ luserid }}" type="hidden" />
	<input id="startupid" value="{{ startupid }}" type="hidden"/>

           	<!-- about header start -->
			<!-- ================ -->
			<section class="bg-each-startup">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container text-center">
                    <h2 id="project_name"></h2>
                    <br ><span id="description" class="light-bule"></span>


						<div class="row">
							<div class="col-md-12">
                                 <a id="follow" href="#" class="btn radius btn-info btn-sm"> <i class="fa fa-user-plus"></i> <span id="follow_txt">关注</span></a>

                                 <a href="#" class="btn radius btn-light-gray btn-sm" data-toggle="modal" data-target="#sendMessage"><i class="fa fa-envelope-o"></i> 私信</a>
                                  &nbsp; <a id="like" href="#" ><span class=" white"><i class="fa fa-thumbs-o-up font14"></i><span id="thumb">赞</span></span></a> &nbsp;  <span id="like_total" class="font20"></span>

                                   <!-- Modal start -->
                                    <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="myModalLabel">发送私信</h4>
										</div>
										<div class="modal-body">
							            <div class="row">
                                            <div class="main col-md-10 col-md-offset-1">
								           <form>
                                            Hi {{ startupusrname }}，
                                             <div> <textarea id="my-msg" class="form-control" rows="8" autofocus></textarea></div>
                                            <button id="message-submit" type="submit" class="btn btn-default">发送</button>
                                             </form>
                                            </div>
			                             </div> <!-- row end -->
                                       </div>

									</div>
								</div>
							</div><!-- Modal end-->


							</div>
						</div> <!-- row end -->


					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- about header end -->






			<!-- main start -->
			<!-- ================ -->

            <section>

				<div class="container">
					<div class="row">

						<p>

						  <!-- main start -->
						  <!-- ================ -->



                          <div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">关于我们</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->

							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-lg-4  col-xs-4">
											<img id="company_logo" src="" alt="">
										</div>
										<div class="col-lg-8  col-xs-8" id="about-us">
                                        <table class="table">
                                        <tbody>
                                        <tr>
                                           <td width="80px">所属行业：</td>
                                           <td id="cate"></td>
                                        </tr>
                                        <tr>
                                           <td>所在地区：</td>
                                           <td id="loc"></td>
                                        </tr>
                                        <tr>
                                           <td>融资金额：</td>
                                           <td id="budg"></td>
                                        </tr>
                                        <tr>
                                           <td>融资阶段:</td>
                                           <td id="status"></td>
                                        </tr>

                                        </tbody>
                                        </table>
                                       <a id="bp-btn" href="#" class="btn btn-default btn-sm">
                                         <i class="fa fa-user-plus"></i> 商业计划书
                                    </a>


										</div>
									</div>



                                    <p id="description" class="top-gap"></p>



								<div class="space hidden-md hidden-lg"></div>
								</div>
								<div class="col-md-6" id="startupImg">
								
								     <div id="owl-demo" class="owl-carousel owl-theme"></div>
									

								</div>
							</div>



						</div>
						<!-- main end -->

					</div>
				</div>
			</section>


			<!-- main end -->


            <!-- team start-->
            <div class="section gray-bg">
				<div class="container">

                    <h2>团队成员</h2>
							<div class="separator-2"></div>

                    <div id="team-members" class="row">




					</div>  <!-- row end-->
                          <p></p>
                     <!--  <a href="＃" class="view_all">查看全部 35 成员 >></a>   -->




				</div>

			</div>


            <!-- team end -->



              <!-- investor start-->
            <div class="section">
				<div class="container">

                 <h2>历史投资人</h2>
							<div class="separator-2"></div>

                    <div id="investors" class="row">




					</div>  <!--row end-->
                      <p></p>
                      <!-- <a href="＃" class="view_all">查看全部 35 历史投资人 >></a> -->



				</div>

			</div>


            <!-- investor end -->




              <!-- timeline start-->
            <div class="section">
				<div class="container">
                <hr>
                 <h2>融资经历</h2>
							<div class="separator-2"></div>





                <!-- timeline start-->


                   <div class="timeline row">

										<div class="timeline-icon hidden-xs"><i class="fa fa-angle-double-up"></i></div>

										<div class="timeline-date-label clearfix">今天</div>



                                        <div id="result"></div>


                                         <div id="srart_year"></div>

										<div class="timeline-date-label clearfix">2012</div>


										<!-- timeline item end -->


									</div>


                <!-- timeline end -->





				</div>
			</div>


            <!-- timeline end -->

{% endblock %}

{% block extrascript %}


        
        <!-- Modernizr javascript -->
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>
        
        <!-- Isotope javascript -->
		<script type="text/javascript" src="/static/plugins/isotope/isotope.pkgd.min.js"></script>
        
        <!-- Owl carousel javascript -->
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>

		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    
		<!-- Appear javascript -->
		<script type="text/javascript" src="/static/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/static/js/template.js"></script>
		<script type="text/javascript" src="/static/js/startup.js"></script>
		
{% endblock %}