<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- page-info start-->
    <div class="page-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 page-info">
                    <h1 class="h1-page-title">新建项目</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- page-info end -->


    <!-- page-intro start-->
    <!-- ================ -->
    <div class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="index.html">主页</a></li>
                        <li class="active">新建项目</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- page-intro end -->





    <!-- sign up form start -->

    <section class="main-container" ng-controller="CreateStartup2Ctrl as vm" ng-init="vm.init()">

        <div class="container">

            <div class=" object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">

                <form role="form"  name="createStartupForm" ng-submit="vm.finish(createStartupForm.$valid)" novalidate>
                                                        <!-- Modal start -->
                            <div class="modal fade" id="imageTypeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">image error</h4>
                                        </div>
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                        <h2>上传图片格式不正确</h2>
                                                        <p>请重新上传jpg， gif， png或pdf格式照片，文件必须小于1m</p>
                                                        <a href="#" class="btn-default btn" data-dismiss="modal">重新上传</a>


                                                    </div>
                                                </div>
                                                <!-- row end-->




                                                <!-- main-container end -->

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal end-->
                            
                            <!-- Modal start -->
                            <div class="modal fade" id="imageSizeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="H1">image error</h4>
                                        </div>
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                        <h2>上传图片格式不正确</h2>
                                                        <p>请重新上传jpg， gif， png或pdf格式照片，文件必须小于1m</p>
                                                        <a href="#" class="btn-default btn" data-dismiss="modal">重新上传</a>


                                                    </div>
                                                </div>
                                                <!-- row end-->




                                                <!-- main-container end -->

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal end-->
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-9 col-sm-9 centered-column">

                            <!-- Forms start -->
                            <div ng-repeat="member in vm.members track by member.id">
                                <h3>团队成员</h3>


                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div>
                                            <img src="{{member.file_name}}" class="userimg" id="member{{member.id}}">
                                        </div>


                                        <label>选择照片</label>
                                        <button ngf-select ng-model="member.file" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, 'member{{member.id}}')">上传照片</button>
                                        <p class="help-block">上传照片（jpg, gif, png）必须小于1m.</p>
                                    </div>

                                    <div class="form-group col-md-8">


                                        <div>
                                        </div>



                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="姓名*" ng-model="member.name" name="member_name{{member.id}}" required>
                                              <div ng-show="createStartupForm.$submitted || createStartupForm.member_name{{member.id}}.$touched" ng-messages="createStartupForm.member_name{{member.id}}.$error" ng-messages-include="messages.html"></div>
                                        </div>



                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="职位*" ng-model="member.position" name="memeber_position{{member.id}}" required>
                                             <div ng-show="createStartupForm.$submitted || createStartupForm.memeber_position{{member.id}}.$touched" ng-messages="createStartupForm.memeber_position{{member.id}}.$error" ng-messages-include="messages.html"></div>                                            
                                        </div>



                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" placeholder="个人介绍" ng-model="member.introduction"></textarea>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!-- Frist part end -->
                            </div>

                            <a href="#" ng-click="vm.moreMembers()">+ 更多成员  </a>
                            <p>
                            <p>
                            <p>
                            <p>

                            <div ng-repeat="investor in vm.investors track by investor.id">

                                <h3>历史投资人</h3>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div>
                                            <img src="{{investor.file_name}}" class="userimg" id="investor{{investor.id}}">
                                        </div>


                                        <label>选择照片</label>                                    
                                        <button ngf-select ng-model="investor.file" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, 'investor{{investor.id}}')">上传照片</button>
                                        <p class="help-block">上传照片（jpg, gif, png）必须小于1m.</p>
                                    </div>

                                    <div class="form-group col-md-8">


                                        <div>
                                        </div>



                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="investor.name" placeholder="姓名*" required name="investor_name{{investor.id}}">
                                            <div ng-show="createStartupForm.$submitted || createStartupForm.investor_name{{investor.id}}.$touched" ng-messages="createStartupForm.investor_name{{investor.id}}.$error" ng-messages-include="messages.html"></div>
                                        </div>



                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="investor.position" placeholder="职位*" name="investor_position{{investor.id}}" required>
                                            <div ng-show="createStartupForm.$submitted || createStartupForm.investor_position{{investor.id}}.$touched" ng-messages="createStartupForm.investor_position{{investor.id}}.$error" ng-messages-include="messages.html"></div>
                                        </div>



                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="个人介绍" ng-model="investor.introduction"></textarea>
                                        </div>


                                    </div>



                                </div>
                            </div>
                            <a href="#" ng-click="vm.moreInvestors()">+ 更多投资人  </a>
                            <p>
                            <p>
                            <p>
                            <p>
                            <div ng-repeat="financing_experience in vm.financing_experiences track by financing_experience.id">
                                <h3>融资经历</h3>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="标题，如A轮融资" ng-model="financing_experience.financing_title">
                                        </div>
                                    </div>




                                    <div class="col-md-4">
                                        <div class="form-group">

                                            <div class="form-inline">
                                                <label for="startDate">开始日期</label>
                                                <select ng-model="financing_experience.start_year">
                                                    <option>2015年</option>
                                                    <option>2014年</option>
                                                    <option>2013年</option>
                                                    <option>2012年</option>
                                                    <option>2011年</option>
                                                    <option>2010年</option>
                                                    <option>2009年</option>
                                                    <option>2008年</option>
                                                    <option>2007年</option>
                                                </select>

                                                <select ng-model="financing_experience.start_month">
                                                    <option>1月</option>
                                                    <option>2月</option>
                                                    <option>3月</option>
                                                    <option>4月</option>
                                                    <option>5月</option>
                                                    <option>6月</option>
                                                    <option>7月</option>
                                                    <option>8月</option>
                                                    <option>9月</option>
                                                    <option>10月</option>
                                                    <option>11月</option>
                                                    <option>12月</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            <div class="form-inline">
                                                <label for="endDate">结束日期</label>
                                                <select ng-model="financing_experience.end_year">
                                                    <option>2015年</option>
                                                    <option>2014年</option>
                                                    <option>2013年</option>
                                                    <option>2012年</option>
                                                    <option>2011年</option>
                                                    <option>2010年</option>
                                                    <option>2009年</option>
                                                    <option>2008年</option>
                                                    <option>2007年</option>
                                                </select>

                                                <select ng-model="financing_experience.end_month">
                                                    <option>1月</option>
                                                    <option>2月</option>
                                                    <option>3月</option>
                                                    <option>4月</option>
                                                    <option>5月</option>
                                                    <option>6月</option>
                                                    <option>7月</option>
                                                    <option>8月</option>
                                                    <option>9月</option>
                                                    <option>10月</option>
                                                    <option>11月</option>
                                                    <option>12月</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" rows="8" placeholder="简单介绍" ng-model="financing_experience.introduction"></textarea>
                                </div>

                            </div>
                            <a href="#" ng-click="vm.moreFinancingExperiences()">+ 更多经历  </a>
                            <button type="submit" class="btn btn-default pull-right">完成</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>



</div>
<!-- page-wrapper end -->


<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<!--<script type="text/javascript" src="plugins/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>


<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>




