<!-- main-container start -->
<!-- ================ -->
<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="Layout.html?a=43">主页</a></li>
                    <li class="active">忘记密码</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<section class="main-container">

    <div class="container" ng-controller="ForgetPasswordCtrl as vm">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-4 col-md-offset-4">



                <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <i class="fa fa-user"></i>
                    <h2>忘记密码</h2>
                    <p>请输入您的邮件地址， 重新设置密码。</p>

                    <form method="post" role="form" name="agForgetPasswordForm">
                        <div class="form-group  clearfix">
                            <input type="email" class="form-control" name="inputEmail" placeholder="Email" ng-model="vm.model.email" required>
                            <div ng-messages="agForgetPasswordForm.inputEmail.$error" ng-messages-include="messages.html"></div>
                            <div ng-show="vm.invalidEmail" class="messages">您输入的邮箱地址不存在！</div>
                        </div>


                        <button type="submit" class="btn-default btn" ng-click="vm.resetPassword()">提交</button>
                    </form>
                </div>




            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<!-- main-container end -->

<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<!--<script type="text/javascript" src="plugins/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>

 <!-- Owl carousel javascript -->
 <script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>


<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>


