<!-- header end -->



<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="Layout.html?a=eic">主页</a></li>
                    <li class="active">忘记密码</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-offset-3">

                <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <i class="fa fa-lock"></i>
                    <h2>重置密码</h2>
                    <p>重置密码的邮件已经发送到您的邮箱，请接收邮件，重新设置密码，请注意邮件中重置密码的链接两小时后会失效。</p>
                    <a href="＃" class="btn btn-default">重新登录</a>
                </div>



            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<!-- main-container end -->




<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>

