		
        <!-- scrollToTop -->
		<!-- ================ -->
		<!--<div class="scrollToTop"><i class="icon-up-open-big"></i></div>-->

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper" ng-controller="IndexCtrl as vm">
            
			<!-- ================ -->
			<div class="section clearfix">
				<div class="container">
					<div class="call-to-action">
						<div class="row">
							<div class="col-md-8 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
								<h1 class="title text-center h1color">不让靠谱的项目被埋没！</h1>
								<p class="text-center">AngelsGlobal是中美创业融资第一平台，成功帮助中美多家初创企业获得投资 </p>
							</div>
							<div class="col-md-4 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="200">
								<div class="text-center">
								<a href="#" class="btn btn-white" ng-click="vm.lookupProject()" >
								 <i class="fa fa-th"></i>  看项目
								</a>

								<a href="#" class="btn btn-default" ng-click="vm.findInvestment()">
                                <i class="pl-10 fa fa-key"></i> 找投资 
                                </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- page-top section end --> 
            
            			<!-- banner start -->
			<!-- ================ -->
			<div class="banner">

				<!-- slideshow start -->
				<!-- ================ -->
				<div>
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner">
							<ul>
								<!-- slide 1 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">
								
								<!-- main image -->
								<img src="images/slider-1-slide-1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                
                                <!-- LAYER NR. 1 -->
								<div class="tp-caption sfr tp-resizeme"
									data-x="0"
									data-y="bottom" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600"><img src="images/slider-1-layer-1.png" alt="">
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption adfont sfr tp-resizeme"
									data-x="580"
									data-y="100" 
									data-speed="600"
									data-start="2700"
									data-end="9400"
									data-endspeed="600">立足硅谷  放眼全球
								</div>

								
								<!-- LAYER NR. 3 -->
								<div class="tp-caption default_bg sfb medium tp-resizeme"
									data-x="600"
									data-y="210" 
									data-speed="600"
									data-start="4200"
									data-end="9400"
									data-endspeed="600">顶级项目资源
								</div>

								
								

								<!-- LAYER NR. 4 -->
								<div class="tp-caption default_bg sfb medium tp-resizeme"
									data-x="600"
									data-y="270" 
									data-speed="600"
									data-start="5200"
									data-end="9400"
									data-endspeed="600">跨境对接
								</div>
                                
                                <!-- LAYER NR. 5 -->
								<div class="tp-caption default_bg sfb medium tp-resizeme"
									data-x="600"
									data-y="330" 
									data-speed="600"
									data-start="6200"
									data-end="9400"
									data-endspeed="600">硅谷创新趋势
								</div>

								

								

								</li>
								<!-- slide 1 end -->

								

								<!-- slide 2 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
								
								<!-- main image -->
								<img src="images/slider-1-slide-2.jpg"  alt="kenburns"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption adfont sfr tp-resizeme"
									data-x="0"
									data-y="70" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">不让靠谱的项目被埋没！
								</div>

								

								<!-- LAYER NR. 2 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="10"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600">跨境视频路演
								</div>

							

								<!-- LAYER NR. 3 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="10"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600">微路演
								</div>

								
								<!-- LAYER NR. 4 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="10"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600">1+1私密对接
								</div>

								

								<!-- LAYER NR. 5 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="10"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600">丰富的专业天使/风投资源
								</div>
                                
                                
                                 <!-- LAYER NR. 6 -->
								<div class="tp-caption sfb tp-resizeme"
									data-x="right"
									data-y="bottom" 
									data-speed="600"
									data-start="2300"
									data-end="9400"
									data-endspeed="600"><img src="images/slider-2-layer.png" alt="">
								</div>

							

								

								</li>
								<!-- slide 2 end -->

							</ul>
							<div class="tp-bannertimer tp-bottom"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->
            

		    <!-- main-container start -->
			<!-- ================ -->
			<section class="main-container gray-bg light-translucent-bg parallax-bg-3">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title white">正在融资的项目</h1>
								<div class="separator"></div>
								<p class="text-center white">6000创业者，3200创业项目</p>
								<div class="row">
									<div class="col-sm-4 text-center">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
                                        
											<img src="images/project_1.png" alt="icon">
<h2>制胜法宝</h2>
											<p>制胜法宝”通过移动技术，帮助法律服务需求者高效的找到最专业的律师，同时帮助律师建立营销渠道.</p>
											<a href="#" class="btn-default btn" ng-click="vm.detail()">详细信息</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="200">
											<img src="images/project_2.png" alt="icon">
											<h2>禾赛科技</h2>
											<p>禾赛科技起源于硅谷圣禾赛市，落户于上海市嘉定工业园。禾赛致力于开发超高精度工业级气体分析仪器</p>
											<a href="#" class="btn-default btn" ng-click="vm.detail()">详细信息</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="400">
											<img src="images/project_3.png" alt="icon">
											<h2>Vimofits</h2>
											<p>(安卓或苹果）智能手表上的新一代健身平台。他的独一无二的核心技术可以自动识别运动</p>
											<a href="#" class="btn-default btn" ng-click="vm.detail()">详细信息</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- main-container end -->

			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix">

				<div class="container">
					<div class="row">
						<div class="col-md-12">

                           <h2 class="text-center">金牌投资人</h2>
								<div class="separator"></div>
								<p class="text-center"></p>





							<div class="owl-carousel carousel">
								<div class="image-box object-non-visible" data-animation-effect="zoomIn" data-effect-delay="0">
									<div class="overlay-container">
										<img src="/media/wangquhu@gmail.com_investor-1.jpg" alt="">
                                        <a href="/agglobal/viewInvProfile/158" class="overlay small">
												<i class="fa fa-link"></i>

											</a>

									</div>
                                    <a href="/agglobal/viewInvProfile/158" class="btn btn-light-gray btn-block">宏泰基金 - 王秋虎</a>

								</div>


								<div class="image-box object-non-visible" data-animation-effect="zoomIn" data-effect-delay="100">
							<div class="overlay-container">
										<img src="/media/liuwei@gmail.com_investor-2.jpg" alt="">
                                        <a href="/agglobal/viewInvProfile/156" class="overlay small">
												<i class="fa fa-link"></i>

											</a>

									</div>
                                    <a href="/agglobal/viewInvProfile/156" class="btn btn-light-gray btn-block">天使基金 - 吕薇</a>

								</div>
								<div class="image-box object-non-visible" data-animation-effect="zoomIn" data-effect-delay="200">
									<div class="overlay-container">
										<img src="/media/liwei@gmail.com_investor-3.jpg" alt="">
                                        <a href="/agglobal/viewInvProfile/159" class="overlay small">
												<i class="fa fa-link"></i>

											</a>

									</div>
                                    <a href="/agglobal/viewInvProfile/159" class="btn btn-light-gray btn-block">东方基金 - 李威</a>
								</div>
								<div class="image-box object-non-visible" data-animation-effect="zoomIn" data-effect-delay="300">
									<div class="overlay-container">
										<img src="/media/ii@ii.com_user_example.jpg" alt="">
                                        <a href="/agglobal/viewInvProfile/101" class="overlay small">
												<i class="fa fa-link"></i>

											</a>

									</div>
                                    <a href="/agglobal/viewInvProfile/101" class="btn btn-light-gray btn-block">真格基金 - 王建名</a>
								</div>


                                <div class="image-box">
									<div class="overlay-container">
										<img src="/media/liulili@hotmail.com_hp.png" alt="">
                                        <a href="/agglobal/viewInvProfile/148" class="overlay small">
												<i class="fa fa-link"></i>

											</a>

									</div>
                                    <a href="/agglobal/viewInvProfile/148" class="btn btn-light-gray btn-block">大众基金 - 刘莉莉</a>
								</div>




							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- section end -->


		</div>
		<!-- page-wrapper end -->
        

	    <!-- JavaScript files -->
            
		<!-- Jquery and Bootstap core js files -->


		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery REVOLUTION Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
   
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
  
        <!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
          
        <!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>
        
        <!-- Count To javascript -->
         <script type="text/javascript" src="plugins/jquery.countTo.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

