<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ol class="breadcrumb">
               <li><i class="fa fa-home pr-10"></i><a href="index.html">主页</a></li>
               <li class="active">用户登录</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<!-- page-intro end -->

<!--main-container  start -->
<section class="main-container bg_signup">
   <div class="container">
      <div class="row">
         <!-- main start -->
         <!-- ================ -->
         <div class="main col-md-8 col-md-offset-2">
            <div class="object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
               <div class="form-block center-block">
                  <h2 class="title">用户登录</h2>
                  <hr>
                  <div class="row">
                     <div class="col-md-10 col-sm-10 centered-column">
                        <form class="form-wrapper" method="post" name="agSignInForm" novalidate ng-submit="vm.signIn(agSignInForm.$valid)">
                           <div class="messages" style="text-align: center">{{vm.loginErrorMessage}}</div>
                           <div class="social-media-sign-up">
                              <a href="#" class="sign-up-block in-sign-up" ng-click="vm.linkedIn()">LinkedIn 登录</a>
                              <a href="#" class="sign-up-block wechat-sign-up" ng-click="vm.weiXin()">微信登录</a>
                           </div>
                           <div class="or-divider"></div>
                           <h4 class="text-center">用户名/Email 邮箱登录 </h4>
                           <div class="form-group  clearfix has-feedback">
                              <input type="email" class="form-control" name="inputEmail" placeholder="Email*" ng-model="vm.model.email" required>
                              <div ng-show="agSignInForm.$submitted || agSignInForm.inputEmail.$touched" ng-messages="agSignInForm.inputEmail.$error" ng-messages-include="messages.html"></div>
                              <i class="fa fa-envelope form-control-feedback"></i>
                           </div>
                           <div class="form-group has-feedback">
                              <input type="password" class="form-control" name="inputPassword" placeholder="密码*" ng-model="vm.model.password" required>
                              <div ng-show="agSignInForm.$submitted || agSignInForm.inputPassword.$touched" ng-messages="agSignInForm.inputPassword.$error" ng-messages-include="messages.html"></div>
                              <i class="fa fa-lock form-control-feedback"></i>
                           </div>
                           <div class="form-group">
                              <div>
                                 <div class="checkbox">
                                    <label>
                                    <input type="checkbox" required>
                                    记住账户.											
                                    </label>
                                 </div>
                                 <button type="submit" onClick="location.href='/agglobal/home/'" class="btn btn-group btn-gray btn-sm widthfull">登录</button>
                                 <ul class="list-inline">
                                    <li><a href="#" ng-click="vm.forgetPassword()" data-dismiss="modal">忘记密码?</a></li>
                                    <li class="pull-right">还没有账户，<a href="#" data-dismiss="modal" data-target="#loginModal" data-toggle="modal">立即注册>></a></li>
                                 </ul>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <p class="text-center space-top">已经有账户,  <a href="#">点击这里登录>></a></p>
            </div>
         </div>
         <!-- main end -->
      </div>
   </div>
</section>
<!-- main-container end -->

<!-- JavaScript files -->
<!-- Jquery and Bootstap core js files -->
<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>
<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>
<!-- Count To javascript -->
<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>