﻿<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- slider start -->
    <!-- ================ -->
    <section class="top-gap bg-purple">

        <!-- main start -->
        <!-- ================ -->
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div id="owl-demo" class="">


                            <div class="item">
                                <span class="default-bg badge-blue  pull-left">认证</span>
                                <img class="investor-slider-img circle has-badge" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>


                            <div class="item">
                                <span class="default-bg badge-blue  pull-left">认证</span>
                                <img class="investor-slider-img circle has-badge" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">
                                <span class="default-bg badge-blue  pull-left">认证</span>
                                <img class="investor-slider-img circle has-badge" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">

                                <img class="investor-slider-img circle" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">
                                <span class="default-bg badge-blue  pull-left">认证</span>
                                <img class="investor-slider-img circle has-badge" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>


                            <div class="item">

                                <img class="investor-slider-img circle" src="images/user_example.jpg" alt="photo">
                                <h3>李方</h3>
                                <span class="ag-bule">天使基金 创始合伙人</span>
                                <p>
                                <p class="gap30">目前从事天使投资，主要关注天使和A轮，关注领域O2O、移动互联网、互联网+、企业服务...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>




                        </div>
                    </div>
                </div>
                <!-- row end -->


            </div>
        </div>
        <!-- main end -->

    </section>
    <!-- slider end -->






    <!-- main start -->
    <!-- ================ -->

    <section class="top-gap" ng-controller="InvestorsCtrl as vm" ng-init="vm.init()">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">


                    <div class="sorting-filters">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>投资领域</label>
                                <select class="form-control" ng-model="vm.search.investment_field">
                                    <option selected="selected" value="">全部</option>
                                    <option>金融</option>
                                    <option>互联网</option>
                                    <option>生物</option>
                                    <option>其他</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>投资轮次</label>
                                <select class="form-control" ng-model="vm.search.investment_status">
                                    <option selected="selected" value="">全部</option>
                                    <option>天使轮</option>
                                    <option>Pre A</option>
                                    <option>A 轮</option>
                                    <option>B 轮</option>
                                    <option>B 轮以后</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>单个项目投资金额</label>
                                <select class="form-control" ng-model="vm.search.investment_budget">
                                    <option selected="selected" value="">全部</option>
                                    <option>&lt;= ￥50万</option>
                                    <option>&lt;= ￥200万</option>
                                    <option>&lt;= ￥500万</option>
                                    <option>&lt;= ￥3000万</option>
                                    <option>>￥3000 万</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>投资地域</label>
                                <select class="form-control" ng-model="vm.search.investment_location">
                                    <option selected="selected" value="">全部</option>
                                    <option>美国</option>
                                    <option>中国</option>
                                    <option>其他</option>
                                </select>
                            </div>



                            <div class="form-group">
                                <label>关键字</label>
                                <input type="text" class="form-control" size="15" ng-model="vm.search.$">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    AG认证投资人
                                </label>
                            </div>





                        </form>
                    </div>


                    <!-- investor list start -->

                    <div class="widget">

                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr class="widget-head">
                                        <td width="55%">投资人</td>
                                        <td>投资领域</td>
                                        <td>投资轮次</td>
                                        <td>单个项目投资金额</td>
                                        <td>投资地域</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    
       
                                    <tr dir-paginate="investor in vm.investors | filter:vm.search:strict || '' || undefined | itemsPerPage: vm.pageSize" current-page="vm.currentPage">
                                        <td>
                                            <div class="pull-left">
                                                <img class="list-img circle" ng-src="{{investor.profile_img}}" alt="photo"></div>
                                            <div class=" pull-left">
                                                <h5>{{investor.last_name}} {{investor.first_name}}<span class="badge badge-sm">认证</span></h5>
                                                {{investor.introduction}}</div>
                                        </td>
                                        <td>{{investor.investment_field}}</td>
                                        <td> <any ng-show="investor.investment_angel_status == 'Y'">天使轮,</any>
                                            <any ng-show="investor.investment_pre_a_status == 'Y'">Pre A,</any>
                                            <any ng-show="investor.investment_a_status == 'Y'">A轮,</any>
                                            <any ng-show="investor.investment_b_status == 'Y'">B轮,</any>
                                            <any ng-show="investor.investment_b_after_status == 'Y'">B 轮以后,</any></td>
                                        <td>{{investor.investment_budget}}</td>
                                        <td>{{investor.investment_location}}</td>
                                    </tr>
             
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                    <!-- investor list end -->
                        

                    <div class="clearfix"></div>

                    <!-- pagination start -->
                  <!--  <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>-->
                    <!-- pagination end -->

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>


    <!-- main end -->


</div>
<!-- page-wrapper end -->


<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<!--<script type="text/javascript" src="plugins/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>



<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>




