﻿<div class="messages">
    <div ng-message="required" class="message-red">必填</div>
    <div ng-message="minlength" class="message-red">密码长度不能少于6位！</div>
    <div ng-message="maxlength" class="message-red">密码长度不能多于20位！</div>
    <div ng-message="email" class="message-red">输入旳邮箱地址不正确</div>
    <div ng-message="compareTo" class="message-red">输入旳密码不匹配</div>
</div>