
<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="#" ng-click="vm.home()">Home</a></li>
                    <li class="active">Profile</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->


<!-- profile start -->
<!-- ================ -->
<div ng-controller="ProfileCtrl as vm" ng-init="vm.init()">
    <section class="main-container">

        <div class="container">


            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <div class="row light-gray-bg">
                        <div class="col-md-3 text-center">
                            <!-- Nav tabs -->
                            <img ng-src="{{vm.model.profile_img}}" class="userimg circle top30">
                        </div>

                        <aside class="col-md-9">
                            <h1 class="font30" class="ng-cloak">{{vm.model.last_name}} {{vm.model.first_name}} <span class="label label-success vertical-top-5 font14" ng-show="vm.userType == 'i'">认证</span></h1>

                            <span class="font18" class="ng-cloak">{{vm.model.profession}}</span><span ng-show="vm.userType == 'i'">({{vm.model.company_name}})</span>
                            <br>
                            <span class="color-light-gray" class="ng-cloak">{{vm.model.city}}, {{vm.model.country}} </span> <span ng-show="vm.userType == 'i'">｜{{vm.model.industryofconcern}}</span><p>
                            <p>
                                <span class="color-light-gray" ng-show="vm.userType == 'i'">关注行业/领域：</span>
                                <span class="ag-bule" ng-show="vm.userType == 'i'" class="ng-cloak">{{vm.model.industryofconcern}}</span>
                                <span class="color-light-gray" ng-show="vm.userType == 'e'">所属行业：</span>
                                <span class="ag-bule" ng-show="vm.userType == 'e'" class="ng-cloak">{{vm.model.industry}}</span>
                                <br>
                                <span class="color-light-gray" ng-show="vm.userType == 'e'">毕业院校： </span><span class="ag-bule" ng-show="vm.userType == 'e'" class="ng-cloak">{{vm.model.company_name}}</span>
                                <br />
                                {{vm.model.introduction}}<br>


                                <a href="#" class="btn btn-default btn-sm">
                                    <i class="fa fa-user-plus"></i>关注
                                </a>
                                <a href="#" class="btn btn-white btn-sm">
                                    <i class="fa fa-envelope-o"></i>私信
                                </a>
                                &nbsp; <a href="#"><i class="fa fa-thumbs-o-up font14">点赞</i></a> &nbsp;  <span class="font20 ag-bule">345</span>
                        </aside>
                    </div>
                    <!-- frist part end -->

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>


    <section class="section clearfix">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="sidebar">
                                <div class="side product-item vertical-divider-right">
                                    <div class="tabs-style-2" ng-show="vm.userType == 'i'">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">个人基本情况</a></li>
                                            <li><a href="#h2tab2" role="tab" data-toggle="tab">动态</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div class="tab-pane fade in active" id="h2tab1">
                                                <h3 class="title">个人简介</h3>
                                                <p class="ng-cloak">{{vm.model.personal_profile}}</p>
                                                <p>
                                                    <h3>已投项目</h3>
                                                    <p>
                                                        <div>

                                                            <!-- projects start -->
                                                            <table class="table table-hover project-list">
                                                                <tbody>

                                                                    <tr ng-repeat="investment_experience in vm.model.investment_experiences track by investment_experience.id">
                                                                        <td width="120px">
                                                                            <img ng-src="{{investment_experience.attached_project_file}}"></td>
                                                                        <td><span class="font18" class="ng-cloak">{{investment_experience.project_name}}</span>
                                                                            <br>
                                                                            <span class="color-light-gray" class="ng-cloak">{{investment_experience.project_detail}}</span><p>
                                                                                <br>
                                                                                <span class="ag-bule" class="ng-cloak">{{investment_experience.invested_status}} {{investment_experience.invest_year}}.{{investment_experience.invest_month}}</span>
                                                                        </td>
                                                                    </tr>


                                                                </tbody>
                                                            </table>

                                                            <!-- projects end -->






                                                        </div>
                                                    </p>

                                            </div>

                                            <div class="tab-pane fade" id="h2tab2">

                                                <h4 class="title">我参与的</h4>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar">
                                <div class="side product-item">
                                    <div class="tabs-style-2" ng-show="vm.userType == 'e'">
                                        <!-- Nav tabs -->
                                        <ul role="tablist" class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" role="tab" href="#h2tab1">个人基本情况</a></li>
                                            <li><a data-toggle="tab" role="tab" href="#h2tab2">动态</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div id="h2tab1" class="tab-pane fade in active">
                                                <h3 class="title">个人简介</h3>
                                                <p class="ng-cloak">{{vm.model.personal_profile}}</p>
                                                <h3>创业经历</h3>
                                                <p>
                                                </p>
                                                <div>

                                                    <!-- timeline start -->
                                                    <table class="table table-hover project-list">
                                                        <tbody>
                                                            <tr ng-repeat="business_experience in vm.model.business_experiences track by business_experience.id">
                                                                <td width="120px">
                                                                    <img ng-src="{{business_experience.attached_file}}"></td>
                                                                <td><span class="font18" class="ng-cloak">{{business_experience.company_name}}</span>
                                                                    <br>
                                                                    <span class="color-light-gray" class="ng-cloak">{{business_experience.description}}</span>
                                                                    <p>
                                                                        <br>
                                                                        <span class="ag-bule" class="ng-cloak">{{business_experience.start_year}}.{{business_experience.start_month}} - {{business_experience.end_year}}.{{business_experience.end_month}} ({{business_experience.location}}）</span>


                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <!-- timeline end -->






                                                </div>
                                                <p></p>

                                            </div>

                                            <div id="h2tab2" class="tab-pane fade">

                                                <h4 class="title">我参与的</h4>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- follow start -->
                        <aside class="col-md-3">
                            <div class="sidebar" ng-show="vm.userType == 'i'">
                                <div class="side product-item">
                                    <div class="tabs-style-2">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#plan" role="tab" data-toggle="tab">投资计划 </a></li>

                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div class="tab-pane fade in active" id="plan">
                                                <table class="table table-striped">

                                                    <tbody>
                                                        <tr>
                                                            <td width="36%" align="right">投资领域:</td>
                                                            <td align="left" class="ng-cloak">{{vm.model.investment_field}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">投资地点:</td>
                                                            <td align="left" class="ng-cloak">{{vm.model.investment_location}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">投资轮次:</td>
                                                            <td align="left">
                                                                <any ng-show="vm.model.investment_angel_status == 'Y'">天使轮</any>
                                                                <any ng-show="vm.model.investment_pre_a_status == 'Y'">,Pre A</any>
                                                                <any ng-show="vm.model.investment_a_status == 'Y'">,A轮</any>
                                                                <any ng-show="vm.model.investment_b_status == 'Y'">,B轮</any>
                                                                <any ng-show="vm.model.investment_b_after_status == 'Y'">,B 轮以后</any>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">单个项目金额:</td>
                                                            <td align="left" class="ng-cloak">{{vm.model.investment_budget}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade">

                                                <h4 class="title">我参与的</h4>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>


                                            </div>
                                            <!-- h2tab3 end -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar">
                                <div class="side product-item">
                                    <div class="tabs-style-2">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#h2tab3" role="tab" data-toggle="tab">关注（15）</a></li>
                                            <li><a href="#h2tab4" role="tab" data-toggle="tab">粉丝（234）</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div class="tab-pane fade in active" id="h2tab3">
                                                <div class="follow">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                </div>


                                            </div>
                                            <!-- h2tab3 end -->

                                            <div class="tab-pane fade" id="h2tab4">
                                                <div class="follow">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                </div>

                                            </div>
                                            <!-- h2tab4 end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- follow end -->
                    </div>

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
</div>

<!-- profile end -->
<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<!--<script type="text/javascript" src="plugins/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>


<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>








