<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">




    <!-- page-intro start-->
    <!-- ================ -->
    <div class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- page-intro end -->







    <!-- profile start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">


            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <div class="row light-gray-bg">
                        <div class="col-md-3 text-center">
                            <!-- Nav tabs -->
                            <img src="images/user_example2.jpg" class="userimg circle top30">
                        </div>

                        <aside class="col-md-9">
                            <h1 class="font30">于小伟 </h1>

                            <span class="font18">网页设计师 （design.com）</span>
                            <br>
                            <span class="color-light-gray">加州，美国</span><p>
                            <p>
                                <span class="color-light-gray">所属行业：</span>设计<br>
                                <span class="color-light-gray">毕业院校：</span>UCLA<br>
                                我正在做物联网方面的项目，寻求能做后台开发的合作人<br>


                                <a href="#" class="btn btn-default btn-sm">
                                    <i class="fa fa-user-plus"></i>关注
                                </a>
                                <a href="#" class="btn btn-white btn-sm">
                                    <i class="fa fa-envelope-o"></i>私信
                                </a>
                                &nbsp; <a href="#"><i class="fa fa-thumbs-o-up font14">点赞</i></a> &nbsp;  <span class="font20 ag-bule">345</span>
                        </aside>
                    </div>
                    <!-- frist part end -->

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>


    <section class="section clearfix">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="sidebar">
                                <div class="side product-item vertical-divider-right">
                                    <div class="tabs-style-2">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab">个人基本情况</a></li>
                                            <li><a href="#h2tab2" role="tab" data-toggle="tab">动态</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div class="tab-pane fade in active" id="h2tab1">
                                                <h3 class="title">个人简介</h3>
                                                <p>中国人民大学金融硕士，曾合伙创立了北京鼎盛创投科技有限公司，现就职于国富孵化器，专注早期TMT项目的投资。</p>
                                                <h3>创业经历</h3>
                                                <p>
                                                    <div>

                                                        <!-- timeline start -->
                                                        <table class="table table-hover project-list">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="120px">
                                                                        <img src="images/logos/1.jpg"></td>
                                                                    <td><span class="font18">弹吧</span>
                                                                        <br>
                                                                        <span class="color-light-gray">琴谱工具＋点评社区＋LBS 约课模式的钢琴培训APP</span>
                                                                        <p>
                                                                            <br>
                                                                            <span class="ag-bule">2014.02 - 2015.01 （硅谷）</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="120px">
                                                                        <img src="images/logos/1.jpg"></td>
                                                                    <td><span class="font18">弹吧</span>
                                                                        <br>
                                                                        <span class="color-light-gray">琴谱工具＋点评社区＋LBS 约课模式的钢琴培训APP</span><p>
                                                                            <br>
                                                                            <span class="ag-bule">2014.02 - 2015.01 （硅谷）</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="120px">
                                                                        <img src="images/logos/1.jpg"></td>
                                                                    <td><span class="font18">弹吧</span>
                                                                        <br>
                                                                        <span class="color-light-gray">琴谱工具＋点评社区＋LBS 约课模式的钢琴培训APP</span><p>
                                                                            <br>
                                                                            <span class="ag-bule">2014.02 - 2015.01 （硅谷）</span>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>


                                                        <!-- timeline end -->






                                                    </div>
                                                </p>

                                            </div>

                                            <div class="tab-pane fade" id="h2tab2">

                                                <h4 class="title">我参与的</h4>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>
                                                <p>投资人详细介绍编辑页面</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- follow start -->
                        <aside class="col-md-3">
                            <div class="sidebar">
                                <div class="side product-item">
                                    <div class="tabs-style-2">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#h2tab3" role="tab" data-toggle="tab"><i>关注（15）</i></a></li>
                                            <li><a href="#h2tab4" role="tab" data-toggle="tab">粉丝（234）</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content padding-top-clear padding-bottom-clear">
                                            <div class="tab-pane fade in active" id="h2tab3">
                                                <div class="follow">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                </div>


                                            </div>
                                            <!-- h2tab3 end -->

                                            <div class="tab-pane fade" id="h2tab4">
                                                <div class="follow">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                    <img src="images/like-img.jpg" alt="">
                                                </div>

                                            </div>
                                            <!-- h2tab4 end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- follow end -->
                    </div>

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>

    <!-- profile end -->










    <!-- footer  -->
    <!-- ================ -->
    <footer id="footer">

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2015  <a target="_blank" href="#">AngelsGlobal</a>. All Rights Reserved</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="navbar navbar-default" role="navigation">

                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">联系我们</a></li>
                                    <li><a href="＃">关于我们</a></li>
                                    <li><a href="＃">招聘信息</a></li>
                                    <li><a href="portfolio-3col.html">AG创业咖啡</a></li>
                                </ul>



                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

</div>
<!-- page-wrapper end -->


<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>



<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>

