<div class="no-trans bg_signup" ng-controller="SignUpUserCtrl as vm">
    

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="">

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-8 col-md-offset-2">

                            <!-- logo -->
                            <div class="text-center">
                                <a href="#" ng-click="vm.home()">
                                    <img id="logo" src="images/logo.png" alt="AG"></a>
                            </div>


                            <p class="text-center" ng-show="vm.userType == 'e'">不让靠谱项目被淹没！</p>
                            <p class="text-center" ng-show="vm.userType == 'i'">6000海外创业者，3000海外项目，任你挑！</p>

                            <div>
                                <div class="form-block center-block">
                                    <h2 class="title" ng-show="vm.userType == 'e'">用户注册</h2>
                                    <h2 class="title" ng-show="vm.userType == 'i'">投资人注册</h2>
                                    <hr>

                                    <div class="row">
                                        <div class="col-md-10 col-sm-10 centered-column">
                                            <form class="form-wrapper" name="agRegistrationForm" novalidate ng-submit="vm.registerUser(agRegistrationForm.$valid)">

                                                <div class="social-media-sign-up">
                                                    <a href="#" class="sign-up-block in-sign-up" ng-click="vm.linkedIn()">LinkedIn 注册</a>
                                                    <a href="#" class="sign-up-block wechat-sign-up" ng-click="vm.weixin()">微信注册</a>
                                                </div>

                                                <div class="or-divider"></div>

                                                <h4 class="text-center">Email 注册 </h4>


                                                <div class="form-group  clearfix has-feedback">
                                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email*" name="uEmail" required ng-model="vm.model.email" ng-blur="vm.checkEmail()" autofocus>
                                                    
                                                 
                                                       <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.uEmail.$touched" ng-messages="agRegistrationForm.uEmail.$error" ng-messages-include="email_messages.html"></div>
                                                      <!-- <span ng-show="agRegistrationForm.uEmail.$error.email" class="messages" >！</span>-->
                                                       <span ng-show="(agRegistrationForm.$submitted || agRegistrationForm.uEmail.$touched) && !vm.emailAvailable" class="messages" >电子邮件已经被注册！</span>

                                                 
                                                    
                                                </div>

                                                <div class="form-group has-feedback">
                                                    <input type="password" class="form-control" name="inputPassword" placeholder="密码*" ng-minlength=6 ng-maxlength=20 required ng-model="vm.model.password">
                                                    <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.inputPassword.$touched" ng-messages="agRegistrationForm.inputPassword.$error" ng-messages-include="messages.html"></div>
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>

                                                <div class="form-group has-feedback">
                                                    <input type="password" class="form-control" name="inputRePassword" placeholder="重复密码*" ng-model="vm.model.confirmPassword" ng-minlength=6 ng-maxlength=20  required compare-to="vm.model.password">
                                                    <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.inputRePassword.$touched"  ng-messages="agRegistrationForm.inputRePassword.$error" ng-messages-include="messages.html"></div>
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <button type="submit" class="btn btn-group btn-gray btn-sm widthfull">马上注册</button>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>


                                </div>
                                <p class="text-center space-top">已经有账户,  <a href="#" data-target="#login" data-toggle="modal">点击这里登录>></a></p>
                                
                            </div>

                        </div>
                        <!-- main end -->

                    </div>
                </div>

            </section>
            <!-- main-container end -->

        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster
        ================================================== -->
        <!-- Jquery and Bootstap core js files -->
<!--        <script type="text/javascript" src="plugins/jquery.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

        <!-- Modernizr javascript -->
        <script type="text/javascript" src="plugins/modernizr.js"></script>

        <!-- Appear javascript -->
        <script type="text/javascript" src="plugins/jquery.appear.js"></script>


        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="js/template.js"></script>
    
</div>

