<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>


<!-- main-container start -->
<!-- ================ -->
<script>
    window.setTimeout(function () {
        // Move to a new location or you can do something else
        window.location.href = "Layout.html";

    }, 5000);
</script>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-offset-3">

                <div class="col-sm-12 text-center">

                    <div class=" object-non-visible text-center" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                        <div class="icon-bg"><i class="fa fa-check"></i></div>

                        <h2>恭喜您，账户已注册成功</h2>
                        <p>页面5秒后跳转，或点击 <a href="Layout.html?a=nmj">回到首页面</a>。</p>
                        <a href="＃" class="btn btn-default">验证邮箱</a>
                    </div>
                </div>


            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<!-- main-container end -->











<!-- page-wrapper end -->


<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>


<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>

