<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper" ng-controller="SignUpUser2Ctrl as vm" ng-init="vm.init()">
    <!-- page-info start-->
    <div class="page-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 page-info">
                    <h1 class="h1-page-title">用户注册</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- page-info end -->


    <!-- page-intro start-->
    <!-- ================ -->
    <div class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="Layout.html?a=2">主页</a></li>
                        <li class="active">用户注册</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- page-intro end -->

    <!-- sign up form start -->

    <section class="main-container">

        <div class="container">

            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">



                    <!-- Forms start -->
                    <!-- ============================================================================== -->


                    <h3>基本信息</h3>



                    <form role="form" name="agRegistrationForm" ng-submit="vm.registerUser(agRegistrationForm.$valid)">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div>
                                    <img src="{{vm.userImage}}" class="userimg circle" alt="Description" />
                                </div>
                                <label>
                                    <p class="help-block">
                                        <button ngf-select ng-model="vm.model.profile_img" ngf-multiple="multiple" ngf-change="vm.profileSelected($files, $file, $event, $rejectedFiles)">选择照片</button>
                                        <div ng-model="vm.model.profile_img[0].name" name="profileImage" />
                                        <!--<div ng-messages="agRegistrationForm.profileImage.$error" ng-messages-include="messages.html"></div>    -->
                                    </p>
                                </label>
                                <p class="help-block">上传照片（jpg, gif, png）必须小于1m.</p>
                            </div>

                            <!-- Modal start -->
                            <div class="modal fade" id="imageTypeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">image error</h4>
                                        </div>
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                        <h2>上传图片格式不正确</h2>
                                                        <p>请重新上传jpg， gif， png或pdf格式照片，文件必须小于1m</p>
                                                        <a href="#" class="btn-default btn" data-dismiss="modal">重新上传</a>


                                                    </div>
                                                </div>
                                                <!-- row end-->




                                                <!-- main-container end -->

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal end-->
                            
                            <!-- Modal start -->
                            <div class="modal fade" id="imageSizeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="H1">image error</h4>
                                        </div>
                                        <div class="modal-body">


                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="box-style-1 gray-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                        <h2>上传图片格式不正确</h2>
                                                        <p>请重新上传jpg， gif， png或pdf格式照片，文件必须小于1m</p>
                                                        <a href="#" class="btn-default btn" data-dismiss="modal">重新上传</a>


                                                    </div>
                                                </div>
                                                <!-- row end-->




                                                <!-- main-container end -->

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal end-->

                            <div class="form-group col-md-8" ng-if="vm.userType == 'i'">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <input ng-model="vm.model.last_name" type="text" class="form-control" name="lastName" placeholder="姓名*" required />
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.lastName.$touched" ng-messages="agRegistrationForm.lastName.$error" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="vm.model.industryofconcern" name="industryofconcern" required>
                                                <option value="">关注行业*</option>
                                                <option>互联网</option>
                                                <option>金融</option>
                                                <option>房地产</option>
                                                <option>其他</option>
                                            </select>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.industryofconcern.$touched" ng-messages="agRegistrationForm.industryofconcern.$error" name="industryofconcern" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select ng-model="vm.model.country" class="form-control" name="country" required>
                                                <option value="">国家*</option>
                                                <option>美国</option>
                                                <option>中国</option>
                                                <option>其他</option>
                                            </select>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.industcountryryofconcern.$touched" ng-messages="agRegistrationForm.country.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" ng-model="vm.model.city" class="form-control" name="city" placeholder="所在城市*" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.city.$touched" ng-messages="agRegistrationForm.city.$error" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                </div>




                                <!--                            <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <select class="form-control" ng-model="vm.model.industry" name="industry" required>
                                                                                <option value="">领域*</option>
                                                                                <option>互联网</option>
                                                                                <option>医药</option>
                                                                                <option>教育</option>
                                                                                <option>其他</option>
                                                                            </select>
                                                                            <div ng-messages="agRegistrationForm.industry.$error" ng-messages-include="messages.html"></div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">

                                                                            <select class="form-control" ng-model="vm.model.industryofconcern" name="industryofconcern" required>
                                                                                <option value="">关注行业*</option>
                                                                                <option>互联网</option>
                                                                                <option>金融</option>
                                                                                <option>房地产</option>
                                                                                <option>其他</option>
                                                                            </select>
                                                                            <div ng-messages="agRegistrationForm.industryofconcern.$error" name="industryofconcern" ng-messages-include="messages.html"></div>                                            
                                                                        </div>
                                                                    </div>
                                                                </div>-->



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="company" placeholder="所属机构*" ng-model="vm.model.company_name" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.company.$touched" ng-messages="agRegistrationForm.company.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="location" placeholder="职位*" ng-model="vm.model.profession" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.location.$touched" ng-messages="agRegistrationForm.location.$error" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <textarea class="form-control" rows="3" placeholder="一句话介绍*" ng-model="vm.model.introduction" name="introduction" required></textarea>
                                    <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.introduction.$touched" ng-messages="agRegistrationForm.introduction.$error" ng-messages-include="messages.html"></div>
                                </div>

                            </div>

                            <div class="form-group col-md-8" ng-if="vm.userType == 'e'">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input ng-model="vm.model.last_name" type="text" class="form-control" name="lastName" placeholder="姓名*" required />
                                            <div  ng-show="agRegistrationForm.$submitted || agRegistrationForm.lastName.$touched"  ng-messages="agRegistrationForm.lastName.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <select class="form-control" ng-model="vm.model.industry" name="industry" required>
                                                <option value="">所属行业*</option>
                                                <option>互联网</option>
                                                <option>医药</option>
                                                <option>教育</option>
                                                <option>其他</option>
                                            </select>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.industry.$touched" ng-messages="agRegistrationForm.industry.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select ng-model="vm.model.country" class="form-control" name="country" required>
                                                <option value="">国家*</option>
                                                <option>美国</option>
                                                <option>中国</option>
                                                <option>其他</option>
                                            </select>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.country.$touched"  ng-messages="agRegistrationForm.country.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" ng-model="vm.model.city" class="form-control" name="city" placeholder="所在城市*" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.city.$touched" ng-messages="agRegistrationForm.city.$error" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="company" placeholder="毕业院校（含在读)*" ng-model="vm.model.company_name" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.company.$touched" ng-messages="agRegistrationForm.company.$error" ng-messages-include="messages.html"></div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="location" placeholder="专业*" ng-model="vm.model.profession" required>
                                            <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.location.$touched" ng-messages="agRegistrationForm.location.$error" ng-messages-include="messages.html"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <textarea class="form-control" rows="3" placeholder="一句话介绍*" ng-model="vm.model.introduction" name="introduction" required></textarea>
                                    <div ng-show="agRegistrationForm.$submitted || agRegistrationForm.introduction.$touched" ng-messages="agRegistrationForm.introduction.$error" ng-messages-include="messages.html"></div>
                                </div>

                            </div>

                        </div>
                        <!-- Frist part end -->

                        <h3>个人简介</h3>
                        <div class="form-group">
                            <textarea class="form-control" rows="8" ng-model="vm.model.personal_profile"></textarea>
                        </div>


                        <div ng-repeat="business_experience in vm.business_experiences track by business_experience.id" ng-if="vm.userType == 'e'">

                            <h3>创业经历</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="companyName" placeholder="公司名称" ng-model="business_experience.company_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="jobTitle" placeholder="职位" ng-model="business_experience.job_title">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="location" placeholder="所在地" ng-model="business_experience.location">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">开始日期</label>
                                        <select ng-model="business_experience.start_year">
                                            <option value="">年</option>
                                            <option value="2015">2015年</option>
                                            <option value="2014">2014年</option>
                                            <option value="2013">2013年</option>
                                            <option value="2012">2012年</option>
                                            <option value="2011">2011年</option>
                                            <option value="2010">2010年</option>
                                            <option value="2009">2009年</option>
                                            <option value="2008">2008年</option>
                                            <option value="2007">2007年</option>
                                        </select>
                                        <select ng-model="business_experience.start_month">
                                            <option value="">月</option>
                                            <option value="1">1月</option>
                                            <option value="2">2月</option>
                                            <option value="3">3月</option>
                                            <option value="4">4月</option>
                                            <option value="5">5月</option>
                                            <option value="6">6月</option>
                                            <option value="7">7月</option>
                                            <option value="8">8月</option>
                                            <option value="9">9月</option>
                                            <option value="10">10月</option>
                                            <option value="11">11月</option>
                                            <option value="12">12月</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">结束日期</label>
                                        <select ng-model="business_experience.end_year">
                                            <option value="">年</option>
                                            <option value="2015">2015年</option>
                                            <option value="2014">2014年</option>
                                            <option value="2013">2013年</option>
                                            <option value="2012">2012年</option>
                                            <option value="2011">2011年</option>
                                            <option value="2010">2010年</option>
                                            <option value="2009">2009年</option>
                                            <option value="2008">2008年</option>
                                            <option value="2007">2007年</option>
                                        </select>
                                        <select ng-model="business_experience.end_month">
                                            <option value="">月</option>
                                            <option value="1">1月</option>
                                            <option value="2">2月</option>
                                            <option value="3">3月</option>
                                            <option value="4">4月</option>
                                            <option value="5">5月</option>
                                            <option value="6">6月</option>
                                            <option value="7">7月</option>
                                            <option value="8">8月</option>
                                            <option value="9">9月</option>
                                            <option value="10">10月</option>
                                            <option value="11">11月</option>
                                            <option value="12">12月</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="8" placeholder="简单介绍" name="description" ng-model="business_experience.description"></textarea>
                            </div>

                            <div class="form-group">
                                <p class="help-block">
                                    <button ngf-select ng-model="business_experience.files" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, $file, $event, $rejectedFiles)">上传图片</button>
                                    <div ng-model="business_experience.files[0].name" name="business_experience_file{{business_experience.id}}" />
                                    {{business_experience.files[0].name}}
                                    <!--<div ng-messages="agRegistrationForm.business_experience_file{{business_experience.id}}.$error" ng-messages-include="messages.html"></div>-->
                                </p>
                            </div>

                        </div>
                        <div ng-if="vm.userType == 'e'">
                            <a href="#" ng-click="vm.moreBusinessExperience()">+ 更多经历  </a>
                        </div>



                        <h3 ng-if="vm.userType == 'i'">投资计划</h3>


                        <div class="row" ng-if="vm.userType == 'i'">
                            <div class="col-md-4">
                                <div class="form-group">

                                    <div class="form-group">

                                        <select class="form-control" ng-model="vm.model.investment_field">
                                            <option value="" selected>投资领域</option>
                                            <option>互联网</option>
                                            <option>金融</option>
                                            <option>房地产</option>
                                            <option>其他</option>
                                        </select>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">


                                    <input type="text" class="form-control" id="location" placeholder="投资地点" ng-model="vm.model.investment_location">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" ng-model="vm.model.investment_budget">
                                        <option value="" selected>投资计划</option>
                                        <option>50万以下</option>
                                        <option>50-100万</option>
                                        <option>100-500万</option>
                                        <option>500万以上</option>
                                    </select>
                                </div>
                            </div>



                        </div>


                        <div class="row" ng-if="vm.userType == 'i'">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label>投资轮次：</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.investment_angel_status" ng-true-value="'Y'" ng-false-value="'N'">
                                        天使轮
                                       
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.investment_pre_a_status" ng-true-value="'Y'" ng-false-value="'N'">
                                        Pre A
                                       
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.investment_a_status" ng-true-value="'Y'" ng-false-value="'N'">
                                        A 轮
                                       
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.investment_b_status" ng-true-value="'Y'" ng-false-value="'N'">
                                        B 轮
                                       
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.investment_b_after_status" ng-true-value="'Y'" ng-false-value="'N'">
                                        B 轮以后                                       
                                    </label>


                                </div>
                            </div>

                        </div>

                        <!--investor experience-->
                        <div ng-repeat="investment_experience in vm.investment_experiences track by investment_experience.id" ng-if="vm.userType == 'i'">




                            <p>

                            <h3>已投项目</h3>



                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">项目名称</label>
                                        <input type="text" class="form-control" ng-model="investment_experience.project_name" placeholder="项目名称">
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">投资轮次</label>
                                        <select class="form-control" ng-model="investment_experience.invested_status">
                                            <option>天使轮</option>
                                            <option>Pre A</option>
                                            <option>A 轮</option>
                                            <option>B 轮</option>
                                            <option>B 轮以后</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">投资日期</label>
                                        <select ng-model="investment_experience.invest_year">
                                            <option value="">年</option>
                                            <option value="2015">2015年</option>
                                            <option value="2014">2014年</option>
                                            <option value="2013">2013年</option>
                                            <option value="2012">2012年</option>
                                            <option value="2011">2011年</option>
                                            <option value="2010">2010年</option>
                                            <option value="2009">2009年</option>
                                            <option value="2008">2008年</option>
                                            <option value="2007">2007年</option>
                                        </select>

                                        <select ng-model="investment_experience.invest_month">
                                            <option value="">月</option>
                                            <option value="1">1月</option>
                                            <option value="2">2月</option>
                                            <option value="3">3月</option>
                                            <option value="4">4月</option>
                                            <option value="5">5月</option>
                                            <option value="6">6月</option>
                                            <option value="7">7月</option>
                                            <option value="8">8月</option>
                                            <option value="9">9月</option>
                                            <option value="10">10月</option>
                                            <option value="11">11月</option>
                                            <option value="12">12月</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                            `
                            <div class="form-group">

                                <textarea class="form-control" rows="4" placeholder="项目介绍" ng-model="investment_experience.project_detail"></textarea>
                            </div>

                            <div class="form-group">
                                <p class="help-block">
                                    <button ngf-select ng-model="investment_experience.files" ngf-multiple="multiple" ngf-change="vm.fileSelected($files, $file, $event, $rejectedFiles)">上传公司LOGO</button>
                                    {{investment_experience.files[0].name}}
                                    <div ng-model="investment_experience.files[0].name" name="investment_experience_file{{investment_experience.id}}" />
                                    <!--<div ng-messages="agRegistrationForm.investment_experience_file{{investment_experience.id}}.$error" ng-messages-include="messages.html"></div>-->
                                </p>
                            </div>

                        </div>
                        <div ng-if="vm.userType == 'i'">
                            <a href="#" ng-click="vm.moreInvestmentExperience()">+ 更多经历  </a>
                        </div>

                        <div class="alert alert-danger" ng-show="vm.findError">请查对必填选项。</div>
                        <button type="submit" class="btn btn-default">注册</button>

                    </form>


                </div>
            </div>
        </div>


    </section>



</div>

        
        <!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

    
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>
<!-- page-wrapper end -->





