﻿<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">





    <!-- slider start -->
    <!-- ================ -->
    <section class="top-gap bg-startup">

        <!-- main start -->
        <!-- ================ -->
        <div class="main" ng-controller="StartupsCtrl as vm" ng-init="vm.init()">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div id="owl-demo">


                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_1.png" alt="logo">
                                <h3>制胜法宝</h3>
                                <p>
                                <p class="gap30">"制胜法宝”通过移动技术，采用同城、抢答、推送、专业度匹配等机制，帮助用户高效的找到最专业的律师....</p>
                                <a href="startup.html" class="btn-default btn">详细信息</a>
                            </div>


                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_2.png" alt="photo">
                                <h3>禾赛科技</h3>
                                <p>
                                <p class="gap30">禾赛科技起源于硅谷圣禾赛市，落户于上海市嘉定区嘉定工业园。禾赛致力于开发超高精度工业级气体分析仪器...</p>
                                <a href="startup.html" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_3.png" alt="photo">
                                <h3>Vimofits</h3>
                                <p>
                                <p class="gap30">(安卓或苹果）智能手表上的新一代健身平台。他的独一无二的核心技术可以自动识别运动，自动学习新运动姿势...</p>
                                <a href="startup.html" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_1.png" alt="logo">
                                <h3>制胜法宝</h3>
                                <p>
                                <p class="gap30">"制胜法宝”通过移动技术，采用同城、抢答、推送、专业度匹配等机制，帮助用户高效的找到最专业的律师....</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>


                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_2.png" alt="photo">
                                <h3>禾赛科技</h3>
                                <p>
                                <p class="gap30">禾赛科技起源于硅谷圣禾赛市，落户于上海市嘉定区嘉定工业园。禾赛致力于开发超高精度工业级气体分析仪器...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>

                            <div class="item">
                                <img class="investor-slider-img circle" src="images/project_3.png" alt="photo">
                                <h3>Vimofits</h3>
                                <p>
                                <p class="gap30">(安卓或苹果）智能手表上的新一代健身平台。他的独一无二的核心技术可以自动识别运动，自动学习新运动姿势...</p>
                                <a href="＃" class="btn-default btn">详细信息</a>
                            </div>



                        </div>
                    </div>
                </div>
                <!-- row end -->


            </div>
        </div>
        <!-- main end -->

    </section>
    <!-- slider end -->






    <!-- main start -->
    <!-- ================ -->

    <section class="top-gap">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">


                    <div class="sorting-filters">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>行业</label>
                                <select class="form-control">
                                    <option selected="selected">全部</option>
                                    <option>金融</option>
                                    <option>互联网</option>
                                    <option>生物</option>
                                    <option>其他</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>融资阶段</label>
                                <select class="form-control">
                                    <option selected="selected">全部</option>
                                    <option>天使轮</option>
                                    <option>Pre A</option>
                                    <option>A 轮</option>
                                    <option>B 轮</option>
                                    <option>B 轮以后</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>融资金额</label>
                                <select class="form-control">
                                    <option selected="selected">全部</option>
                                    <option>&lt;= ￥50万</option>
                                    <option>&lt;= ￥200万</option>
                                    <option>&lt;= ￥500万</option>
                                    <option>&lt;= ￥3000万</option>
                                    <option>>￥3000 万</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>所在地</label>
                                <select class="form-control">
                                    <option selected="selected">全部</option>
                                    <option>美国</option>
                                    <option>中国</option>
                                    <option>其他</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>关键字</label>
                                <input type="text" class="form-control" size="15">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    有商业计划书
                                </label>
                            </div>
                        </form>
                    </div>


                    <!-- startup list start -->


                    <div class="masonry-grid-fitrows row grid-space-20">

                        <div class="col-md-3 col-sm-6 masonry-grid-item" style="position: absolute; left: 0px; top: 0px;">
                            <div class="listing-item text-center">
                                <a href="#">
                                    <img class="startup-list-img margin20" src="images/logos/1.jpg" alt="photo"></a>
                                <h3 class="title"><a href="#">制胜法宝</a></h3>
                                <p class="pad10">"制胜法宝”通过移动技术，采用同城、抢答、推送、专业度匹配等机制，帮助用户高效的找到最专业的律师....</p>
                                <div class="row bg-startup-list">
                                    <div class="col-xs-5 text-left font-red">
                                        <i class="fa fa-heart-o"></i>123 粉丝
                                    </div>


                                    <div class="col-xs-7 text-right">
                                        <a href="#">关注</a> | 
												<a href="#">查看</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- startup list end -->


                    <div class="clearfix"></div>

                    <!-- pagination start -->
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                    <!-- pagination end -->

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>


    <!-- main end -->

</div>
<!-- page-wrapper end -->


<!-- JavaScript files -->

<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->

<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>



<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>



<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>


