
html {

	
	height: 100%;
}
body {
	margin:0;
	padding:0;
	font-family: 14px/1.5 arial,"Microsoft YaHei","微软雅黑","宋体","黑体", sans-serif;
	font-size: 14px;
	line-height: 1.50;
	color: #666666;
	background-color: #ffffff;
	
}

.space3 {
	letter-spacing: 3px;
}

.ad-font {
	
	letter-spacing: 3px;
}


body.full-height, body.full-height .page-wrapper {
	background-color: #fafafa;
	min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #343434;
	line-height: 1.2;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #343434;
}
h1 {
	font-size: 38px;
	font-weight: 700;
}
h2 {
	font-size: 28px;
	margin-bottom: 15px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
	font-weight: 500;
}
h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
h6 {
	font-weight: 700;
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.title {
		margin-top: 0;
	}
}

.sidebar .title {
	margin-bottom: 15px;
	margin-top: 20px;
	position: relative;
}
.page-header {
	margin-top: 20px;
	padding-top: 20px;
}
p {
	margin-bottom: 20px;
}
a {
	color: #00b8f1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: #17b5e5;
}
a:focus,
a:active {
	outline: none;
	color: #17b5e5;
}
.no-trans * {
	-webkit-transition: none !important;
	   -moz-transition: none !important;
		-ms-transition: none !important;
		 -o-transition: none !important;
			transition: none !important;
}
img {
	
	max-width: 100%;
	height: auto;
}

mark,
.mark {
	background-color: #00b8f1;
	color: #ffffff;
}
pre {
	padding: 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.text-muted {
	color: #999999;
}
.text-default {
	color: #00b8f1;
}

.icons-page i {
	color: #333;
	font-size: 20px;
}
hr.dark {
	border-color: #333333;
}

/* Lists
---------------------------------- */
ul {
	list-style: square;
}

.list-inline {
	margin-top: 9px;
	margin-bottom: 8px;
}

/* Tables
---------------------------------- */
.table:not(.table-bordered) {
	border-bottom: 2px solid #f3f3f3;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 1px solid #00b8f1;
	background-color: #00b8f1;
	color: #fff;
}
.table-bordered {
	border-color: #00b8f1;
}
tbody {
	background-color: #ffffff;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 12px 15px;
	border-top: 1px solid #f3f3f3;
}
.table-striped tbody {
	background-color: #fafafa;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f1f1f1;
}
.table-striped.table > tbody > tr > td {
	border-color: #e8e8e8;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border-color: #f3f3f3;
}
.dl-horizontal dd {
	margin-bottom: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.dl-horizontal dd {
		margin-left: 150px;
	}
	.dl-horizontal dt {
		max-width: 120px;
	}
}

/* 2 Layout
----------------------------------------------------------------------------- */
.page-wrapper {
	background-color: #ffffff;
}
.header-top {
	background-color: #f1f1f1;
	border-bottom: 1px solid #dadada;
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.03) inset;
}

.header {
	padding: 20px 0;
	border-bottom: 1px solid #eaeaea;
	background-color: #fff;
}

.banner {
	background-color: #f1f1f1;
	border-bottom: 1px solid #eaeaea;
}
.page-intro {
	padding: 3px 0;
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
	background-color: #fafafa;
	border-bottom: 1px solid #dadada;
}
.banner + .page-intro {
	margin-top: -56px !important;
	position: relative;
	background-color: rgba(250, 250, 250, 0.9);
	z-index: 2;
}
.page-top {
	padding: 40px 0;
}
.main-container {
	padding: 40px 0;
}
.full-height .main-container {
	padding-top: 80px;
}
.section {
	padding: 25px 0;
}

.subfooter {
	padding: 25px 0;
	background-color: #000000;
}
.block {
	padding-bottom: 40px;
}


@media (min-width: 768px) { 
	:not(.fixed-header-on) .header.transparent {
		position: absolute;
		width: 100%;
		z-index: 30;
		background-color: rgba(255,255,255,0.3);
		border-color: transparent;
	}
	:not(.fixed-header-on) .dark.header.transparent {
		background-color: rgba(0,0,0,0.3);
	}	
}

}
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.boxed .page-wrapper {
		width: 750px;
	}
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.boxed .page-wrapper {
		width: 970px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.boxed .page-wrapper {
		width: 1170px;
	}
}


.white-bg {
	background-color: #ffffff !important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border: none !important;
}
.light-gray-bg {
	background-color: #fafafa;
}
.header-top {
	font-size: 12px;
}

.gray-bg {
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
	position: relative;
}
.gray-bg:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	height: 5px;
	content: "";
	width: 100%;
	-webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.13);
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.13);
}
.header.gray-bg {
	border-bottom: 1px solid #dadada;
}
.header.gray-bg,
.header.gray-bg:before {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


.default-bg {
	background-color: #00b8f1;
	color: #ffffff;
	font-size:12px;
	padding:2px 5px;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6 {
	color: #ffffff;
}
.default-bg a:not(.btn) {
	color: #ffffff;
	text-decoration: underline;
}
.default-bg a:not(.btn):hover {
	color: #ffffff;
	text-decoration: none;
}

/* Parallax effect
---------------------------------- */
.no-touch .light-translucent-bg,
.no-touch .dark-translucent-bg,
.no-touch .default-translucent-bg,
.no-touch .parallax {
	background-attachment: fixed !important;
}
.light-translucent-bg,
.dark-translucent-bg,
.default-translucent-bg,
.parallax {
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
.parallax {
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	padding: 50px 0;
}
.light-translucent-bg,
.dark-translucent-bg,
.default-translucent-bg {
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
}
.light-translucent-bg:after,
.dark-translucent-bg:after,
.default-translucent-bg:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.light-translucent-bg {
	color: #333;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
}
.header + .banner > .light-translucent-bg { border-top: none; }

.slider-banner-container .light-translucent-bg {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0!important;
	left: 0!important;
	margin: 0!important;
	bottom: 0;	
}

.light-translucent-bg .container,
.dark-translucent-bg .container,
.default-translucent-bg .container {
	z-index: 3;
	position: relative;
}
.parallax-bg {
	background: url("../images/parallax-bg.jpg") 50% 0px no-repeat;
}




/* Fixed navigation
---------------------------------- */
.fixed-header-on .header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1006;
	opacity: 0;
	filter: alpha(opacity=0);
	border-bottom: 1px solid #f1f1f1;
	padding: 7px 0;
	background-color: rgba(255, 255, 255, 0.95);
}
.fixed-header-on .dark.header.fixed {
	border-bottom: 1px solid #36373C;
	background-color: rgba(54, 55, 60, 0.95);
}
.fixed-header-on.boxed .header.fixed {
	left: auto;
}
.fixed-header-on .header .logo {
	-webkit-transform: scale(0.80);
	-moz-transform: scale(0.80);
	-ms-transform: scale(0.80);
	-o-transform: scale(0.80);
	transform: scale(0.80);
	margin: 2px 0 -4px 0;
	display: none;
}
.fixed-header-on .header .site-slogan {
	display: none;
}
.fixed-header-on .header .navbar.navbar-default {
	margin: 0;
}
.fixed-header-on .header.fixed.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.fixed-header-on.boxed .header.fixed {
		width: 750px;
	}
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.fixed-header-on .header .logo {
		display: block;
	}
	.fixed-header-on.boxed .header.fixed {
		width: 970px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.fixed-header-on.boxed .header.fixed {
		width: 1170px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Fixed header position */
	.header.fixed {
		position: relative !important;
		top: auto !important;
	}
	

	
	
}





/* Miscellaneous
---------------------------------- */

.pl-10 {
	padding-left: 10px;
}

.space {
	padding-top: 20px;
	padding-bottom: 20px;
}
.space-top {
	padding-top: 20px;
}
.space-bottom {
	padding-bottom: 20px;
}

.border-clear {
	border: none !important;
}
.circle {
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	border-radius: 100%;
}
.separator {
	display: block;
	width: 60px;
	height: 2px;
	margin: 15px auto 15px;
	background-color: #00b8f1;
	position: relative;
	border: 1px solid #00b8f1;
}

.separator-2 {
	display: block;
	width: 30px;
	height: 2px;
	margin: 15px 0 15px;
	background-color: #00b8f1;
	position: relative;
}
.separator-2.right {
	margin-left: auto;
}
.sidebar .separator {
	width: 30px;
	height: 5px;
	margin: 15px 0 20px;
	background-color: #666;
	border-color: #666;
}
.sidebar .separator:after {
	content: "";
	background-color: transparent;
}
.dark-bg .separator-2 {
	background-color: #999999;
}
.default-bg .separator-2 {
	background-color: #ebebeb;
}
.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}









/* Subfooter
---------------------------------- */
.subfooter {
	font-size: 14px;
}
.subfooter p {
	margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	/* subfooter */
	.subfooter {
		text-align: center;
	}
}


/* Event pages
---------------------------------- */
.blogpost {
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
	margin: 0 0 70px;
	position: relative;
}
.blogpost .blogpost-body {
	padding: 20px 20px 0 20px;
	min-height: 140px;
}
.blogpost h2.title {
	margin-bottom: 0;
	margin-top: 0;
}
.blogpost .submitted {
	font-size: 12px;
	margin: 10px 0;
}

.blogpost .post-info {
	float: left;
	top: 0;
	left: 25px;
	width: 80px;
	height: 90px;
	padding: 10px 15px;
	background-color: #00b8f1;
	color: #fff;
	text-align: center;
	z-index: 3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.blogpost .side .post-info {
	float: none;
}
.blogpost .post-info .day {
	font-size: 34px;
	font-weight: 700;
	line-height: 1;
	display: block;
}
.blogpost .post-info .month {
	font-size: 16px;
	line-height: 1.2;
	display: inline-block;
}
.blogpost .side span.share {
	font-size: 13px;
	font-weight: 700;
	text-align: right;
	padding-top: 20px;
	display: block;
}

.blogpost .blogpost-content {
	padding: 0 0 10px;
	margin-left: 100px;
}
.blogpost footer {
	background-color: #f1f1f1;
	padding: 12px 20px;
	border-top: 1px solid #e8e8e8;
	font-size: 14px;
	line-height: 2;
	clear: both;
}
.blogpost ul.links {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.blogpost ul.links li {
	display: inline-block;
}
.blogpost ul.links li a {
	color: #666666;
	display: inline-block;
}
.blogpost ul.links li a:hover {
	color: #00b8f1;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.blogpost .blogpost-content {
		margin-left: 70px;
	}
	.blogpost .side {
		width: 50px;
	}
	.blogpost .post-info {
		width: 50px;
		height: 60px;
		padding: 8px 8px;
		margin: 0 20px 5px 0;
	}
	.blogpost .post-info .day {
		font-size: 20px;
	}
	.blogpost .post-info .month {
		font-size: 11px;
		line-height: 1.2;
	}
}



/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.masonry-grid-item {
		max-width: 100%;
	}
}

/* Blog Timeline layout
---------------------------------- */
.timeline {
	position: relative;
	padding: 40px 0;
	margin-top: 40px;
}
.timeline-icon {
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	color: #f3f3f3;
	font-size: 40px;
	margin-left: -13px;
	top: -30px;
	line-height: 1;
}
.timeline .timeline-item {
	padding: 0 15px;
}
.timeline .blogpost .blogpost-body {
	padding: 15px 15px 0 15px;
}
.timeline .blogpost h2.title {
	font-size: 24px;
}
.timeline .blogpost .submitted {
	margin: 15px 0 10px;
}
.timeline .blogpost footer {
	padding: 12px 15px;
}
.timeline .blogpost .blogpost-content {
	margin-left: 0;
}
.timeline .blogpost .post-info {
	width: 50px;
	height: 60px;
	padding: 8px 8px;
	margin: 0 20px 5px 0;
}
.timeline .blogpost .post-info .day {
	font-size: 20px;
}
.timeline .blogpost .post-info .month {
	font-size: 11px;
	line-height: 1.2;
}
.timeline-date-label {
	float: none;
	clear: both;
	display: block;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 80px;
	line-height: 1;
	width: 100px;
	position: relative;
	font-size:18px;
	z-index: 2;
	color: #fff;
}
.timeline .timeline-item.pull-right + .timeline-date-label {
	padding-top: 80px;
}
.timeline-date-label:after {
	background-color: #01b9f5;
	height: 40px;
	border-radius: 25px;
	width: 100%;
	position: absolute;
	bottom: -12px;
	z-index: -1;
}



/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.timeline .blogpost {
		margin-bottom: 0;
	}
	.timeline:before {
		background-color: #f3f3f3;
		width: 2px;
		height: 100%;
		content: "";
		position: absolute;
		left: 50%;
		display: block;
		margin-left: -1px;
		top: 0;
	}
	.timeline .timeline-item {
		position: relative;
		width: 50%;
		padding-left: 0;
		padding-right: 40px;
		margin-bottom: 80px;
		float: left;
		clear: left;
		z-index: 1;
	}
	.timeline .timeline-item.pull-right {
		position: relative;
		width: 50%;
		padding-left: 40px;
		padding-right: 0;
		margin-top: 80px;
		margin-bottom: 0;
		float: right;
		clear: right;
	}
	.timeline .timeline-item:after {
		content: "";
		font-family: "FontAwesome";
		right: 10px;
		background-color: #f3f3f3;
		left: auto;
		position: absolute;
		top: 20px;
		z-index: -1;
		width: 25px;
		height: 1px;
	}
	.timeline .timeline-item:before {
		content: "";
		position: absolute;
		background-color: #fff;
		border: 1px solid #00b8f1;
		height: 15px;
		width: 15px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		top: 15px;
		right: -5px;
	}
	.timeline .timeline-item.pull-right:after {
		right: auto;
		left: 10px;
	}
	.timeline .timeline-item.pull-right:before {
		left: -5px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.timeline .timeline-item.pull-right {
		float: none !important;
	}
}

/* Comments
---------------------------------- */
.comments {
	margin-top: 60px;
}
.comments h2.title {
	margin-bottom: 40px;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 10px;
}
.comment {
	font-size: 14px;
}


/* Coming Soon Page
---------------------------------- */
.bg_signup {
	background-color:#f3f3f3;
}



/* Form Block
---------------------------------- */
.form-block {
	width: 630px;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.form-block form {
	margin: 0;
}
.form-block ul {
	padding-left: 0;
	list-style-position: inside;
}
.form-block hr {
	margin-top: 10px;
	margin-bottom: 15px;
}
.form-block .social-links {
	margin: 10px 0 0 10px;
	display: inline-block;
}
@media (max-width: 767px) { 
	.form-block {
		width: 90%;
	}
}


/* startups list pages
---------------------------------- */
.listing-item {
	margin: 0 0 20px 0;
	border: 1px solid #f1f1f1;
	position: relative;
	overflow: hidden;
}

.ag-list-item {
	margin: 0 0 20px 0;
	border: 1px solid #f1f1f1;
	position: relative;
	overflow: hidden;
}


.listing-item-body {
	padding: 20px 15px 15px;
	-webkit-transition: ease-in-out all 0.25s;
	-o-transition: ease-in-out all 0.25s;
	transition: ease-in-out all 0.25s;
}
.listing-item:hover .listing-item-body {
	background-color: #fafafa;
}
.listing-item h3 {
	font-size: 18px;
}
.listing-item p {
	color: #999798;
	font-size: 13px;
}

.sorting-filters {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	padding: 20px 15px;
	margin-bottom: 40px;
}

.sorting-filters label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}
.sorting-filters form {
	margin: 0;
}
.sorting-filters .btn {
	margin: 20px 0 0;
	min-width: 0;
	width: 100%;
}
.sorting-filters .form-control,
.sorting-filters .form-control:focus {
	margin-bottom: 5px;
	webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
	border-color: #f3f3f3;
}
.sorting-filters .form-inline .form-control {
	width: 100%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.sorting-filters .form-inline .form-group {
		width: 18%;
		margin-right: 1.5%;
	}
	.sorting-filters .form-inline .form-group:last-child {
		margin-right: 0;
	}

}


/* Buttons
---------------------------------- */
.btn {
	padding: 10px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	margin: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn:focus,
.btn:active {
	outline: none;
	box-shadow: none;
}
.btn.btn-lg {
	padding: 17px 12px;
	font-size: 18px;
	min-width: 210px;
}
.btn.btn-sm {
	padding: 8px;
	font-size: 12px;
	min-width: 105px;
}
.btn.radius {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


/* Gray Buttons */
.btn-gray {
	color: #fff;
	background-color: #666666;
	border-color: #666666;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
	color: #ffffff;
	background-color: #00b8f1;
	border-color: #00b8f1;
}

/* Light Gray Buttons */
.btn-light-gray {
	color: #333333;
	background-color: #fafafa;
	border-color: #f3f3f3;
}
.btn-light-gray:hover,
.btn-light-gray:focus,
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
	color: #ffffff;
	background-color: #00b8f1;
	border-color: #00b8f1;
}
.default-bg .btn-light-gray {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}
.default-bg .btn-light-gray:hover,
.default-bg .btn-light-gray:focus,
.default-bg .btn-light-gray:active,
.default-bg .btn-light-gray.active,
.default-bg .open .dropdown-toggle.btn-light-gray {
	color: #333333;
	background-color: #fafafa;
	border-color: #fafafa;
}

/* The color of default buttons is the color of current color scheme */
.btn-default {
	background-color: #00b8f1;
	color: #fff !important;
	border-color: #12A4D0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #12A4D0;
	border-color: #12A4D0;
}
.default-bg .btn-default {
	background-color: rgba(0, 0, 0, 0.3);
	border-color: transparent;
}
.default-bg .btn-default:hover,
.default-bg .btn-default:focus,
.default-bg .btn-default:active,
.default-bg .btn-default.active,
.default-bg .open .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: rgba(0, 0, 0, 0.5);
	border-color: transparent;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
	background-color: #17b5e5;
	border-color: #17b5e5;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* Button with transparent bg */
.btn-white {
	background-color: transparent;
	color: #17b5e5;
	border: 1px solid #00b8f1;
}
.footer .btn-white,
.subfooter .btn-white {
	color: inherit;
}
.footer .btn-white:hover,
.subfooter .btn-white:hover {
	color: #fff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
	color: #fff;
	background-color: #17b5e5;
	border-color: #17b5e5;
}
.default-bg .btn-white {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}
.default-bg .btn-white:hover,
.default-bg .btn-white:focus,
.default-bg .btn-white:active,
.default-bg .btn-white.active,
.default-bg .open .dropdown-toggle.btn-white {
	color: #333333;
	background-color: #fafafa;
	border-color: #fafafa;
}
.footer-content .btn-white {
	color: #999;
	background-color: transparent;
	border-color: #555;
}
.btn-default .badge {
	color: #666;
	background-color: #fff;
	border: none;
}

/* Links
---------------------------------- */
.link {
	padding-right: 23px;
	position: relative;
	display: inline-block;
	text-align: right;
}
.link:hover { 
	text-decoration: none;
}
.link:hover span {
	text-decoration: underline;
}
.link:after {
	content: "\f178";
	font-family: "FontAwesome";
	position: absolute;
	right: 0;
	top: 2px;
}

/* Forms
---------------------------------- */
form {
	margin: 20px 0;
}
textarea {
	resize: vertical;
}
.sidebar form {
	margin: 5px 0 20px 0;
}
.form-control {
	border-radius: 0;
	background: #ffffff;
	height: 40px;
	padding-right: 30px;
	border-color: #acacac;
	color: #666666;
	position: relative;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}
.form-control:focus {
	border-color: #666666;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}
select.form-control {
	padding-right: 5px;
}
.form-control::-moz-placeholder {
	color:#999;
}
.form-control:-ms-input-placeholder {
	color: #999;
}
.form-control::-webkit-input-placeholder {
	color: #999;
}
.input-group-addon {
	background-color: #cacaca;
	border-color: #acacac;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.form-list > div {
	padding: 7px 15px;
	border-bottom: 1px solid #dddddd;
	background-color: #f3f3f3;
	margin: 6px 0;
	display: block;
}

.badge {
	padding: 2px 4px 3px;
	font-size: 10px;
	margin-left: 12px;
	top: -2px;
	position: relative;
	font-weight: 400;
	border-radius: 2px;
	background-color: transparent;
	color: inherit;
	border: 1px solid #666666;
}
.dropdown .badge {
	background-color: transparent;
	color: inherit;
	position: absolute;
	right: 25px;
	top: 14px;
}
.mega-menu .menu > li > a .badge {
	position: absolute;
	right: 10px;
	top: 9px;
}
.dropdown .active>a>.badge,
.dropdown a:hover .badge,
.dropdown .open > a > .badge {
	border-color: #00b8f1;
}


@media (max-width: 767px) { 
	.dropdown .badge {
		right: 50px;
		top: 15px;
	}
}
/* Forms in all backgrounds */
.dark-bg .form-control {
	background-color: rgba(255, 255, 255, 0.20);
	border-color: #000;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .45);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .45);
	color: #999999;
}
.dark-bg .input-group-addon {
	background-color: rgba(255, 255, 255, 0.20);
	border-color: #000;
}
.dark-bg .form-control:focus {
	background-color: rgba(255, 255, 255, 0.25);
}
.gray-bg .form-control,
.header-top-dropdown .form-control,
#footer.light .form-control {
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
	border-color: #f1f1f1;
	background-color: #ffffff;
}
.gray-bg .form-control:focus,
.header-top-dropdown .form-control:focus,
#footer.light .form-control:focus {
	border-color: #cacaca;
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .09);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .09);
}

select.form-control {
	-webkit-appearance: menulist;
}
select[multiple].form-control {
	-webkit-appearance: listbox;
}
/* Validation states */
.has-success .form-control,
.has-success .form-control:focus {
	border-color: #3c763d;
}
.has-warning .form-control,
.has-warning .form-control:focus {
	border-color: #8a6d3b;
}
.has-error .form-control,
.has-error .form-control:focus {
	border-color: #a94442;
}
.default-bg .has-success .form-control,
.default-bg .has-warning .form-control,
.default-bg .has-error .form-control,
.default-bg .has-success .form-control:focus,
.default-bg .has-warning .form-control:focus,
.default-bg .has-error .form-control:focus {
	border-color: #fff;
	color: #ffffff;
}
.default-bg .has-success .form-control-feedback,
.default-bg .has-warning .form-control-feedback,
.default-bg .has-error .form-control-feedback,
.default-bg .has-success .control-label,
.default-bg .has-warning .control-label,
.default-bg .has-error .control-label {
	color: #fff;
}
.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.has-error .error {
	font-weight: 700;
	margin-bottom: 5px;
	display: block;
}

/* forms with icons */
label ~ .form-control-feedback {
	top: 25px;
}
.form-control-feedback {
	width: 40px;
	height: 40px;
	line-height: 42px !important;
	top: 0;
}

/* Disabled forms */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* Pager
---------------------------------- */
ul.pagination,
ul.pager {
	margin: 20px 0 40px;
	text-align: left;
}
ul.pagination li {
	padding: 0;
	margin: 0 5px 0 0;
	border-bottom: none;
	font-size: 12px;
	display: inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
ul.pagination li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a,
ul.pager li > a {
	padding: 10px 15px;
	border: 1px solid #f3f3f3;
	line-height: 1;
	background-color: #fafafa;
	display: inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #666666;
}
ul.pagination li > a:hover {
	background-color: transparent;
	color: #ffffff;
	background-color: #00b8f1;
	border-color: #00b8f1;
}
ul.pagination li.active a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	color: #ffffff;
	background-color: #00b8f1;
	border-color: #00b8f1;
	line-height: 1;
}
ul.pagination li > a:focus {
	background: none;
}

/* Breadcrumb
---------------------------------- */
.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	font-size: 13px;
	padding: 8px 0;
}



/* Nav pills
---------------------------------- */
.nav-pills > li > a {
	border-radius: 0;
	padding: 10px 15px;
	border: 1px solid transparent;
	color: #666666;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}
.nav-pills.nav-stacked > li + li {
	margin-left: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	border: 1px solid #f3f3f3;
	color: #00b8f1;
	background-color: #fafafa;
}
.nav-pills.nav-stacked > li > a:after {
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	right: 15px;
	top: 9px;
	color: #d1d1d1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav-pills > li.active > a:after {
	color: #00b8f1;
}
.nav-pills > li.active > a:hover:after,
.nav-pills > li.active > a:focus:after,
.nav-pills > li > a:hover:after,
.nav-pills > li > a:focus:after {
	color: #00b8f1;
	right: 10px;
}
.footer-content .nav-pills > li > a {
	padding: 4px 0px;
	border-color: transparent;
	color: #999;
	font-weight: 400;
}
.footer-content .nav-pills > li:last-child > a {
	border-bottom: none;
}
.footer-content .nav-pills > li.active > a,
.footer-content .nav-pills > li.active > a:focus,
.footer-content .nav-pills > li > a:focus {
	color: #999;
	background-color: transparent;
	border-color: transparent;
}
.footer-content .nav-pills > li.active > a:hover,
.footer-content .nav-pills > li > a:hover {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
}
.footer-content .nav-pills.nav-stacked > li > a:after {
	top: 3px;
}
.footer-content .nav-pills.nav-stacked > li > a:after,
.footer-content .nav-pills > li.active > a:after,
.footer-content .nav-pills > li.active > a:hover:after,
.footer-content .nav-pills > li.active > a:focus:after,
.footer-content .nav-pills > li > a:hover:after,
.footer-content .nav-pills > li > a:focus:after {
	color: #999
}
.light .footer-content .nav-pills > li > a,
.light .footer-content .nav-pills > li.active > a,
.light .footer-content .nav-pills > li.active > a:focus,
.light .footer-content .nav-pills > li > a:focus {
	color: #666;
}
.light .footer-content .nav-pills > li.active > a:hover,
.light .footer-content .nav-pills > li > a:hover {
	color: #17b5e5;
}
.light .footer-content .nav-pills.nav-stacked > li > a:after,
.light .footer-content .nav-pills > li.active > a:after,
.light .footer-content .nav-pills > li.active > a:hover:after,
.light .footer-content .nav-pills > li.active > a:focus:after,
.light .footer-content .nav-pills > li > a:hover:after,
.light .footer-content .nav-pills > li > a:focus:after {
	color: #666
}
.nav-pills > .active > a > .badge {
	color: #17b5e5;
	background-color: #fff;
	border-color: #17b5e5;	
}



/* Alerts
---------------------------------- */
.alert {
	margin: 20px 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	padding-left: 70px;
	overflow: hidden;
	z-index: 1;
	border: none;
}
.alert:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 50px;
	height: 101%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 2;
}
.alert-success {
	color: #2a5f2b;
	background-color: #bcdab0;
}
.alert-info {
	color: #1a4e68;
	background-color: #c6e8fa;
}
.alert-warning {
	color: #72582b;
	background-color: #f7f0ce;
}
.alert:after {
	font-family: "FontAwesome";
	position: absolute;
	top: 10px;
	left: 17px;
	color: #ffffff;
	font-size: 20px;
	z-index: 3;
}
.alert.alert-success:after {
	content: "\f00c";
}
.alert.alert-info:after {
	content: "\f05a";
}
.alert.alert-warning:after {
	content: "\f071";
}
.alert.alert-danger:after {
	content: "\f00d";
}
.close {
	font-size: 28px;
	font-weight: normal;
	filter: alpha(opacity=40);
	opacity: 0.4;
}

/* Modals
---------------------------------- */
.modal-open .page-wrapper {
	-webkit-filter: blur(3px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-content .modal-header {
	background-color: #00b8f1;
}
.modal-content .modal-title {
	font-size: 24px;
	color: #ffffff;
}
.modal-footer .btn {
	margin: 0;
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.modal-lg {
		width: 1140px;
	}
}


/* Images and Images overlay
---------------------------------- */
.fixed-image {
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
}
.no-touch .fixed-image {
	background-attachment: fixed;
}
.fixed-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(241, 241, 241, 0.85);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay a {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 26px;
	color: #00b8f1;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #000000;
	font-style: italic;
}
.overlay-links {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -50px;
	font-size: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: all 0.25s linear 0.05s;
	-moz-transition: all 0.25s linear 0.05s;
	-ms-transition: all 0.25s linear 0.05s;
	-o-transition: all 0.25s linear 0.05s;
	transition: all 0.25s linear 0.05s;
}
.overlay-links a {
	position: static;
	margin-top: 0;
	margin-left: 0;
}
.overlay-links a + a {
	left: 50px;
	color: #ffffff;
	background-color: #00b8f1;
}
.overlay a:hover {
	color: #ffffff;
	background-color: #333333;
	text-decoration: none;
}
.overlay i {
	line-height: 50px;
}
.box-style-1 .overlay i {
	font-size: 26px;
	margin: 0;
}
a.overlay {
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
}
a.overlay:hover {
	text-decoration: none;
}
.listing-item a.overlay {
	-webkit-transition: linear 0.25s;
	-o-transition: linear 0.25s;
	transition: linear 0.25s;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.listing-item a.overlay:hover {
	text-decoration: none;
}
a.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40px;
	line-height: 42px;
	color: #00b8f1;
	margin-top: -22px;
	margin-left: -18px;
	text-align: center;
}
a.overlay.small i {
	font-size: 18px;
	line-height: 1;
	margin-top: -8px;
	margin-left: -8px;
}
.overlay .social-links {
	margin: 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.overlay .social-links li {
	margin: 0 auto;
}
.overlay .social-links li a {
	margin: 2px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	position: static;
}
.overlay .social-links li a:hover {
	background-color: #fff;
	border-color: #fff;
	text-decoration: none;
}
.overlay .social-links li a i {
	line-height: 38px;
	font-size: 24px;
	margin: 0;
}
.overlay-container:hover .overlay,
.overlay-container:hover .overlay-links {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Responsive iframe
---------------------------------- */
.tp-caption .embed-responsive {
	overflow: visible;
}

/* Audio wrapper
---------------------------------- */
.audio-wrapper iframe {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}

/* Scroll Spy
---------------------------------- */
.scroll-spy {
	position: relative;
}

/*  Navigations
----------------------------------------------------------------------------- */
/* first level menu */
.navbar.navbar-default {
	border-radius: 0;
	margin: 12px 0 5px;
	background-color: #fafafa;
	border-color: #f1f1f1;
}
.header-small .navbar.navbar-default {
	margin: 6px 0 5px;
}

/* first level menu items */
.navbar-default .navbar-nav > li > a {
	color: #666666;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 20px 12px 19px;
	z-index: 102;
	border: 1px solid transparent;
	bottom: -1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.navbar-default .navbar-nav > li > a:hover {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #00b8f1;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}

/* first level active menu items when opened */
.main-navigation .navbar-nav > .open > a,
.main-navigation .navbar-nav > .open > a:hover,
.main-navigation .navbar-nav > .open > a:focus {
	color: #666666;
	background-color: #fafafa;
	border: 1px solid #f1f1f1;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.03);
	box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.03);
}

/* first level active menu items when clicked */
.main-navigation .navbar-nav > .open > a:active,
.main-navigation .navbar-nav > .open.active > a:active {
	background-color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.main-navigation .navbar-nav > .open > a:active + ul,
.main-navigation .navbar-nav > .open.active > a:active + ul {
	display: none;
}

/* second level menu */
.dropdown-menu {
	min-width: 220px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	background-color: #fafafa;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	border: 1px solid #f1f1f1;
	z-index: 101;
}

/* second level menu items */
.dropdown-menu > li > a {
	padding: 12px 20px;
	font-size: 15px;
	color: #666666;
	border-bottom: 1px solid #f1f1f1;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.main-navigation .dropdown-menu > li > a { 
	position: relative;
}

/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .menu > .active > a,
.dropdown-menu .menu > .active > a:hover,
.dropdown-menu .menu > .active > a:focus {
	background-color: #ffffff;
	color: #00b8f1;
	border-color: #f1f1f1;
}

/* third level menu */
.dropdown-menu .dropdown-menu {
	top: -1px;
	left: 100% !important;
	padding-top: 0;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
	border-top: 1px solid #f1f1f1;
}

.dropdown-menu .dropdown-menu.to-left {
	right: 100%!important;
	left: auto!important;
}

/*transparent header*/
.header.transparent:not(.dark) .navbar-nav > .open > a,
.header.transparent:not(.dark) .navbar-nav > .open > a:hover,
.header.transparent:not(.dark) .navbar-nav > .open > a:focus,
.header.transparent:not(.dark) .dropdown-menu {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	border-color: rgb(250, 250, 250)!important;
}

@media (min-width: 768px) { 
	.header.transparent:not(.dark) .navbar-nav > li:not(.active) > a {
		color: #333333;
	}
}



/* arrows for parent menu items */
.dropdown>a:before {
	font-family: 'FontAwesome';
	content: "\f107";
	position: absolute;
	left: auto;
	top: 15px;
	right: 6px;
	line-height: 1;
	color: #d1d1d1;
}
.transparent.header:not(.dark) .dropdown>a:before { 
	color: #666666;
}
.navbar-default .navbar-nav > .active.dropdown > a:before {
	color: #00b8f1;
}
.navbar-default .navbar-nav > .dropdown.open > a:before {
	color: #e5e5e5;
}
.dropdown .dropdown>a:before {
	content: "\f105";
	right: 10px;
	top: 15px;
	margin-left: 0;
	visibility: visible;
	color: #666;
}
.dropdown .dropdown.open>a:before,
.transparent.header:not(.dark) .dropdown .dropdown.open>a:before {
	color: #00b8f1;
}

/* mobile menu toggle button */
.navbar-default .navbar-toggle {
	border-color: #ccc;
}

/* mobile menu toggle button on hover/focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fafafa;
	border-color: #00b8f1;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #999;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #00b8f1;
}



/* dropdown animations */
.animated.main-navigation .open .dropdown-menu,
#offcanvas.animated .open .dropdown-menu,
.open .dropdown-animation {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDownSmall;
	animation-name: fadeInDownSmall;
}
.open .dropdown-animation {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}
.animated.main-navigation .dropdown-menu .open .dropdown-menu,
#offcanvas.animated .dropdown-menu .open .dropdown-menu {
	-webkit-animation-name: fadeInLeftSmall;
	animation-name: fadeInLeftSmall;
}

.animated.main-navigation .dropdown-menu .open .dropdown-menu.to-left,
#offcanvas.animated.offcanvas-right .dropdown-menu .open .dropdown-menu {
	-webkit-animation-name: fadeInRightSmall;
	animation-name: fadeInRightSmall;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.main-navigation .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	
	/* first level menu */
	.navbar.navbar-default,
	.dark.header .navbar.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}
	
	/* layout fixes */
	.main-navigation .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
	.main-navigation .navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}
	.main-navigation .navbar-right > li:last-child > .dropdown-menu {
		right: 0;
		left: auto;
	}
}

/* Medium desktop devices and tablets */
@media (min-width:768px) and (max-width:1199px) {
	.main-navigation .container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* Medium devices (tablets landscape to portrait) */
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .navbar-nav {
		float: left !important;
	}
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.col-md-3 + .col-md-9 .mega-menu .dropdown-menu {
		left: -243px;
		width: 940px;
	}
}

/* Medium desktop devices */
@media (min-width:992px) and (max-width:1199px) {
	.navbar-default .navbar-nav > li > a {
		padding-right: 19px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	/* first level menu item */
	.main-navigation .navbar-nav > li {
		margin: 0 0 0 15px;
	}
	.main-navigation .navbar-nav > li:first-child {
		margin: 0;
	}
	.col-md-3 + .col-md-9 .mega-menu .dropdown-menu {
		left: -293px;
		width: 1140px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Mobile menu
	------------------------------ */
	/* active items */
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #00b8f1;
		background-color: transparent;
	}
	
	/* first level items */
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #f1f1f1;
	}
	.subfooter .navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #141414;
	}
	.light .subfooter .navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #ddd;
	}
	.navbar-default .navbar-nav > li:last-child > a {
		border-bottom: 1px solid transparent;
	}
	
	/* first level items when opened */
	.main-navigation .navbar-nav > .open > a,
	.main-navigation .navbar-nav > .open > a:hover,
	.main-navigation .navbar-nav > .open > a:focus {
		border-color: transparent!important;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	/* first level items hover and focus states */
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #00b8f1;
		background-color: #fff;
	}
	
	/* second level menu */
	.navbar-default .navbar-nav .open .dropdown-menu {
		background-color: #ffffff;
	}
	
	/* second level items */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 12px 15px 12px 40px;
		color: #666666;
		border-color: #fafafa;
	}
	
	/* second level items on hover/focus */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #00b8f1;
	}
	
	/* third level items */
	.navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
		padding-left: 60px;
	}
	
	/* four level items */
	.navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
		padding-left: 80px;
	}
	
	/* Arrows for parent menu items */
	.dropdown>a:before {
		right: 32px;
	}
	.dropdown .dropdown>a:before {
		right: 36px;
	}

	
}

/* Header top navigation
---------------------------------- */
.header-top .navbar.navbar-default {
	margin: 0;
	min-height: 30px;
}
.header-top .navbar-default .navbar-nav > li > a {
	color: #999999;
	padding: 4px 20px;
}
.header-top .navbar-default .navbar-nav > li {
	border-right: 1px solid #999999;
}
.header-top .navbar-default .navbar-nav > li:last-child {
	border-right: none;
}



/* Subfooter navigation
---------------------------------- */
.subfooter .navbar {
	margin: 0;
	min-height: 0;
	background: transparent;
	border-color: transparent;
}
.subfooter .navbar-default .nav > li > a {
	padding: 10px 10px;
	text-transform: none;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
}
.subfooter .navbar-default .nav li:last-child a,
.light .subfooter .navbar-default .nav > li:last-child > a {
	border: none;
}
.subfooter .navbar-default .nav > li > a:hover,
.subfooter .navbar-default .nav > .active > a:hover,
.subfooter .navbar-default .nav > .active > a:focus {
	background-color: transparent;
	text-decoration: underline;
	color: #00b8f1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.subfooter .navbar-nav {
		float: none;
		margin: 15px 0;
		text-align: center;
	}
	.subfooter .navbar-nav > li {
		float: none;
		padding: 5px 0;
	}
	.subfooter .navbar-default .nav > li > a {
		padding: 0px 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	.subfooter {
		text-align: left;
	}
	.subfooter .navbar-nav {
		float: right;
		margin: 0;
		text-align: left;
	}
	.subfooter .navbar-nav > li {
		float: left;
		padding: 0;
		margin-top: 4px;
	}
	.subfooter .navbar-default .nav > li > a {
		border-right: 1px solid #333333;
	}
	.light .subfooter .navbar-default .nav > li > a {
		border-right: 1px solid #999999;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* subfooter nav */
	.subfooter .navbar-default .navbar-toggle:hover,
	.subfooter .navbar-default .navbar-toggle:focus {
		background-color: transparent;
		border-color: #888;
	}
	.light .subfooter .navbar-default .navbar-collapse {
		border-color: #ddd;
	}
	.subfooter .navbar-default .navbar-collapse {
		border-color: #000000;
	}
}


/* Logo
---------------------------------- */
.logo img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.logo img:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	.logo img,
	.header-small .logo img {
		margin: 0 auto;
	}
	.site-slogan {
		text-align: center;
	}
}

/* Call to action
---------------------------------- */
.call-to-action {
	padding: 10px 25px;
	text-align: center;
}
.call-to-action .btn {
	margin: 10px 5px;
}
.call-to-action .btn.btn-lg {
	margin-top: 15px;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.call-to-action .btn {
		display: block;
		width: 60%;
		margin: 10px auto;
	}
}

/* Boxes
---------------------------------- */
.box {
	text-align: center;
	margin: 0 10px 10px 0;
	width: 60px;
	height: 60px;
	display: inline-block;
	font-size: 0;
	float: left;
	border: 1px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box i {
	font-size: 36px;
	line-height: 60px;
}
.box.small {
	margin: 0 5px 5px 0;
	width: 45px;
	height: 45px;
}
.box.small i {
	font-size: 24px;
	line-height: 45px;
}
.box.gray-bg:hover {
	color: #00b8f1;
}
.box.default-bg:hover {
	background-color: #fff;
	border: 1px solid #00b8f1;
}
.box.default-bg:hover * {
	color: #00b8f1;
}
.box.dark-bg:hover {
	background-color: #fff;
	border: 1px solid #666;
}
.box.dark-bg:hover * {
	color: #666;
}
.box-style-1 {
	text-align: center;
	padding: 20px;
	margin: 20px 0;
}
.grid-space-10 .box-style-1 {
	margin: 10px 0;
}

.box-style-1 img{
	margin: 20px 0 35px;
	text-align:center;
	ali
}

.box-style-1 i {
	font-size: 90px;
	margin: 15px 0 5px;
	text-align: center;
}
.box-style-1:not(.team-member):hover i {
	color: #00b8f1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.box-style-1.default-bg:hover i,
.box-style-1.dark-bg:hover i {
	color: inherit;
}

.panel-body i {
	width: 35px;
	text-align: center;
}


/* Image Boxes
---------------------------------- */
.image-box {
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
}
.grid-space-0 .image-box {
	border: none;
}
.image-box h3.title {
	margin-top: 0;
}
.image-box .btn {
	white-space: normal;
	border-color: transparent;
}
.image-box .btn-block {
	margin: 0;
}
.image-box-body {
	padding: 20px 15px 15px;
}

.index-project {
	width:360px;
	margin-left:40px;
}


/* Header top dropdowns
---------------------------------- */
.header-top-dropdown {
	float: right;
	font-size: 0;
	text-align: right;
}
.header-top-dropdown .dropdown>button {
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid transparent;
}
.dark .header-top-dropdown .dropdown>button {
	border-right: 1px solid #515151;
}
.header-top-dropdown .dropdown:last-child>button {
	border-right-color: transparent;
}
.header-top-dropdown .dropdown>button {
	padding: 8px 10px;
	margin: 0;
	font-size: 12px;
	color: #999;
	text-align: center;
	min-width: 0;
	background-color: transparent;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-transform: none;
}
.dark.header-top .header-top-dropdown .dropdown>button {
	border-right: 1px solid #3d3d3d;
}
.dark.header-top .header-top-dropdown .dropdown:last-child>button {
	border-right-color: transparent;
}
.header-top-dropdown .dropdown>button i {
	padding-right: 5px;
	width: 15px;
}
.header-top-dropdown .dropdown.open>button,
.header-top-dropdown .dropdown>button:hover {
	color: #00b8f1;
	background-color: #fafafa;
	border-right-color: #e3e3e3;
}
.dark.header-top .header-top-dropdown .dropdown.open>button,
.dark.header-top .header-top-dropdown .dropdown>button:hover {
	color: #FFFFFF!important;
	background-color: #36373C;
	border-right-color: #3d3d3d;
}
.dark.header .header-top-dropdown .dropdown.open>button,
.dark.header .header-top-dropdown .dropdown>button:hover {
	color: #FFFFFF!important;
	background-color: #36373C;
	border-right-color: #515151;
}
.header-top-dropdown .dropdown:first-child.open>button,
.header-top-dropdown .dropdown:first-child>button:hover {
	border-left-color: #e3e3e3;
}
.dark.header-top .header-top-dropdown .dropdown:first-child.open>button,
.dark.header-top .header-top-dropdown .dropdown:first-child>button:hover {
	border-left-color: #3d3d3d;
}
.header .header-top-dropdown .dropdown>button {
	padding: 3px 10px;
}
.header .header-top-dropdown .dropdown.open>button,
.header .header-top-dropdown .dropdown>button:hover {
	background-color: transparent;
}
.header .header-top-dropdown .dropdown:first-child.open>button,
.header .header-top-dropdown .dropdown:first-child>button:hover {
	border-left-color: transparent;
}
.header .header-top-dropdown .dropdown:last-child.open>button,
.header .header-top-dropdown .dropdown:last-child>button:hover {
	border-right-color: transparent;
}
.header .header-top-dropdown .dropdown-menu {
	margin-top: 27px;
}
.header-top-dropdown .dropdown-menu {
	z-index: 103;
	padding: 20px;
	min-width: 280px;
	margin-top: 0px;
}
.header-top-dropdown .search-box .form-group {
	margin-bottom: 0;
}
.header-top-dropdown form {
	margin: 0;
}
.header-top-dropdown .login-form span {
	margin: 0 3px;
}
.header-top-dropdown .login-form ul {
	padding-left: 0;
	list-style-position: inside;
	padding: 5px 0;
}
.header-top-dropdown .login-form .social-links {
	display: inline-block;
	margin: 0;
}
.dark .header-top-dropdown .login-form a {
	color: #cdcdcd;
	text-decoration: underline;
}
.dark .header-top-dropdown .login-form a:hover {
	text-decoration: none;
}
.header .header-top-dropdown {
	margin-top: 19px;
}
.dark.header .header-top-dropdown {
	color: #cdcdcd;
}
.fixed-header-on .header .header-top-dropdown {
	margin-top: 13px;
}
.fixed-header-on .header .header-top-dropdown .dropdown-menu {
	margin-top: 19px;
}

/* Small devices (tablets, 480px and below) */
@media (max-width: 480px) {
	.header-top-dropdown .btn-group {
		position: static;
	}
	.header-top-dropdown .dropdown-menu {
		right: 15px!important;
		width: 100%;
	}
}



/* Google maps
---------------------------------- */
#map-canvas {
	height: 450px;
}
.sidebar #map-canvas {
	height: 350px;
}
#map-canvas img {
	max-width: inherit;
}

/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #000000;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.scrollToTop {
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.scrollToTop i {
		line-height: 40px;
		font-size: 20px;
	}
}

/* 8 Main Slideshow
----------------------------------------------------------------------------- */
/* Slider Revolution
---------------------------------- */
.adfont {
	font-size:48px;
	font-weight:600;
	color:#FFF;
}
.slider-banner-container {
	width: 100%;
	position: relative;
	padding: 0;
}
.slider-banner,
.slider-banner-2,
.slider-banner-3,
.slider-banner-fullscreen {
	width: 100%;
	position: relative;
}
.slider-banner>ul,
.slider-banner-2>ul,
.slider-banner-3>ul,
.slider-banner-fullscreen>ul {
	display: none;
}
.tp-loader.spinner0 {
	background: url("../images/loader.gif") no-repeat center center;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-animation: none;
	animation: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	width: 44px;
	height: 44px;
	margin-top: -22px;
	margin-left: -22px;
}
.tp-loader.spinner4 .dot1,
.tp-loader.spinner4 .dot2 {
	background-color: #666666;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.80);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.80);
}
.slideshow-boxed {
	padding: 20px 0 60px;
}
.slideshow-boxed .slider-banner-container {
	padding: 10px;
	background: #fff;
	border: 1px solid #eaeaea;
}
.slideshow-boxed .tp-caption {
	margin-left: 20px !important;
}

/* Slider Revolution captions */
.tp-caption {
	z-index: 5;
}
.tp-caption a.btn,
.tp-caption a.btn:hover {
	color: #ffffff;
}
.default_bg {
	background-color: #00b8f1;
	color: #fff;
}
.white_bg {
	background-color: #ffffff;
	color: #333333;
}
.dark_gray_bg {
	background-color: #666666;
	color: #fff;
}
.light_gray_bg {
	background-color: #fafafa;
	color: #333;
	border: 1px solid #f3f3f3!important;
	border-left: none!important;
}
.tp-caption.small_thin_white {
	font-size: 18px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 300;
	text-shadow: 1px 1px 1px #000000;
}
.tp-caption.small_thin_dark {
	font-size: 18px;
	line-height: 26px;
	color: #000;
	font-weight: 400;
}
.tp-caption.large {
	font-size: 36px;
	padding: 0px 15px;
}
.tp-caption.medium {
	font-size: 22px;
	padding: 2px 10px;
}
.tp-caption.small {
	font-size: 14px;
	padding: 5px;
}
.tp-caption.black,
.tp-caption .btn.black,
.tp-caption .btn.black:hover {
	color: #333333;
}
/* Large devices (Large desktops less than 1199px) */
@media (max-width:1199px) {
	.tp-caption {
		margin-left: 20px !important;
	}
}

/* Revolution Nav Controls */
.tparrows.round {
	background-image: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50% !important;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.tparrows.round:before {
	font-family: 'fontello';
	font-size: 24px;
	content: '\e87c';
	line-height: 52px;
	display: inline-block;
}
.tparrows.round.tp-rightarrow:before {
	content: '\e87d';
}
.tparrows.round:hover {
	color: #ffffff;
	background-color: #00b8f1;
}
.slideshow-boxed .slider-banner-container .tparrows {
	opacity: 0;
	filter: alpha(opacity=0);
}
.slideshow-boxed .slider-banner-container:hover .tparrows {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tp-bullets {
	z-index: 100;
}
.tp-bullets.simplebullets.round .bullet {
	background-image: none;
	width: 14px;
	height: 14px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	margin: 0 3px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.bullets-with-bg + .tp-bullets.preview4 {
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 15px;
	bottom: -6px !important;
	border-radius: 3px;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #00b8f1;
}
.tp-bannertimer {
	background-image: none;
	background-color: rgba(56,199,244,0.7);
	z-index: 100;
	display: none;
}
.slideshow-boxed .tp-bullets {
	bottom: -33px !important;
}
.slideshow-boxed .bullets-with-bg + .tp-bullets.preview4 {
	padding: 7px 15px 2px;
	bottom: -45px !important;
}
.slideshow-boxed .tp-rightarrow {
	right: 10px !important;
}
.slideshow-boxed .tp-leftarrow {
	left: 10px !important;
}
.slideshow-boxed .tp-bullets.hidebullets {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.tparrows,
	.tp-bullets {
		display: none;
	}
}

/* 9 Owl carousel
----------------------------------------------------------------------------- */
.owl-carousel {
	z-index: 4;
}
.owl-carousel .owl-item>div {
	margin: 10px 0 20px;
}
.owl-carousel.carousel .owl-item>div,
.owl-carousel.carousel-autoplay .owl-item>div {
	margin: 10px 20px 20px 0;
}
.owl-carousel.clients .owl-item>div {
	margin: 0px 30px 0px 0;
}
.well.owl-carousel .owl-item>div {
	margin: 10px 0 0;
}
.tab-content .owl-carousel .owl-item>div {
	margin: 0 0 20px;
}

/* caption */
.caption {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 15px;
	position: absolute;
	bottom: 80px;
	left: 80px;
	width: 40%;
	border: 1px solid #ffffff;
}
.caption .title {
	margin-top: 0;
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	.caption {
		width: 90%;
		bottom: 40px;
		left: 40px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.caption {
		width: 100%;
		bottom: 30px;
		left: 0;
		position: relative;
		background-color: #fafafa;
		bottom: 0;
		padding-bottom: 35px;
	}
}

/* owl controls */
.owl-controls {
	width: 100%;
	margin-bottom: 50px;
}
.owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	padding: 3px 10px;
	font-size: 12px;
	position: absolute;
	width: 30px;
	height: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.owl-prev {
	left: 0;
	background-color: #00b8f1;
	color: #f1f1f1;
}
.owl-next {
	left: 30px;
	background-color: #f1f1f1;
	color: #00b8f1;
}
.owl-prev:hover,
.owl-next:hover,
.gray-bg .owl-next:hover {
	background-color: #333333;
	color: #f1f1f1;
}
.gray-bg .owl-next {
	background-color: #ffffff;
}
.owl-controls .owl-buttons div:after {
	font-family: "fontello";
	font-size: 18px;
	line-height: 26px;
}
.owl-prev:after {
	content: "\e87c";
}
.owl-next:after {
	content: "\e87d";
}
.no-touch .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}
.content-slider-with-controls {
	margin-bottom: 20px;
}
.content-slider-with-controls .owl-controls,
.content-slider-with-controls-autoplay .owl-controls {
	margin-bottom: 0;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
	top: 50%;
	margin-top: -15px;
	background-color: #00b8f1;
	color: #f1f1f1;
}
.content-slider-with-controls .owl-buttons div.owl-next,
.content-slider-with-controls-autoplay .owl-buttons div.owl-next {
	left: auto;
	right: 0;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
	background-color: #f1f1f1;
	color: #00b8f1;
}
.content-slider-with-controls-bottom .owl-controls .owl-pagination {
	bottom: -30px;
}
.content-slider-with-controls-bottom .owl-controls .owl-page span {
	background: #acacac;
}
.owl-controls .owl-pagination {
	position: absolute;
	
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 100%;
}
.owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}
.owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 4px;
	background: #ffffff;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
	background: #00b8f1;
}
/* 10 IE8 Support
----------------------------------------------------------------------------- */
.ie8 .tp-caption{
	line-height: 1.5!important;
}
.ie8 .overlay {
	background-color: rgb(241, 241, 241);
	display: none;
	opacity: 0.8!important;
	filter: alpha(opacity=80)!important;
}
.ie8 a.overlay i { 
	display: none;
}
.ie8 .overlay-container:hover a.overlay i,
.ie8 .overlay-container:hover .overlay { 
	display: block;
}






/* startUps page
----------------------------------------------------------------------------- */
.bg-startup {
	background-color:#4357d6;
	background-image:url(../images/bg-startup.jpg);
	background-size:cover;
}

.pad10 {
	padding:0 15px;
}

.margin20 {
	margin:20px;
   
}

.startup-list-img {
	width:120px;
	height:120px;
	border:1px solid #eeeeee;
}

.bg-startup-list {
	font-size:12px;
	background-color:#fbfbfb;
	padding:3px 10px;
}

.font-red {
	color:#ec7162;
}

.bg-startup-list a {
	color:#6f6f6f;
}


.light-bule {
	color:#8ad7f7;
}

#startupImg .owl-controls .owl-pagination {
    position: absolute;
    bottom: 25px !important;
   
}


#about-us .table {
   margin-bottom: 0px !important; 
}

#about-us .table > tbody > tr > td {
	padding: 5px 8px;
	font-size:12px;
}





/* startup page
----------------------------------------------------------------------------- */
.bg-each-startup {
	color:#FFF;
	font-size:14px;
	background-color:#0071cf;
	font-weight:200;
	padding-top:50px;
	padding-bottom:25px;
}

.bg-each-startup h2 {
	color:#fff;
	font-size:48px;
	letter-spacing: 5px;
	font-weight:lighter;
	line-height:48px;
}




.photo {
    -webkit-box-shadow: rgba(0,0,0,.05) 0 1px 4px;
    box-shadow: rgba(0,0,0,.05) 0 1px 4px;
    width: 37px;
    height: 37px;
    line-height: 35px;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #e9eaec;
    border-left: 1px solid #e9eaec;
    border-top: 1px solid #F7F8F9;
    margin-right: 12px;
	float:left;
}


.photo+.text {
    margin-left: 49px;
    width: 100%;
	vertical-align: top;
	margin-top:0;
	margin-right: 30px;
	display: table-cell;
}


.text>.role_title {
    color: #999;
    font-weight: 700;
}


.text>.comment {
    font-size: .92308em;
    line-height: 1.625em;
    color: #999;
   

}


.text>.name a {
    color: #333;
    font-weight:700; 
}

.view_all {
    float: right;
    margin-bottom: 1.5em;
    display: block;
}



/* investor page
----------------------------------------------------------------------------- */
.top-gap {
    padding-top: 40px;
}

.investor-slider-img {
	width:105px;
	height:105px;
}

.list-img {
	width:50px;
	height:50px;
	margin-right:15px;
}

.investor-box-size {
	width:360px;
	margin-left:40px;
}

.gap30 {
	margin-left:30px;
	margin-right:30px;
}

.bg-purple {
	background-color:#7837ac;
	background-image:url(../images/bg-investor.jpg);
	background-size:cover;
}


#owl-demo .item{
  background: #FFF;
  padding: 30px 0px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.widget {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.widget .widget-head {
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);    
    text-shadow: 0px 1px #fff;
    border-top: 1px solid #fff;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 25px;
	line-height:25px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}


.table h5 {
    margin-top: 2px;
    margin-bottom: 4px;
	color:#00baf3;
}


.badge－blue {
    border-radius: 0;
    position: absolute;
    border-color: transparent;
    top: -1px;
    left: -1px;
    font-weight: 400;
	font-size:12px;
	background-color:#F00;
	padding: 2px 4px 3px;
    font-size: 10px;
    margin-left: 12px;
}

.has-badge {
	
	margin-right:40px;
	
}

.font10 {
	font-size:10px;
}

.badge-sm {  
    background-color:#00baf3 !important;
	color:#fff !important;
	border: 1px solid #02aade !important;
}



/* signup_success
----------------------------------------------------------------------------- */

.icon-bg {
	vertical-align:middle;
	margin: auto;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #00b8f1;
    color: #ffffff;
	border-radius: 50px;
	line-height:80px;
	font-size: 48px;
	
}


.icon-bg i {
	font-size: 48px;
	line-height:80px;
	
}

/* sign_up
----------------------------------------------------------------------------- */
.banner-narrow{

    height:420px;    
    position:relative;
    overflow:hidden;
}



.body-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
}

.bgform {
	background-color: #f7f7f7;
}


.darkgray-bg {
	background-color:#999;
}

.alert-red {
	color:#e84c3d;
	}

/* sign in modal
----------------------------------------------------------------------------- */
@media (min-width: 768px) {
 
  .modal-login {
    width: 450px;
  }

  .modal-md {
    width: 700px;
  }
}


.forms-container {
  
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



.social-media-sign-up a.sign-up-block {
  color: #fff;
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.social-media-sign-up a.sign-up-block:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

.social-media-sign-up .in-sign-up {
  background-image: url(../images/social-media/social-media-linkedIn.png);
  background-color: #3b5998;
}

.social-media-sign-up .wechat-sign-up {
  background-image: url(../images/social-media/social-media-wechat.png);
  background-color: #00b8f1;
}


.or-divider {
    height: 2px;
    background-color: #e8e8e8;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    position: relative;
}

.or-divider:after {
    content: 'or';
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.centered-column {
  float: none;
  margin: 0 auto;
}

.vertical-divider-right-login {
  border-right: 1px solid #eeeeee;
  padding-right: 50px;
  margin-right: 20px;
}



.widthfull {
	min-width: 100% !important;
}

/* page-info
----------------------------------------------------------------------------- */

.page-info {
  padding-top: 16px;
  padding-bottom: 7px;
  background-color:#00b8f1;
}

.h1-page-title {
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 20px;
  font-size: 26px;
    text-transform: uppercase;
	color: #ffffff;
}

/* user_signUp.html
----------------------------------------------------------------------------- */
.userimg {
	width:200px;
	height:200px;	
	border-width:3px;	
    border-style:solid;
	border-color:#FFF;
}


/* profile page start profile_user.html
----------------------------------------------------------------------------- */

.top30 {
	margin-top:22px;
}


.follow {
	padding:5px;	
}

.font14 {
	font-size:14px !important;
	font-weight:300;
	
}

.font20 {
	font-size:20px;
}


.vertical-top-5 {
	vertical-align: 5px;
}

.font30 {
	font-size:30px;
	color:#696969;
}



.color-light-gray {
	color:#929495;
}



.font18 {
	font-size:18px;
	line-height:30px;
	color:#0e0d0d;
}

.follow img {
	width:50px;
	height:50px;
	margin:5px;
}

.ag-bule {
	color:#01b9f5;
}

.white {
	color:#fff;
}

.h1color {
	color:#747372;
	font-weight:300;
	font-size:36px;
}




tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}



/* profile_investor
----------------------------------------------------------------------------- */
.project-list {
	
}

.project-list img {
	width:90px;
	height:90px;
	margin-right:10px	
}


/* creart_startup
----------------------------------------------------------------------------- */

.form-size-statup {
  width: 100%;
  
  font-size:14px;
  
}


.pn_bg {
	
	font-size:24px;
}


/* bp-review.html
----------------------------------------------------------------------------- */
.bg-bp {
	background-color:#fcfcfc;
}	
	
.a {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
	
}
.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
	border: 1px solid #999;
}


.rate-start {
	float:left;
	width:100px;
}

.rate-score {
	float:left;
	width:10px;
}

.post-date {
	font-size:12px;
	color:#999;
}

.post-img {
	width:40px;
	height:40px;
	border-radius:50%;
}

#reviewList .post-title {
	line-height:18px;
	font-size:18px;
	color:#000;
	font-weight:bolder;
	
}

/* Sign in top
----------------------------------------------------------------------------- */
.count-email {
	font-size:18px;
	top:8px;
	position:absolute;
	right: 23px;
	
}

.label-blue {
    background-color: #00b8f1;
}


.count-info {
    line-height: 12px;
    padding: 2px 5px;
    
    top: -3px !important;
}


.signIn-img {
	width:25px;
	height:25px;
	border-radius:50%;
}


.pad4 {
	padding: 4px 10px !important;
}

.sign-down {
	color:#555657;
	font-weight:bold;
	font-size:14px;
}

.sign-down:before {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    left: auto;
    top: 10px;
    right: 6px;
    line-height: 1;
    color: #ababab;
}


.sign-down-list {
    padding: 0;
    min-width: 230px !important;
    font-size: 14px;
    right: -1px;
}

.email-down-list {
    padding: 0;
    min-width: 280px !important;
    font-size: 12px;
    right: -1px;
}

.email-down-list img {
	width:30px;
	height:30px;
	border-radius:50%;
	margin:0;
	
}


.email-down-list .table > tbody > tr > td {
   padding: 12px 8px !important;;
}

.pad0 {
     padding: 0px !important;
	
}

.th2 {
	height:4px;
	padding:0  !important;
}

.bottom0 {
	margin-bottom: 0px !important; 
}

.down-list > a {
    color: #666;
}
.down-list > a > i {
	margin-right:10px;
}

.down-email-td {
	width:50px;
}


/* bp-upload
----------------------------------------------------------------------------- */

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.top10 {
	margin-top:10px;
}

/* email_user
----------------------------------------------------------------------------- */

.margin_15 {
	margin-right:15px;
}

.email-img {
	height:40px;
	width:40px;
	margin-right:15px;
	
}

.email a {
	color:#666666;
}

.email > tbody > tr > td {
	padding-top:20px;
	padding-bottom:20px;
}

.vtop  > tbody > tr > td {
	vertical-align:top;
}

.btn-delete {
	color:#999;
	font-size:16px;
}

.btn-delete:hover {
	color:#00b8f1;
}

.new-email {
	
	
}

.new-email td:nth-child(2) a {
	font-weight:bolder;
	color:#454545;
}

.email-title {
	margin-top:50px;
	margin-bottom:10px;
}